@import '../../../styles';

.essay-content-html {
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  //font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
  font-family: sans-serif;
  //letter-spacing: .01rem; // overriden by -0.003em because it comes afterwards
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
}
