<div class="container row">
  <ng-container *ngIf="essay">

    <div class="col-sm-12">
      <h3 style="text-align: center; "> {{essay.title}} </h3>
    </div>

  <div class="col-sm-12 col-md-10  offset-md-1">
      <a *ngIf="userProfile && (userProfile.user==essay.user.id || userProfile.is_atila_admin)" [routerLink]="[ '/essay/edit', essay.id ]">Edit Essay</a>
      <div *ngIf="!essay.published" style="font-weight: bold; "> | Unpublished</div>
      <!--<img src="{{essay.header_image_url}}" style="max-height: 100%;max-width: 100%" class="center-block"/>-->

      <div class="card">
        <div *ngIf="essay.user" style="margin: 3%">
          <a routerLink="/profile/{{essay.user.username}}">
            <div class="chip">
              <img style="max-width: 50px" [src]="essay.user.profile_pic_url"
                   alt="Blog Author">
              <a routerLink="/profile/{{essay.user.username}}">
                {{essay.user.first_name}} {{essay.user.last_name}}
              </a>
            </div>
          </a>
        </div>
        <a class="card-action" *ngIf="essay.essay_source_url" [href]="essay.essay_source_url" target="_blank">View Original Essay</a>
      </div>

      <hr>

      <h4>About This Essay</h4>
      <blockquote class="essay-content-html" style="font-style: italic">
        {{essay.description}}
      </blockquote>
      <!--<div [froalaView]="essay.body" ></div>-->
      <div class="blog-text inner-html essay-content-html" [innerHTML]="essay.body | safeHtml"></div>

    </div>

  </ng-container>

  <!-- Loading progress bar -->
  <div class="col-sm-12 ng-star-inserted"
       style="margin-top: 5%;margin-bottom: 5%;">
    <h3 class="center">
      Loading Essay...
    </h3>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

</div>
