<div class="container row">


    <div *ngIf="essay">

              <span class="col s12 m8"><!--col-sm-12-->
                <h3 style="text-align: center; "> {{essay.title}} </h3>
              </span>

      <div class="col s12 m8"><!--col-sm-12 col-md-10  offset-md-1-->
        <a *ngIf="userProfile && (userProfile.user==essay.user.id || userProfile.is_atila_admin)" [routerLink]="[ '/essay/edit', essay.id ]">Edit Essay</a>
        <div *ngIf="!essay.published" style="font-weight: bold; "> | Unpublished</div>
        <!--<img src="{{essay.header_image_url}}" style="max-height: 100%;max-width: 100%" class="center-block"/>-->

        <div class="card">
          <div *ngIf="essay.user" style="margin: 3%">
            <a routerLink="/profile/{{essay.user.username}}">
              <div class="chip">
                <img style="max-width: 50px" [src]="essay.user.profile_pic_url"
                     alt="Blog Author">
                <a routerLink="/profile/{{essay.user.username}}">
                  {{essay.user.first_name}} {{essay.user.last_name}}
                </a>
              </div>
            </a>
          </div>
          <a class="card-action" *ngIf="essay.essay_source_url" [href]="essay.essay_source_url" target="_blank">View Original Essay</a>
        </div>

        <hr>

        <h4>About This Essay</h4>
        <blockquote class="essay-content-html" style="font-style: italic">
          {{essay.description}}
        </blockquote>
        <!--<div [froalaView]="essay.body" ></div>-->
        <div class="blog-text inner-html essay-content-html" [innerHTML]="essay.body | safeHtml"></div>

      </div>

      <!-- Side Widget -->
      <div class="col s12 m4 offset-8"> <!--col-md-4 offset-8-->

        <!--<div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
-->
        <div class="card my-4">

          <div *ngIf="relatedItems" class="row">
            <div style="width: 100%; margin-left: 5%" class="row"><h5>Related</h5> <span style="font-size: smaller; color: #194F87">Beta</span></div>
            <div  *ngFor="let item of relatedItems; let i = index; first as isFirst;" class="col-sm-4 col-md-12 ">
              <div (click)="logRelatedItemClick(item)">
                <app-card-generic class="hide-on-small-and-down" [item]="item" [metadata]="{hideDescription: item.image}" [cardStyle]="{'height': '300px', 'overflow-y': 'hidden'}"> </app-card-generic>
                <app-card-generic class="hide-on-med-and-up" [item]="item" [metadata]="{hideDescription: item.image}" [cardStyle]="{'max-height': '300px', 'overflow-y': 'hidden'}"> </app-card-generic>
              </div>
            </div>
          </div>
          <!--<h5 class="card-header">Side Widget</h5>
          <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
          </div>-->
        </div>

        <!--<div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>-->


      </div>


      <!-- TODO: Should we ask the user occasionally to subscribe? Even if already logged in? -->
    <span>
      <!--<div *ngIf="!isLoggedIn" class="row center" style="text-align: center;margin-bottom: 0px;">-->
        <!--<p style="font-size: medium" class="col-sm-6">Subscribe to get updates on new <a routerLink="/blog">blogs</a>,-->
          <!--<a routerLink="/forum">forum posts</a>, <a routerLink="/">scholarships</a> and new product features.-->
  <!---->
          <!--<span *ngIf="subscriber.response" style="color: green">-->
                    <!--<br>-->
                    <!--{{subscriber.response}}-->
              <!--</span>-->
        <!--</p>-->
  <!---->
  <!---->
        <!--<mat-form-field class="browser-default col-sm-3 ">-->
          <!--&lt;!&ndash; <input matInput [(ngModel)]="model.city[0]" name="city" id="city" required placeholder="City"> &ndash;&gt;-->
          <!--<input matInput type="email" class="form-control" style="padding-bottom: 0; margin-bottom: 0"  name="email" id="emailid"-->
                 <!--placeholder="Email Address" email [(ngModel)]="subscriber.email" (keyup.enter)="addSubscriber($event)">-->
        <!--</mat-form-field>-->
        <!--<a class="waves-effect waves-light btn browser-default col-sm-2 register-btn" style="background-color:#4080ff; " (click)="addSubscriber()">Subscribe</a>-->
  <!---->
  <!---->
      <!--</div>-->
  <!---->
      <!--<div *ngIf="relatedItems" class="row">-->
        <!--<div style="width: 100%; margin-left: 5%" class="row"><h5>Related</h5> <span style="font-size: smaller; color: #194F87">Beta</span></div>-->
        <!--<div  *ngFor="let item of relatedItems; let i = index; first as isFirst;" class="col-md-4">-->
          <!--<div (click)="logRelatedItemClick(item)">-->
            <!--<app-card-generic class="hide-on-small-and-down" [item]="item" [metadata]="{hideDescription: item.image}" [cardStyle]="{'height': '300px', 'overflow-y': 'hidden'}"> </app-card-generic>-->
            <!--<app-card-generic class="hide-on-med-and-up" [item]="item" [metadata]="{hideDescription: item.image}" [cardStyle]="{'max-height': '300px', 'overflow-y': 'hidden'}"> </app-card-generic>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
  <!---->
      <!--<div class="col-sm-11 comment-box">-->
        <!--<h5 > Comments </h5>-->
  <!---->
        <!--<mat-card *ngIf="userComment" class="comment-card">-->
  <!---->
          <!--<mat-card-content>-->
            <!--<input id="blog_post_title" placeholder="Title (optional)" [(ngModel)]="userComment.title">-->
            <!--<textarea style="height: 5rem" id="blog_post_comment_text" placeholder="What do you think?" [(ngModel)]="userComment.text">-->
                          <!--</textarea>-->
          <!--</mat-card-content>-->
  <!---->
          <!--<mat-card-actions>-->
            <!--<button mat-raised-button style="background-color: #4080ff;" class="btn white-text" (click)="postComment()">Post</button>-->
          <!--</mat-card-actions>-->
  <!---->
        <!--</mat-card>-->
  <!---->
        <!--<div  *ngFor="let comment of comments; i as index; first as isFirst; trackBy:trackByFn" class="comments">-->
          <!--<app-comment  [comment]="comment" commentType="Forum"> </app-comment>-->
        <!--</div>-->
  <!---->
      <!--</div>-->
    </span>


  <!-- Loading progress circle -->
  <div *ngIf="!essay" class="preloader-background">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
