<h2 mat-dialog-title>You have viewed {{ title || 'N'}} pages this month</h2>


<mat-dialog-content>Consider hepling others?</mat-dialog-content>
<h2 mat-dialog-title>You have viewed {{ title || 'N'}} pages this month</h2>

<h3 mat-dialog-title>Consider Helping Others?</h3>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Yes</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">No, I don't want to help others</button>
</mat-dialog-actions>
