  <footer class="page-footer ">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
            <a routerLink="/blog/tomiwa/what-is-atila" class="white-text" style="text-decoration: underline;"><h5 >What is Atila?</h5></a>
          <p class="grey-text text-lighten-4">Atila aims to improve access to education by automating the scholarship application process.
            <a routerLink="/blog/tomiwa/what-is-atila">Automatically find and apply</a> to scholarships at the click of a button.
            <!--<a href="https://www.youtube.com/watch?v=NHgcgyCVW6I">This page</a> is a good explanation of Atila. -->
          </p>

        </div>
        <div class="col l3 s12">
          <h5 >Explore</h5>
          <ul>
            <li><a  routerLink="/blog/tomiwa/what-is-atila">About</a></li>
            <li><a  routerLink="/team">Team</a></li>
            <li><a  routerLink="/blog">Blog</a></li>
            <li><a  routerLink="/profile/atilaeng">Engineering</a></li>
            <li><a  href="mailto:ta@tomiwa.ca">Contact</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 >Connect</h5>
          <ul id="connect-links">
            <li><a  target="_blank" href="https://www.facebook.com/atilatech1/"><mat-icon svgIcon="facebook-box"></mat-icon></a></li>
            <li><a  target="_blank" href="https://www.youtube.com/channel/UCG2iWiYgJYkjBl4EdYGI5mw/"><mat-icon svgIcon="youtube-play"></mat-icon></a></li>
            <li><a  target="_blank" href="https://twitter.com/atilatech"><mat-icon svgIcon="twitter"></mat-icon></a></li>
            <li><a  target="_blank" href="https://www.instagram.com/atilatech/"><mat-icon svgIcon="instagram"></mat-icon></a></li>
            <li><a  target="_blank" href="http://snapchat.com/add/atilatech"><mat-icon svgIcon="snapchat"></mat-icon></a></li>
            <!-- <li><a  title="atilatech" target="_blank" routerLink="/"><mat-icon svgIcon="snapchat"></mat-icon>: atilatech</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <!-- TODO: Find a way to give credit to materialize for the template. -->
    <!-- <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div> -->
  </footer>
