@import '../../styles.scss';

.page-footer{
    background-color: $primary;
    color: white
}

ul#connect-links li {
    display:inline;
}
a{
    color: #6BB2F0 !important;
}
li a{
    color: white !important;
}

li:hover{
    color: #5096D4 !important;
  }
