<mat-dialog-content>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{userProfile.first_name}},
          We're missing some information for your account.</h5>
      </div>
      <div class="modal-body">
        <!--Ask for userProfile first if it does not already exist, else Ask for school first-->
        <div *ngIf="!userProfile.major">
          <p class="modal-subheader">What's your major?</p>
          {{userProfile.major}}
          <app-typeahead [dataset]="MAJORS_LIST" [model]="userProfile.major" [metadata]="{'key': 'major','disableFocusFirst': true}"
                         (typeaheadSelectedEvent)="typeaheadEvent($event)">

          </app-typeahead>
          <p class="modal-subheader">What School do you attend or are you interested in?</p>
          {{userProfile.post_secondary_school}}
          <app-typeahead [dataset]="SCHOOLS_LIST" [model]="userProfile.post_secondary_school" [metadata]="{'key': 'post_secondary_school','disableFocusFirst': true}"
                         (typeaheadSelectedEvent)="typeaheadEvent($event)"></app-typeahead>
        </div>

        <div *ngIf="userProfile.major">

          <p class="modal-subheader">What School do you attend or are you interested in?</p>
          {{userProfile.post_secondary_school}}
          <app-typeahead [dataset]="SCHOOLS_LIST" [model]="userProfile.post_secondary_school" [metadata]="{'key': 'post_secondary_school','disableFocusFirst': true}"
                         (typeaheadSelectedEvent)="typeaheadEvent($event)"></app-typeahead>
          <p class="modal-subheader">What's your major?</p>
          {{userProfile.major}}
          <app-typeahead [dataset]="MAJORS_LIST" [model]="userProfile.major" [metadata]="{'key': 'major','disableFocusFirst': true}"
                         (typeaheadSelectedEvent)="typeaheadEvent($event)"></app-typeahead>

        </div>


        <a  (click)="seeMore= !seeMore">See More</a>
        <hr>


          <div class="row" *ngIf="seeMore">

            <div *ngFor="let entry of Object.keys(autoCompleteLists)" class="col-12">

              <ng-container *ngIf="entry==='eligible_programs'">
                <p class="modal-subheader">What Other programs are you interested in?</p>
              </ng-container>
              <ng-container *ngIf="entry==='eligible_schools'">
                <p class="modal-subheader">What Other Schools are you interested in?</p>
              </ng-container>

              <table>
                <p style="font-weight: bold">

                  {{prettifyKeys(entry)}}  {{entry == 'citizenship' ? 'or permanent residency': ''}}

                </p>
                <tr  *ngFor="let item of userProfile[entry]; let i = index" ngDefaultControl>
                  <td>{{item}} </td>
                  <td>
                    <a class="waves-effect waves-light btn right" (click)="deleteArrayitem( userProfile[entry], i)">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              </table>

              <app-typeahead [model]="userProfile[entry]" [dataset]="autoCompleteLists[entry]"
                             [metadata]="{'placeholder':prettifyKeys(entry), 'key': entry,'col':'col-sm-6'}">
              </app-typeahead>
            </div>

          </div>

        You can visit<a routerLink="profile/edit" (click)="dialogRef.close()"> edit profile</a> to complete your profile.
      </div>

      <div class="modal-footer row">
        <button type="button" class="btn btn-primary col-sm-12" [mat-dialog-close]="userProfile">Save Changes</button>
        <button type="button" class="btn btn-secondary col-sm-12 grey" style="margin-top: 2%; margin-right: 1%; margin-left: 0" (click)="dialogRef.close()">Later</button>
      </div>
</mat-dialog-content>
