<div class="card" [ngStyle]="cardStyle">
  <div class="card-title card-header"  [ngStyle]="{'max-height': item.image && !previewDescription ? '250px' : null}">
    <a *ngIf="item.title" [routerLink]="item.slug" [title]="item.title" (mouseenter) ="titleMaxLength=item.title.length"  (mouseleave)="titleMaxLength=100">

      {{previewDescription? item.title : item.title | truncate:titleMaxLength }}

    </a>
    <p *ngIf="item.type" class="card-subtitle text-muted " style="font-size: small;">
      {{toTitleCase(item.type)}}
    </p>
    <p *ngIf="item.status" class="card-subtitle text-muted bold mt-1" style="font-size: small;">
      Status: {{toTitleCase(item.status)}}
    </p>
  </div>
  <div class="card-image" *ngIf="item.image && !previewDescription">
    <a [routerLink]="item.slug">
      <img [src]="item.image" >
    </a>

  </div>
  <div class="my-card-content" *ngIf="!metadata.hideDescription || previewDescription">
    <p class="card-text" *ngIf="item.description">
      {{item.description | truncate:280}}
    </p>
  </div>
<a (click)="togglePreview()" class="card-footer">Preview</a>
</div>
