@import '../../styles.scss';

#description{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 5rem;
}

#critera-info{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 10rem;
}

.location-button{
    margin: 1%;
}