<div [formGroup]="form">
    <!-- <label [attr.for]="question.key">{{question.label}}</label> -->

    <div [ngSwitch]="question.controlType">


    <mat-form-field class="col-sm-12" *ngSwitchCase="'textfield'">
      <input  matInput class="browser-default"   [formControlName]="question.key" [placeholder]="question.label"
              [id]="question.key" [type]="question.type" [(ngModel)]="generalData.application.responses[question.key]"
              [required]="question.required ? 'required' : null">
    </mat-form-field>


    <!-- TODO: Figure out why it displays as an input element and not as a textarea element.
    May have something to do with the runtime rendering order. -->
      <mat-form-field class="col-sm-12"  *ngSwitchCase="'textarea'">
        <textarea matInput [placeholder]="question.label" [id]="question.key"
        [formControlName]="question.key" [(ngModel)]="generalData.application.responses[question.key]" [required]="question.required ? 'required' : null"></textarea>
      </mat-form-field>

    <mat-form-field class="col-sm-12" *ngSwitchCase="'date'">
      <label>{{question.label}}</label>
        <input matInput [formControlName]="question.key" [(ngModel)]="generalData.application.responses[question.key]"
                [id]="question.key" [type]="question.type" [required]="question.required ? 'required' : null">
    </mat-form-field>

    <div class="col-sm-12" *ngSwitchCase="'checkbox'">
      <mat-checkbox [formControlName]="question.key" [(ngModel)]="generalData.application.responses[question.key]"
                    [id]="question.key" [required]="question.required ? 'required' : null" color="primary" class="dynamic-question">
        {{question.label}}</mat-checkbox>
        <a *ngIf="question.link" [name]="question.key+'_link'" target="_blank"
           [href]="question.link"> More Info </a>
    </div>

    <mat-select matInput [id]="question.key" *ngSwitchCase="'dropdown'" [required]="question.required ? 'required' : null"  [formControlName]="question.key" multiple=true [placeholder]="question.label">
      <mat-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</mat-option>

    </mat-select>
    <!-- <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
      </select>-->

    <mat-form-field *ngSwitchCase="'number'" class="col-sm-12">
          <input class="browser-default" matInput [(ngModel)]="generalData.application.responses[question.key]" type="number" [formControlName]="question.key"
          [id]="question.key" [type]="question.type" [placeholder]="question.label"  [required]="question.required ? 'required' : null">

    </mat-form-field>

    <div class="col-sm-12" *ngSwitchCase="'file'">
      <div class="dyanamic-form-file-input">

          {{question.label}}
          <!-- TODO: Add required attribute later, its giving me problems with file inputs ATM. May have to use a custom directive for required file inputs. -->
          <!--  this means if the question answer doesn't already exist and the question is required.-->
          <!--  [required]="!generalData.application.responses[question.key] && question.required ? 'required' : null"  -->
        <small *ngIf="question.required">*Required</small>
          <input [formControlName]="question.key"
        [id]="question.key" [placeholder]="question.label"[type]="question.type" (change)="fileChangeEvent($event)">

        <div *ngIf="generalData.application.responses[question.key]" class="col-sm-3">
          <a  class="scholarship-document" [name]="question.key" target="_blank" href="{{generalData.application.responses[question.key]}}"> View Document ({{question.key}}) </a>
      </div>
    </div>
    </div>
    <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div> -->



    </div>

  </div>
