@import '../../styles.scss';

.dyanamic-form-file-input{
  border: dashed .1px;
  padding: 1%;
}

:host/deep/ .mat-checkbox-input{
  background-color: $primary;
}


:host/deep/ .mat-form-field-placeholder {
  white-space: normal;
}

:host/deep/ .mat-checkbox-layout {
  white-space: normal;
}