<div [formGroup]="form">
    <!-- <label [attr.for]="question.key">{{question.label}}</label> -->
  
    <div [ngSwitch]="question.controlType">
  
  
    <md-input-container class="col s12" *ngSwitchCase="'textfield'">       
      <input  mdInput class="browser-default"   [formControlName]="question.key" [placeholder]="question.label"
              [id]="question.key" [type]="question.type" [(ngModel)]="appData[question.key]" [required]="question.required ? 'required' : null">
    </md-input-container>
    
  
    <!-- TODO: Figure out why it displays as an input element and not as a textarea element.
    May have something to do with the runtime rendering order. -->
      <md-input-container class="col s12"  *ngSwitchCase="'textarea'">
        <textarea mdInput [placeholder]="question.label" [id]="question.key" 
        [formControlName]="question.key" [(ngModel)]="appData[question.key]" [required]="question.required ? 'required' : null"></textarea>
      </md-input-container>
  
    <md-input-container class="" *ngSwitchCase="'date'">
      <label>{{question.label}}</label> 
        <input mdInput [formControlName]="question.key"
                [id]="question.key" [type]="question.type" [required]="question.required ? 'required' : null">
    </md-input-container>
  
    <md-select mdInput [id]="question.key" *ngSwitchCase="'dropdown'" [required]="question.required ? 'required' : null"  [formControlName]="question.key" multiple=true [placeholder]="question.label">                
      <md-option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</md-option>

    </md-select>
    <!-- <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
      </select>-->

    <md-input-container *ngSwitchCase="'number'" class="col s12">
          <input class="browser-default" mdInput id="phone_number" type="number" [formControlName]="question.key"
          [id]="question.key" [type]="question.type" [placeholder]="question.label"  [required]="question.required ? 'required' : null">
          
    </md-input-container>

    <span *ngSwitchCase="'file'">
        {{question.label}}
        <!-- TODO: Add required attribute later, its giving me problems with file inputs ATM.[required]="question.required ? 'required' : null" -->
      <input [formControlName]="question.key"
      [id]="question.key" [placeholder]="question.label" [type]="question.type"  (change)="fileChangeEvent($event)">
    
      <div *ngIf="appData[question.key]" class="col s3">
        <a  class="scholarship-document" [name]="question.key" target="_blank" href="{{appData[question.key]}}"> View Document ({{question.key}}) </a>
    </div>
    </span>

    <!-- <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div> -->
    </div> 

  </div>