<div class="container row">

        <div class="col-sm-12 col-md-8 offset-md-2 blog-box">
          <h4 style="text-align: center;">Blogs</h4>

          <mat-card class="mat-card">
          <mat-card-content>
            <a routerLink="/blog/add">
              <button button mat-icon-button >
                  Write a Blog Post
                  <mat-icon  class="atila-blue" aria-hidden="true" aria-label="Add a Blog Post" md-colors="{color:'primary'}">add_circle_outline</mat-icon>
              </button>
            </a>
          </mat-card-content>

          </mat-card>
        </div>
        <div *ngFor="let blog of blogs; let i = index" class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 blog-box">

          <div class="card">
            <div class="card-content ">
              <span class="card-title responsive-height">
                <a routerLink="/blog/{{blog.user.username}}/{{blog.slug}}">{{blog.title | truncate:75}}</a>
                <span *ngIf="!blog.published" style=" font-size: medium; font-weight: bold; ">Unpublished</span>
              </span>
              <span *ngIf="blog.user">
                <a routerLink="/profile/{{blog.user.username}}">
                  <div class="chip">
                    <img style="max-width: 50px" [src]="blog.user.profile_pic_url"
                         alt="Author">
                    <a routerLink="/profile/{{blog.user.username}}">
                    {{blog.user.first_name}} {{blog.user.last_name}}
                    </a>
                  </div>
                </a>
              </span>
            </div>

            <div class="card-image">
              <a routerLink="/blog/{{blog.user.username}}/{{blog.slug}}">
              <img [src]="blog.header_image_url">
              </a>
            </div>
            <div class="card-content ">
              <p style="font-size: larger">{{blog.description| truncate:280}}</p>
            </div>

            <div class="card-action">
              <a (click)="likeContent(blog)" [ngStyle]="{'background-color': blog.alreadyLiked ? '#4080FF' : 'transparent'}"
                 class="btn-floating halfway-fab waves-effect waves-light left interactive-btn" style="left: 15px; bottom: 10px">
                <mat-icon class="material-icons interactive-icon md-36"  [ngStyle]="{'color': blog.alreadyLiked ? 'white' : '#4080FF'}"
                          svgIcon="thumb-up-outline"></mat-icon></a>
              <a routerLink="/blog/{{blog.user.username}}/{{blog.slug}}" class="btn-floating halfway-fab waves-effect waves-light left"
                 style="left: 70px; bottom: 10px">
                <p class="btn-text">{{blog.up_votes_count}}</p>
              </a>
              <a  routerLink="/blog/{{blog.user.username}}/{{blog.slug}}" class="btn-floating halfway-fab waves-effect waves-light left" style="left: 125px; bottom: 10px">
                <i class="material-icons md-36">comment</i></a>
              <a routerLink="/blog/{{blog.user.username}}/{{blog.slug}}" class="btn-floating halfway-fab waves-effect waves-light left"
                 style="left: 180px; bottom: 10px">
                <p class="btn-text">{{blog.metadata['comments_count']}}</p>
              </a>
              <app-share-item [item]="{title: blog.title,
                url:'https://atila.ca/blog/'+blog.user.username+'/'+blog.slug+'/',
                id: blog.id, source:'blog_list',type:'blog'}" [metadata]="{'shareItemStyle': {'left': '225px','bottom': '10px'} }"></app-share-item>

            </div>
            </div>

        </div>

  <div class="col-md-4">


      <!-- Loading progress circle -->
      <div *ngIf="!blogs " class="preloader-background">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
