@import '../../styles.scss';
// TODO: Import styles fromc reate profile
textarea.mat-input-element {
    border: 1px solid $primary;
    height: 15rem;
    line-height: 30px;
}

.hidden{
    display: none;
}


:host /deep/ div.mat-autocomplete-panel {
  min-width: 250px;
  display: block;
}


/*
.mat-autocomplete-panel{
  min-width: 250px;
}

.mat-select-trigger{
  min-width: 300px;
}
*/
