<div class="container">
  <div class="card">
    <div class="row">
      <div class="card-content">
      
      <form #profileForm="ngForm" (ngSubmit)="saveProfile(profileForm)" class="col s12">
        <div [ngClass]='{hidden: !profileInfo}'>
          <h4>Edit <span *ngIf="userProfile.first_name">{{userProfile.first_name}}'s</span> Profile</h4>
          <div class="row">
            <md-input-container class="col s6">
              <input class="browser-default" mdInput id="first_name" type="text" required minlength="2" placeholder="First name"
                [(ngModel)]="userProfile.first_name" name="first_name">
            </md-input-container>
            <md-input-container class="col s6">
              <input class="browser-default" mdInput id="last_name" type="text" required minlength="2" placeholder="Last Name"
                [(ngModel)]="userProfile.last_name" name="last_name">
            </md-input-container>
          </div>
          <div class="row">
            <md-input-container class="col s12">
              <input class="browser-default" mdInput id="street_address" type="text" required placeholder="Street Address"
                [(ngModel)]="userProfile.street_address" name="street_address">
            </md-input-container>
          </div>
          <div class="row">
            <md-input-container class="col s12">
              <input class="browser-default" mdInput id="postal_code" type="text" required placeholder="Postal Code"
                [(ngModel)]="userProfile.postal_code" name="postal_code">
            </md-input-container>
          </div>
          <div class="row">
            <md-input-container class="col s12">
              <input class="browser-default" mdInput id="city" type="text" required placeholder="City"
                [(ngModel)]="userProfile.city" name="city">
            </md-input-container>
          </div>
          <div class="row">
              <md-input-container class="col s12">
                  <input class="browser-default" mdInput id="province" type="text" required placeholder="Province/State"
                    [(ngModel)]="userProfile.province" name="province">
                </md-input-container>
          </div>
          <div class="row">
              <md-input-container class="col s12">
                  <input class="browser-default" mdInput id="country" type="text" required placeholder="Country"
                    [(ngModel)]="userProfile.country" name="country">
                </md-input-container>
          </div>
          <div class="row">
              <md-input-container class="col s12">
                  <input class="browser-default" mdInput id="email" type="text" placeholder="Email"
                    [(ngModel)]="userProfile.email" name="email">
                </md-input-container>
          </div>

          <div class="row">
            <label> This field is optional. We ask for your phone number because most scholarships ask for your phone number when you apply. It can also be used to help recover and further secure your account.</label>
              <md-input-container class="col s12">
                  <input class="browser-default" mdInput id="phone_number" type="number" placeholder="Phone Number"
                    [(ngModel)]="userProfile.phone_number" name="phone_number">
                </md-input-container>
          </div>
          <!-- <div class="row">
            <md-input-container class="col s12">
              <input class="browser-default" mdInput id="bus_name" type="text" required placeholder="Business Name"
                [(ngModel)]="userProfile.bus_name" name="bus_name">
            </md-input-container>
          </div> -->
          <div class="row">
            <md-input-container class="col s12">
              <label>Birth Date</label>
              <br/>
              <input class="browser-default" mdInput id="birth_date" type="date" required
                [(ngModel)]="userProfile.birth_date" name="birth_date">
            </md-input-container>
          </div>
          <div class="row">
            <div class="input-field">
              <md-select class="col s12" [(ngModel)]="userProfile.education_level"  name="education_level"  id="education_level" multiple=true placeholder="Education Type" required >                
                <md-option *ngFor="let level of EDUCATION_LEVEL" [value]="level">{{level}} </md-option>
              </md-select>
            </div>
          </div>
          <br> <div class="row">
            <div class="input-field">
              <!-- TODO: Add a Modal or hover info explaining the diff. between Art and STEM -->
              <md-select class="col s12" [(ngModel)]="userProfile.education_field"  name="education_field"  id="education_field" multiple=true required placeholder="Education Field">
                <md-option *ngFor="let field of EDUCATION_FIELD" [value]="field">{{field}} </md-option>
              </md-select>
            </div>
          </div>
          <br>
          <!-- TODO: Do we need to explain this? Perhaps do some A/B Testing? -->
          <div class="row">
            <div class="col s6">
              <!-- TODO: Get real % of scholarships asking for alternate rerefence letters. -->
              <h5> Additional Documents </h5>
              <a placement="bottom" [ngbTooltip]="tipContent">Why do I need this?</a>
              <ng-template #tipContent><b>{{documentScholarshipsPercent}}%</b> of scholarships require the following documents.
              These documents allow us to automate the application process.</ng-template>
            </div>
          </div>
          <div class="row">
              <div class="col s6">
                 <label>Upload Resume</label>
                <input class="browser-default" id="resume" type="file" placeholder="Resume"
                  name="resume" (change)="fileChangeEvent($event)">
              </div>
              <div class="col s6">
                  <label>Upload Transcript</label>
                 <input class="browser-default" id="transcript" type="file" placeholder="Transcript"
                   name="transcript" (change)="fileChangeEvent($event)">
               </div>
            </div>

          <div class="row">
              <div class="col s6">
                 <label>Upload Reference Letter </label>
                <input class="browser-default" id="reference_letter" type="file" placeholder="Reference Letter"
                  name="reference_letter" (change)="fileChangeEvent($event)">
              </div>
              <div class="col s6">
                  <label>Upload Alternate Reference Letter</label>
                 <input class="browser-default" id="reference_letter_alternate" type="file" placeholder="Alternate Reference Letter"
                   name="reference_letter_alternate" (change)="fileChangeEvent($event)">
               </div>
            </div>
            <button type="submit" class="btn btn-success left">Save Profile</button>
            <a class="waves-effect waves-light btn right" (click)="switchPage()">Next</a>
        </div>
        <div [ngClass]='{hidden: profileInfo}'>
            <div class="row">
                  <!-- TODO: Get real % of scholarships asking for alternate rerefence letters. -->
                  <h5> Long Answer Questions </h5>
                  <p>You can answer these questions later. But remember, <b>{{documentScholarshipsPercent}}%</b> of scholarships ask at least one of these questions.
                    <br>So the more questions you answer, the more scholarships we can automate for you.</p>
                    <br><a >Need Help Answering these Questions?</a>
              </div>  
          <div class="row">
            <label> Describe your school related activities and identify your significant contributions both to school and
                community.(500 Words or less) </label><br>
              <textarea class="browser-default" mdInput id="extracurricular_description" type="text"
              placeholder="Type here..."[(ngModel)]="userProfile.extracurricular_description" name="extracurricular_description"></textarea>
          </div>

          <div class="row">
              <label> Describe your academic and career goals. (500 Words or less)</label><br>
                <textarea class="browser-default" mdInput id="academic_career_goals" type="text"
                placeholder="Type here..."[(ngModel)]="userProfile.academic_career_goals" name="academic_career_goals"></textarea>
            </div>

          <div class="row">
            <a class="waves-effect waves-light btn left" (click)="switchPage()">Back</a>
            <button type="submit" class="btn btn-success right">Save Profile</button>
          </div> 
        </div>
        
        </form>
      </div>
    </div>
  </div>
</div>
