<div class="container">
  <div class="card">
    <div class="row">
      <div class="card-content">

      <form #profileForm="ngForm" (ngSubmit)="saveProfile(profileForm)" class="col s12">
        <div [ngClass]='{hidden: !profileInfo}'>
          <h4>Edit <span *ngIf="userProfile.first_name">{{userProfile.first_name}}'s</span> Profile</h4>
          <span>
          <a [routerLink]="['../profile', userProfile.username]" >View Profile</a>
          </span>

          <div *ngIf="!environment.production || !userProfile.is_verified">
            <p> <br>
              Your account is <span style="color: red">unverified</span> 😢. <a class="waves-effect waves-light btn btn-link" (click)="verifyAccount()" style="margin-bottom: 3%">Verify Account</a>
              <br>
              {{verificationResponse}}
            </p>
          </div>

          <div *ngIf="userProfile.is_verified">
            <p> <br>
            Your account is <span style="color: green">verified</span> 😄.
            </p>
          </div>


          <div class="row">
            <mat-form-field class="col s6">
              <input class="browser-default" matInput id="first_name" type="text" required minlength="2" placeholder="First name"
                [(ngModel)]="userProfile.first_name" name="first_name">
            </mat-form-field>
            <mat-form-field class="col s6">
              <input class="browser-default" matInput id="last_name" type="text" required minlength="2" placeholder="Last Name"
                [(ngModel)]="userProfile.last_name" name="last_name">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col s12">
              <input class="browser-default" matInput id="street_address" type="text" placeholder="Street Address"
                [(ngModel)]="userProfile.street_address" name="street_address">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col s12">
              <input class="browser-default" matInput id="postal_code" type="text" placeholder="Postal Code"
                [(ngModel)]="userProfile.postal_code" name="postal_code">
            </mat-form-field>
          </div>

          <!-- fake fields to prevent chrome from autofilling location since we have Google Autocomplete -->
          <input autocomplete="false" style="display:none" type="text" name="city" />
          <input autocomplete="false" style="display:none" type="text" name="province"/>
          <input autocomplete="false" style="display:none" type="text" name="country"/>

          <div class="row">

            <!-- Try using Google Maps Places Autocomplete API: https://developers.google.com/maps/documentation/javascript/places-autocomplete#address_forms -->
            <!-- https://stackoverflow.com/questions/42341930/google-places-autocomplete-angular2 -->
            <mat-form-field class="col s12 location-div">
              <!--Prevent Chrome Autofill-->
              <label>Ci<span style="display: none">w.com/questions/4234</span>ty</label>
              <!-- <input matInput [(ngModel)]="model.city[0]" name="city" id="city" required placeholder="City"> -->
              <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
              <input matInput type="text" class="browser-default " style="padding-bottom: 0" required name="ignore-this-autofill-please"
                     autocomplete="disabled"  tabindex="1"
                     [(ngModel)]="locationData.city" #LocationCtrl="ngModel"
                     appGooglePlace (setAddress)="placeAutoComplete($event,LocationCtrl)"  (googlePlaceNoLoad)="googlePlaceNoLoad()"
                     (keydown)="keyDownHandler($event)"  >
            </mat-form-field>

          </div>
          <div class="row">
            <mat-form-field class="col s12">
              <input class="browser-default" matInput id="province" type="text" required placeholder="Province/State"
                     [(ngModel)]="locationData.province" name="province" (change)="locationData.province=toTitleCase(locationData.province)" autocomplete="false">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col s12">
              <input class="browser-default" matInput id="country" type="text" required placeholder="Country"
                     [(ngModel)]="locationData.country" name="country" (change)="locationData.country=toTitleCase(locationData.country)" autocomplete="false">
            </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field class="col s12">
                    <input tabindex="2" class="browser-default" matInput id="phone_number" type="number" placeholder="Phone Number"
                      [(ngModel)]="userProfile.phone_number" name="phone_number">
                  </mat-form-field>
            </div>
          <div class="row">
              <mat-form-field class="col s12">
                  <input class="browser-default" matInput id="email" type="text" placeholder="Email"
                    [(ngModel)]="userProfile.email" name="email">
                </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field class="col s12">
                  <input class="browser-default" matInput id="secondary_school" type="text" placeholder="Secondary School"
                    [(ngModel)]="userProfile.secondary_school" name="secondary_school">
                </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field class="col s12">
                  <input class="browser-default" matInput id="post_secondary_school" type="text" placeholder="Post Secondary School"
                    [(ngModel)]="userProfile.post_secondary_school" name="post_secondary_school">
                </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col s12">
              <label>Birth Date</label>
              <br/>
              <input class="browser-default" matInput id="birth_date" type="date"
                [(ngModel)]="userProfile.birth_date" name="birth_date">
            </mat-form-field>
          </div>
          <div class="row">

            <mat-form-field class="col s12">
              <mat-select class="col s12" [(ngModel)]="userProfile.education_level"  name="education_level"  id="education_level" multiple=true placeholder="Education Type" required >
                <mat-option *ngFor="let level of EDUCATION_LEVEL" [value]="level">{{level}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <br> <div class="row">

          <mat-form-field class="col s12">
              <!-- TODO: Add a Modal or hover info explaining the diff. between Art and STEM -->
              <mat-select class="col s12" [(ngModel)]="userProfile.education_field"  name="education_field"  id="education_field" multiple=true required placeholder="Education Field">
                <mat-option *ngFor="let field of EDUCATION_FIELD" [value]="field">{{field}} </mat-option>
              </mat-select>
          </mat-form-field>
          </div>
          <br>
          <!-- TODO: Do we need to explain this? Perhaps do some A/B Testing? -->

            <!-- TODO: Do we need to explain this? Perhaps do some A/B Testing? -->
            <div class="row">
                <div class="col s6">
                  <!-- TODO: Get real % of scholarships asking for alternate rerefence letters. -->
                  <h5> Additional Documents </h5>
                  <p>Click upload once for each time you choose a file.</p>
                  <a placement="bottom" [ngbTooltip]="tipContent">Why do I need this?</a>
                  <ng-template #tipContent><b>{{documentScholarshipsPercent}}%</b> of scholarships require either a resume, transcript or reference_letter.
                  These documents allow us to automate the application process.</ng-template>
                </div>
              </div>
              <div class="row">
                  <div class="col s3">
                     <label>Upload Resume</label>
                    <input class="browser-default" id="resume" type="file" placeholder="Resume"
                      name="resume" (change)="fileChangeEvent($event)">
                  </div>

                  <div *ngIf="userProfile.resume" class="col s3">
                      <a target="_blank" href="{{userProfile.resume}}"> View Resume </a>
                  </div>
                  <div class="col s3">
                      <label>Upload Transcript</label>
                     <input class="browser-default" id="transcript" type="file" placeholder="Transcript"
                       name="transcript" (change)="fileChangeEvent($event)">
                   </div>

                  <div *ngIf="userProfile.transcript" class="col s3">
                      <a target="_blank" href="{{userProfile.transcript}}"> View Transcript </a>
                  </div>
                </div>

              <div class="row">
                  <div class="col s3">
                     <label>Upload Reference Letter </label>
                    <input class="browser-default" id="reference_letter" type="file" placeholder="Reference Letter"
                      name="reference_letter" (change)="fileChangeEvent($event)">
                  </div>

                  <div *ngIf="userProfile.reference_letter" class="col s3">
                      <a target="_blank" href="{{userProfile.reference_letter}}"> View Reference Letter </a>
                  </div>
                  <div class="col s3">
                      <label>Upload Alternate Reference Letter</label>
                     <input class="browser-default" id="reference_letter_alternate" type="file" placeholder="Alternate Reference Letter"
                       name="reference_letter_alternate" (change)="fileChangeEvent($event)">
                   </div>

                  <div *ngIf="userProfile.reference_letter_alternate" class="col s3">
                      <a target="_blank" href="{{userProfile.reference_letter_alternate}}"> View Alternate Reference Letter </a>
                  </div>
                </div>
                <div class="row">

                    <button mat-raised-button class="btn white-text" (click)="uploadUserDocuments()" style="margin-left:1%">Upload Document</button>
                    <button type="submit" class="btn btn-success left">Save Profile</button>
                    <a class="waves-effect waves-light btn right" (click)="switchPage()">Next</a>
                </div>
        </div>
        <div [ngClass]='{hidden: profileInfo}'>
            <div class="row">
                  <!-- TODO: Get real % of scholarships asking for alternate rerefence letters. -->
                  <h5> Long Answer Questions </h5>
                  <p>You can answer these questions later. But remember, <b>{{documentScholarshipsPercent}}%</b> of scholarships ask at least one of these questions.
                    <br>So the more questions you answer, the more scholarships we can automate for you.</p>
                    <br><a >Need Help Answering these Questions?</a>
              </div>
          <div class="row">
            <label> Describe your school related activities and identify your significant contributions both to school and
                community.(500 Words or less) </label><br>
              <textarea class="browser-default" matInput id="extracurricular_description" type="text"
              placeholder="Type here..."[(ngModel)]="userProfile.extracurricular_description" name="extracurricular_description"></textarea>
          </div>

          <div class="row">
              <label> Describe your academic and career goals. (500 Words or less)</label><br>
                <textarea class="browser-default" matInput id="academic_career_goals" type="text"
                placeholder="Type here..."[(ngModel)]="userProfile.academic_career_goals" name="academic_career_goals"></textarea>
            </div>

          <div class="row">
            <a class="waves-effect waves-light btn left" (click)="switchPage()">Back</a>
            <button type="submit" class="btn btn-success right">Save Profile</button>
          </div>
        </div>

        </form>
      </div>
    </div>
  </div>
</div>
