  <nav class="white" role="navigation">
    <div class="nav-wrapper container atila-blue">
      <a *ngIf="!authService.isLoggedIn" id="logo-container" routerLink="/" class="brand-logo">Atila</a>
      <a *ngIf="authService.isLoggedIn" id="logo-container" routerLink="/scholarships-list" class="brand-logo">Atila</a>

      <!-- Show on Desktop  -->
      <ul class="right hide-on-med-and-down">

        <span  *ngIf="!authService.isLoggedIn">



          <li>
              <mat-form-field class="">
              <input matInput class="browser-default"  type="text"
                      [(ngModel)]="query" name="search" placeholder="Enter to search" (keyup.enter)="search(query)">
              </mat-form-field>
            </li>

          <li>
            <a routerLink="/search" title="Search" >
              <button mat-fab >
                <mat-icon  class="atila-blue" aria-hidden="true" aria-label="See Blogs" md-colors="{color:'$my-lighten'}">search</mat-icon>
              </button>
            </a>
          </li>


          <li>
            <a routerLink="/blog" title="Blogs" >
              <button mat-fab >
                <!--<mat-icon  class="atila-blue" aria-hidden="true" aria-label="See Blogs" md-colors="{color:'$my-lighten'}">chrome_reader_mode</mat-icon>-->
                Blog
              </button>
            </a>
          </li>

          <li>
            <a routerLink="/forum" title="Forums">
              <button button mat-fab >
                <!--<mat-icon  class="atila-blue" aria-hidden="true" md-colors="{color:'$my-lighten'}">forum</mat-icon>-->
                Forum
              </button>
            </a>
          </li>

          <li><a class="atila-blue" routerLink="/login"><button mat-fab class= "left far-left">Log In</button></a></li>

        </span>

        <span *ngIf="authService.isLoggedIn">
            <button mat-fab [matMenuTriggerFor]="menu">
                <mat-icon aria-hidden="true" md-colors="{color:'$my-lighten'}">perm_identity</mat-icon>
              </button>
              <!-- Dropdown Profile Menu -->
              <mat-menu #menu="matMenu" [overlapTrigger]="false">
                <a *ngIf="userProfile" [routerLink]="['/profile', userProfile.username]">
                    <button button mat-menu-item >
                    <span>My profile</span>
                  </button>
                </a>
                <a routerLink="/edit-profile">
                  <button mat-menu-item>
                    <span>Edit profile</span>
                  </button>
                </a>
                <a routerLink="/add-scholarship">
                  <button mat-menu-item>
                    <span>Add Scholarship</span>
                  </button>
                </a>
                <a (click)="logout()">
                  <button mat-menu-item>
                    <span>Logout</span>
                  </button>
                </a>
              </mat-menu>

            <li>
              <mat-form-field >
              <input matInput class="browser-default"  type="text"
                      [(ngModel)]="query" name="search" placeholder="Enter to search" (keyup.enter)="search(query)">
              </mat-form-field>
            </li>

            <li>
              <a routerLink="/search" title="Search" >
                <button mat-fab >
                  <mat-icon  class="atila-blue" aria-hidden="true" aria-label="Search" md-colors="{color:'$my-lighten'}">search</mat-icon>
                </button>
              </a>
            </li>
              <li>
                  <a routerLink="/blog" title="Blogs" >
                    <button mat-fab >
                        <!--<mat-icon  class="atila-blue" aria-hidden="true" aria-label="See Blogs" md-colors="{color:'$my-lighten'}">chrome_reader_mode</mat-icon>-->
                      Blog
                    </button>
                  </a>
              </li>

              <li>

              <li>
                  <a routerLink="/forum" title="Forums">
                    <button button mat-fab >
                        <!--<mat-icon  class="atila-blue" aria-hidden="true" md-colors="{color:'$my-lighten'}">forum</mat-icon>-->
                    Forum
                    </button>
                  </a>
                </li>

              <!--<li>-->
              <!--<a routerLink="/messages" title="Messages">-->
                <!--<button button mat-fab md-fab>-->
                    <!--<mat-icon  class="atila-blue" aria-hidden="true" md-colors="{color:'$my-lighten'}">email</mat-icon>-->
                <!--</button>-->
              <!--</a>-->
              <!--</li>-->

            <!--<li>-->
                <!--<a routerLink="/add-scholarship" title="Add Scholarship">-->
                  <!--<button md-fab mat-fab >-->
                    <!--<p style="margin-top:  -9%;margin-left:  -27%;">-->
                      <!--Add-->
                      <!--<br>-->
                      <!--Scholarship-->
                    <!--</p>-->
                      <!--&lt;!&ndash;<mat-icon  class="atila-blue" aria-hidden="true" aria-label="Add a Scholarship" md-colors="{color:'$my-lighten'}">add_circle_outline</mat-icon>&ndash;&gt;-->
                  <!--</button>-->
                <!--</a>-->
              <!--</li>-->

        </span>

      </ul>



      <!-- Show on Mobile  -->

      <span  class= "hide-on-large-only">

      <!--Not Logged In -->
      <span *ngIf="!authService.isLoggedIn">
      <button mat-fab [matMenuTriggerFor]="mobileMenu" class= "left far-left">
          <mat-icon>menu</mat-icon>
       </button>
       <mat-menu #mobileMenu="matMenu" [overlapTrigger]="false">

          <a routerLink="/forum">
            <button mat-menu-item>
                <span>Forums</span>
            </button>
          </a>

          <a routerLink="/blog">
            <button mat-menu-item>
                <span>Blogs</span>
            </button>
          </a>
      </mat-menu>





      <!-- Horizontally the top most div is the right most div.-->
        <a routerLink="/login" class="atila-blue right"><button mat-fab [matMenuTriggerFor]="mobileMenu" class= "left far-left">Login</button></a>
      <a routerLink="/search" title="Search"  class= "right" >
        <button mat-fab >
          <mat-icon  class="atila-blue" aria-hidden="true" aria-label="See Blogs" md-colors="{color:'$my-lighten'}">search</mat-icon>
        </button>
      </a>
      <mat-form-field style="width: 27%" >
          <input matInput class="browser-default"  type="text"
                      [(ngModel)]="query" name="search" placeholder="Search" (keyup.enter)="search(query)">
      </mat-form-field>

      </span>

        <!-- Logged In -->
      <span  *ngIf="authService.isLoggedIn">

          <button mat-fab [matMenuTriggerFor]="mobileMenu" class= "left far-left">
              <mat-icon>menu</mat-icon>
           </button>
          <mat-menu #mobileMenu="matMenu" [overlapTrigger]="false">


              <a routerLink="/forum">
                <button mat-menu-item>
                    <span>Forums</span>
                </button>
              </a>

              <a routerLink="/blog">
                <button mat-menu-item>
                    <span>Blogs</span>
                </button>
              </a>

              <!--<a routerLink="/messages">-->
                <!--<button mat-menu-item>-->
                    <!--<span>Messages</span>-->
                <!--</button>-->
              <!--</a>-->

              <a (click)="logout()">
                <button mat-menu-item>
                  <span>Logout</span>
                </button>
              </a>
          </mat-menu>


          <button mat-fab [matMenuTriggerFor]="profileMenu" class= "right far-right">
              <mat-icon>perm_identity</mat-icon>
          </button>
          <mat-menu #profileMenu="matMenu" [overlapTrigger]="false">
                <a routerLink="/add-scholarship">
                  <button mat-menu-item>
                      <span>Add Scholarship</span>
                  </button>
                </a>
                <a *ngIf="userProfile" [routerLink]="['/profile', userProfile.username]">
                  <button button mat-menu-item >
                    <span>My profile</span>

                  </button>
                </a>
                <a routerLink="/edit-profile">
                  <button mat-menu-item>
                    <span>Edit profile</span>
                  </button>
                </a>

              <a (click)="logout()">
                <button mat-menu-item>
                  <span>Logout</span>
                </button>
              </a>
            </mat-menu>

          <a routerLink="/search" title="Search" class="right" >
          <button mat-fab >
            <mat-icon  class="atila-blue" aria-hidden="true" aria-label="See Blogs" md-colors="{color:'$my-lighten'}">search</mat-icon>
          </button>
          </a>

          <mat-form-field style="width: 27%" >
              <input matInput class="browser-default"  type="text"
                      [(ngModel)]="query" name="search" placeholder="Search" (keyup.enter)="search(query)">
          </mat-form-field>


        <!--<a routerLink="/messages" class="right">-->
        <!--<button button mat-fab >-->
        <!--<mat-icon  class="atila-blue" aria-hidden="true" md-colors="{color:'$my-lighten'}">email</mat-icon>-->
        <!--</button>-->
        <!--</a>-->

      </span>

      </span>




    </div>
  </nav>
