@import '../../styles.scss';

nav .brand-logo {
  font-family:Cambria;
  font-size:28px;
  color:$primary;
}

.atila-blue {
    color:$primary !important;
  }

button:focus{
  background-color: #C1BCBC;
}
