  <nav class="white" role="navigation">
    <div class="nav-wrapper container atila-blue">
      <a id="logo-container" href="/" class="brand-logo">Atila</a>

      <!-- Show on Desktop  -->
      <ul class="right hide-on-med-and-down">
        <li *ngIf="!isLoggedIn;else loggedIn"><a class="atila-blue" routerLink="/login">Log In</a></li>

        <span *ngIf="isLoggedIn">
            <li ><a class="atila-blue" routerLink="/edit-profile">Edit profile</a></li>
            <li><a class="atila-blue" (click)="logout()">Logout</a></li>
        </span>
      </ul>

      <!-- Show on Mobile  -->
      <button md-icon-button [mdMenuTriggerFor]="mobileMenu" class= "hide-on-large-only">
          <md-icon>menu</md-icon>
       </button>
      <md-menu #mobileMenu="mdMenu" [overlapTrigger]="false">
        <span *ngIf="!isLoggedIn">
          <a routerLink="/login"><button md-menu-item>Login</button></a>
          <button md-menu-item>Register</button>
        </span>
        <span *ngIf="isLoggedIn">
            <a (click)="logout()"><button md-menu-item>Logout</button></a>
            <a routerLink="/edit-profile"><button md-menu-item>Edit Profile</button></a>
        </span>
      </md-menu>


    </div>
  </nav>
