.header-image {
    background-image: url('http://s3.amazonaws.com/37assets/svn/765-default-avatar.png');
    background-size: cover;
}

.mat-card-avatar {
  height: 200px;
  width: 200px;
}

.mat-card {
    margin: 20px 0px;
}

.mat-card-title {
    font-size: 3em !important;
}

.mat-card-subtitle {
    font-size: 1.5em !important;
}

:host /deep/ .mat-card-header-text {
    margin: 0 75px !important;
}