<div class="container" *ngIf="userProfile">
    <mat-card class="profile-header">
      <mat-card-header class="row">
        <!-- NOTE Mat card header text is hidden in css -->
        <div class="col-sm-4" mat-card-avatar [ngStyle]="{ 'background-image': 'url( '+ userProfile.profile_pic_url +' )' }" class="header-image"></div>

        <div class="col-sm-8" style="margin-left:5%">
          <mat-card-title><h4>{{userProfile.first_name}} {{userProfile.last_name}}</h4></mat-card-title>
          <mat-card-subtitle class="title"><h5>{{userProfile.title}}</h5></mat-card-subtitle>
          <mat-card-subtitle *ngIf="userProfile.post_secondary_school" class="title"><h5>{{userProfile.post_secondary_school}}</h5></mat-card-subtitle>
          <mat-card-subtitle *ngIf="!userProfile.secondary_school" class="title"><h5>{{userProfile.secondary_school}}</h5></mat-card-subtitle>
          <div class="header-buttons">
            <button mat-raised-button class="btn white-text" (click)="message()">Message</button>
            <a *ngIf="profileOwner" (click)="showPreview = !showPreview" style="cursor: pointer">Preview Profile</a>
            <a *ngIf="profileOwner" [routerLink]="['/edit-profile']">Edit profile</a>
            <!-- <span  *ngIf="profileOwner" >
                <a *ngIf="!showPreview" (click)="showPreview = !showPreview"  href="javascript:undefined">Preview Profile</a>
                <a *ngIf="showPreview" (click)="showPreview = !showPreview"  href="javascript:undefined">Edit Profile</a>
            </span> -->
          </div>
        </div>
      </mat-card-header>
    </mat-card>

    <form *ngIf="profileOwner && !showPreview" #profileForm="ngForm">
          <h4>Edit <span *ngIf="userProfile.first_name">{{userProfile.first_name}}'s</span> Profile</h4>
        <div class="row">
            <div class="col s6">
                <label>Upload your Profile Picture</label>
              <input class="browser-default" id="profile_pic_url" type="file" placeholder="Upload your Profile Picture"
                 #uploadPicInput name="profile_pic_url">
            </div>

            <mat-progress-bar style="margin-bottom: 1%;" *ngIf="uploadProgress" mode="determinate" [value]="uploadProgress"></mat-progress-bar>

            <div class="col s6">
              <button mat-raised-button class="btn white-text" (click)="uploadProfilePic(uploadPicInput)">Upload</button>
            </div>

          </div>

        <div class="row">
          <mat-form-field class="col s12">
            <label>Profile Headline</label>
            <input class="browser-default" matInput id="title" type="text" placeholder="e.g. Computer Engineering Student"
              [(ngModel)]="userProfile.title" name="title">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col s12">
            <input class="browser-default" matInput id="post_secondary_school" type="text" placeholder="University/College Name or Apprenticesip Program"
              [(ngModel)]="userProfile.post_secondary_school" name="post_secondary_school">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="col s12">
            <input class="browser-default" matInput id="secondary_school" type="text" placeholder="Secondary School"
              [(ngModel)]="userProfile.secondary_school" name="secondary_school">
          </mat-form-field>
        </div>
        <button mat-raised-button class="btn white-text" (click)="saveProfile()">Save</button>
    </form>

    <mat-card class="background-card">
      <h3></h3>
      <mat-card-content>
        <p>
          {{userProfile.profile_description}}
        </p>
      </mat-card-content>
    </mat-card>

  </div>

