<mat-form-field class="col s12">
  <input #autoCompleteInput type="text" matInput [formControl]="formControl" [placeholder]="metadata['placeholder']" [matAutocomplete]="autcomplete_input"
         (keyup)="autoCompleteSelected($event)"  [(ngModel)]="model">


  <mat-autocomplete tabindex="9" style="min-width: 300px !important;" #autcomplete_input="matAutocomplete" class="autocomplete-custom-template"
                    (optionSelected)="autoCompleteSelected($event,metadata['key']);formControl.setValue('')" >
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
