
<div class="container">

  <div class="row">
    <h4 style="text-align: center;">Forums</h4>

    <div class="col s12 forum-box">
      <mat-card class="forum-card">

        <mat-card-content>
            <input *ngIf="newForum" id="forum_title" placeholder="Title" [(ngModel)]="newForum.title">
            <input *ngIf="forumComment"  id="forum_comment_text" placeholder="What's on your mind?" (keydown.enter)="postForum()" [(ngModel)]="forumComment.text">
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button style="background-color: #184E87;" class="btn white-text" (click)="postForum()">Post</button>
        </mat-card-actions>

      </mat-card>
    </div>
    <div *ngFor="let forum of forums; let i = index" class="col s12 m8 offset-m2 forum-box">


      <mat-card class="scholarship-card">

          <mat-card-header>
          <mat-card-title><a routerLink="/forum/{{forum.slug}}"><h5>{{forum.title | truncate:50}}</h5></a></mat-card-title>
          <mat-card-subtitle class="card-text">
          <small>{{forum.date_created | date:'medium'}}</small>
          <span *ngIf="forum.user"><a routerLink="/profile/{{forum.user.username}}">{{forum.user.first_name}} {{forum.user.last_name}}</a> </span>
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <p class="card-text">
                {{forum.starting_comment.text | truncate:140}}
            </p>
        </mat-card-content>

        <mat-card-actions>

              <mat-icon class="md-24" aria-label="Like the comment">thumb_up</mat-icon>{{forum.starting_comment.up_votes_count}}

              <mat-icon class="md-24" aria-label="Dislike the comment">thumb_down</mat-icon>{{forum.starting_comment.down_votes_count}}

          </mat-card-actions>

      </mat-card>

    </div>
  </div>


  <!-- Loading progress circle -->
  <div *ngIf="isLoading" class="preloader-background">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
