
<div class="container">

  <div class="row">
    <h4 style="text-align: center;">Forums</h4>

    <div class="col s12 forum-box">

      <div class="card forum-card">
        <div class="card-content ">
          <input *ngIf="newForum" id="forum_title" placeholder="Title" [(ngModel)]="newForum.title">
          <input *ngIf="forumComment"  id="forum_comment_text" placeholder="What's on your mind?" (keydown.enter)="postForum()" [(ngModel)]="forumComment.text">
        </div>
        <div class="card-action">
          <button mat-raised-button style="background-color: #4080ff;" class="btn white-text" (click)="postForum()">Post</button>
        </div>
      </div>


    </div>
    <div *ngFor="let forum of forums; let i = index" class="col s12 m8 offset-m2 forum-box">

      <div class="card ">
        <div class="card-content ">
          <span class="card-title"><a routerLink="/forum/{{forum.slug}}">{{forum.title | truncate:140}}</a></span>
          <span *ngIf="forum.user"><a routerLink="/profile/{{forum.user.username}}">
          <div class="chip">
            <img src="https://firebasestorage.googleapis.com/v0/b/atila-7.appspot.com/o/public%2Fatila-scholarship-default-image.jpeg?alt=media&token=cd789758-3400-43d5-9ea7-d2facf709ea2"
                 alt="Authorr">
            <a routerLink="/profile/{{forum.user.username}}">
            {{forum.user.first_name}} {{forum.user.last_name}}
            </a>
          </div>
          </a>

          </span>
          <p>{{forum.starting_comment.text | truncate:280}}</p>
        </div>
        <div class="card-action">
          <a class="btn-floating halfway-fab waves-effect waves-light left" style="left: 15px; bottom: 10px">
            <i class="material-icons md-36">thumb_up</i></a>
          <a class="btn-floating halfway-fab waves-effect waves-light left" style="left: 70px; bottom: 10px">
          <p class="btn-text">5</p>
          </a>
          <a class="btn-floating halfway-fab waves-effect waves-light left" style="left: 125px; bottom: 10px">
            <i class="material-icons md-36">comment</i></a>
          <a class="btn-floating halfway-fab waves-effect waves-light left" style="left: 180px; bottom: 10px">
          <p class="btn-text">5</p>
          </a>

        </div>
      </div>

    </div>
  </div>


  <!-- Loading progress circle -->
  <div *ngIf="isLoading" class="preloader-background">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
