<div class="container">

      <div class="row">
        <h4 style="text-align: center;">Blogs</h4>

        <div class="col s12 m8 offset-m2 blog-box">
          <mat-card class="mat-card">
          <mat-card-content>
            <a routerLink="/create-blog-post">
              <button button mat-icon-button >
                  Write a Blog Post
                  <mat-icon  class="atila-blue" aria-hidden="true" aria-label="Add a Blog Post" md-colors="{color:'primary'}">add_circle_outline</mat-icon>
              </button>
            </a>
          </mat-card-content>

          </mat-card>
        </div>
        <div *ngFor="let blog of blogs; let i = index" class="col s12 m8 offset-m2 blog-box">


          <mat-card class="mat-card">

              <mat-card-header>
              <mat-card-title><a routerLink="/blog/{{blog.user.username}}/{{blog.slug}}"><h5>{{((blog.title.length>50)? (blog.title | slice:0:50)+'..':(blog.title) )}}</h5></a></mat-card-title>
              <mat-card-subtitle class="card-text">
              <small>{{blog.date_created | date:'MMMM d, y, h:mm a'}}</small>
              <span *ngIf="blog.user"><a routerLink="/profile/{{blog.user.username}}">{{blog.user.first_name}} {{blog.user.last_name}}</a> </span>
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="my-mat-card-image" src="{{blog.header_image_url}}">
            <mat-card-content>
                <p class="card-text">
                    {{((blog.description.length>140)? (blog.description | slice:0:140)+'..':(blog.description) )}}
                </p>
            </mat-card-content>

            <mat-card-actions>

                  <mat-icon class="md-24" aria-label="Like the comment">thumb_up</mat-icon>{{blog.up_votes_count}}

                  <mat-icon class="md-24" aria-label="Dislike the comment">thumb_down</mat-icon>{{blog.down_votes_count}}

              </mat-card-actions>

          </mat-card>

        </div>
      </div>

      <!-- Loading progress circle -->
      <div *ngIf="!blogs " class="preloader-background">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
