<div class="container">
    <div class="card">
      <div class="row card-content">
        <form #form="ngForm" (ngSubmit)="login($event)"  class="col-sm-12">
          <h4>Login</h4>
          <div class="row">
            <mat-form-field class="col-sm-12">
              <input matInput class="browser-default" id="username" type="text" ngControl="username"
                     required [(ngModel)]="credentials.username" name="username" placeholder="Email or username" autocomplete="username">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-sm-12">
              <input matInput class="browser-default" id="password" type="password" required ngControl="password"
                     [(ngModel)]="credentials.password" name="password" placeholder="Password" autocomplete="current-password">
            </mat-form-field>

            <div class="col-sm-12 button-container">

              <span class="hide-on-med-and-up">

                <button type="submit" class="waves-effect waves-light btn left col-sm-12" (click)="login()">Login</button>
                <a class="waves-effect waves-light btn col-sm-12"  style="margin-top: 3%" routerLink="/register">Register</a>
              </span>

              <span class="hide-on-small-and-down">
                <button type="submit" class="waves-effect waves-light btn left" (click)="login()">Login</button>
                <a class="waves-effect waves-light btn right" routerLink="/register">Register</a>
              </span>



            </div>



          </div>
        </form>
          <div class="row">

            <a style="cursor: pointer;color: #039be5" (click)="forgotPassword =!forgotPassword">Forgot Password?</a>


          </div>

        <div *ngIf="forgotPassword" class="row col-sm-12 button-container">
          <form #forgotPasswordform="ngForm" (ngSubmit)="resetPassword(resetEmailUsername)"  class="col-sm-12">
            <p>An email will be sent to the provided email or username with a verification token.<br>
              Click the link in email or go to <a routerLink="/verify" [queryParams]="{verification_type: 'reset_password'}">
                Reset Password</a>.</p>
            <mat-form-field class="col-sm-12">
              <input matInput class="browser-default" id="resetPasswordEmail" type="text" ngControl="resetPasswordEmail"
                     required #resetEmailUsername name="username" placeholder="Email or username" autocomplete="username">
            </mat-form-field>
            <a class="waves-effect waves-light btn right" (click)="resetPassword(resetEmailUsername)">Send Email</a>

            <div  *ngIf="!resetResponse || isLoadingReset" class="col-sm-10">
              <p style="font-size: large">Sending Email...</p>
              <mat-progress-bar aria-label="Sending..." mode="indeterminate"></mat-progress-bar>
            </div>
            <p>{{resetResponse}}</p>

          </form>

        </div>


          <!-- Loading progress circle -->
          <div *ngIf="isLoading" class="preloader-background">
            <div class="preloader-wrapper big active">
              <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                  <div class="circle"></div>
                </div>
                <div class="gap-patch">
                  <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                  <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
