<div class="container">
    <div class="card">
        <div class="row">
            <div class="card-content">
                <form #scholarshipForm="ngForm" class="col-sm-12" id="scholarshipForm" >

                  <div  class="fixed-action-btn">
                    <button *ngIf="!editMode" class="waves-effect waves-light btn right btn-floating btn-large" (click)="saveScholarship(scholarshipForm,{quickAdd:quickAdd})">Create</button>
                    <button *ngIf="editMode" class="waves-effect waves-light btn right btn-floating btn-large" (click)="saveScholarship(scholarshipForm)">Save</button>
                  </div>

                    <h4 *ngIf="editMode">Edit Scholarship</h4>
                    <h4 *ngIf="!editMode">Add Scholarship</h4>

                    <h6 *ngIf="editMode && !isOwner">You don't have permission to save edits yet. If you want to make edits, please suggest them in the comments.</h6>
                    <h6 *ngIf="editMode && !isOwner">Open Edits in closed beta. <a routerLink="/contact">Request Closed Beta Access</a></h6>


                    <h4>{{scholarship.name}}</h4>
                    <a *ngIf="scholarship && scholarship.slug" routerLink="/scholarship/{{scholarship.slug}}">View Scholarship</a>

                  <div *ngIf="quickAdd; else fullEdit">
                    <h5 *ngIf="!editMode">Quick Add</h5>
                    <h6>Don't know where to start?
                      <a href="https://docs.google.com/spreadsheets/d/13YshWzg38Au-tPkGyDfY4hJHGJDWl_7vUpXNXkf5afM/edit#gid=0" target="_blank">
                        This spreadsheet</a> has a list of scholarships that need to be added to Atila.</h6>
                    <br>
                    <p>Simply enter the name, website and a description of the scholarship.</p>
                    <div class="row">

                      <mat-form-field class="col-sm-12">
                        <input class="browser-default" matInput id="name" type="text" required placeholder="Scholarship Name" [(ngModel)]="scholarship.name" name="name">
                      </mat-form-field>

                      <mat-form-field class="col-sm-12">
                        <input class="browser-default" matInput id="scholarship_url" type=url placeholder="Scholarship URL" [(ngModel)]="scholarship.scholarship_url" name="scholarship_url">
                      </mat-form-field>


                      <mat-form-field *ngIf="!hideCriteriaInfo" class="col-sm-12">
                        <input class="browser-default" matInput id="form_url" type=url placeholder="Application Form URL" [(ngModel)]="scholarship.form_url" name="form_url" (change)="formNeedsParsing()">
                      </mat-form-field>
                      <label for="form_url">To upload a file, see next page</label>

                      <mat-form-field *ngIf="!hideCriteriaInfo" class="col-sm-12">
                        <input class="browser-default" matInput id="img_url" type=url placeholder="Scholarship Image URL" [(ngModel)]="scholarship.img_url" name="img_url">
                      </mat-form-field>
                    </div>

                    <p style="margin-bottom:2%" >Who is eligible for this scholarship? What do they need to apply?</p>
                    <textarea  class="browser-default col-sm-12" matInput id="description" type="text"
                               required placeholder="E.g. Open to any Canadian or American, high school or university student. Submit a 500 Word essay on plans after graduation"
                               [(ngModel)]="scholarship.description" name="description" maxlength="500">

                    </textarea>
                    <!--<span *ngIf="scholarship.description" [ngStyle]="{'color': scholarship.description.length>500? 'red' : 'black'}">-->
                    <span *ngIf="scholarship.description">
                              {{scholarship.description.length}}/500
                            </span>

                    <div style="margin-top: 3%;margin-bottom:  5%;">
                      <a (click)="hideCriteriaInfo= !hideCriteriaInfo" >
                        {{hideCriteriaInfo ? 'Enter More Scholarship Details' : 'Hide More Scholarship Details'}}
                      </a>
                    </div>


                    <div [ngClass]="hideCriteriaInfo ? 'hide' : ''">


                      <div class="row">

                        <mat-form-field class="col-sm-6">
                          <label>Deadline</label>
                          <br/>
                          <input class="browser-default" matInput id="deadline" type="datetime-local"
                                 [(ngModel)]="scholarship.deadline" name="deadline">
                        </mat-form-field>


                        <div *ngIf="scholarship.deadline" class="col-sm-12 col-md-6">
                          <!-- TODO: Wrong time zone offset on deadline -->
                          Deadline: {{ scholarship.deadline | date:'fullDate' }} {{ scholarship.deadline | date:'shortTime' }}

                          <span *ngIf="scholarship.deadline"  style="font-size: smaller">
                              <strong>Note</strong>: Time displayed may be a few hours different due to timezone differences.
                            </span>

                        </div>


                        <div class="col col-sm-12 col-md-6">
                          <input class="browser-default" id="not_open_yet" type="checkbox" [(ngModel)]="scholarship.metadata['not_open_yet']"
                                 name="not_open_yet">
                          <label for="not_open_yet" data-error="Invalid input">Scholarship Not Open Yet?</label>
                        </div>

                        <div class="col col-sm-12 col-md-6" *ngIf="scholarship.metadata['not_open_yet']">
                          <label for="open_date"> What date does the scholarship Open?</label>
                          <br/>
                          <input id="open_date" type="date"
                                 [(ngModel)]="scholarship.open_date" name="open_date">
                        </div>


                        <div class="col col-sm-12 col-md-6">
                          <input class="browser-default" id="needs_automation" type="checkbox" [(ngModel)]="scholarship.metadata['needs_automation']"
                                 name="needs_automation">
                          <label for="needs_automation" data-error="Invalid input">Needs Automation?</label>
                        </div>
                      </div>

                      <div class="row">

                        <mat-form-field class="col-sm-12"  *ngIf="scholarship.extra_questions && !scholarship.extra_questions.funding_amount_varies">
                          <input class="browser-default" min="0" matInput id="funding_amount" type="number" placeholder="Funding Amount" [(ngModel)]="scholarship.funding_amount" name="funding_amount">
                        </mat-form-field>

                        <div class="col-sm-12" *ngIf="scholarship.extra_questions">
                          <input class="browser-default" id="funding_amount_varies" type="checkbox" [(ngModel)]="scholarship.extra_questions.funding_amount_varies"
                                 name="funding_amount_varies">
                          <label for="funding_amount_varies" data-error="Invalid input">Funding Amount Varies?</label>
                        </div>

                      </div>



                      <div style="margin-top: 3%;margin-bottom:  5%;">
                        <a (click)="hideExtraCriteriaInfo= !hideExtraCriteriaInfo" >
                          {{hideExtraCriteriaInfo ? 'Edit Program, School or Location Details' : 'Hide Program, School or Location Details'}}</a>
                      </div>

                      <div *ngIf="!hideExtraCriteriaInfo">
                        <div class="row">
                          <div class="col-sm-12">
                            <p> What programs are this scholarship for? (Leave blank for any program)</p>
                            <table>
                              <tr  *ngFor="let program of scholarship.eligible_programs; let i = index">
                                <td> {{program}} </td>
                                <td>
                                  <a class="waves-effect waves-light btn right" (click)="deleteArrayitem(scholarship.eligible_programs, i)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </div>

                          <div class="col-sm-12">
                            <app-typeahead [model]="scholarship.eligible_programs" [dataset]="MAJORS_LIST"
                                           [metadata]="{'placeholder':'What programs are this scholarship for? (Leave blank for any program)', 'key':'major','tabindex':'9'}">
                            </app-typeahead>
                          </div>

                        </div>


                        <div class="row">
                          <div class="col-sm-12">
                            <p> What schools are this scholarship for? (Leave blank for any school)</p>
                            <table>
                              <tr  *ngFor="let school of scholarship.eligible_schools; let i = index">
                                <td> {{school}} </td>
                                <td>
                                  <a class="waves-effect waves-light btn right" (click)="deleteArrayitem(scholarship.eligible_schools, i)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </div>

                          <div class="col-sm-12">
                            <app-typeahead [model]="scholarship.eligible_schools" [dataset]="autoCompleteLists['eligible_schools']"
                                           [metadata]="{'placeholder':'What schools are this scholarship for? (Leave blank for any school)', 'key':'eligible_schools','tabindex':'9'}">
                            </app-typeahead>
                          </div>

                        </div>

                        <span class="location-edit-section">
                        <mat-form-field class="col-sm-12 col-md-4">

                          <!-- TODO: Changing Location Creation -->

                          <!--{{ myJson.stringify(locationList) }}-->

                          <!-- <input matInput [(ngModel)]="model.city[0]" name="city" id="city" required placeholder="City"> -->
                          <input class="browser-default" matInput type="text" class="form-control" [disabled]="this.editMode && !this.isOwner"
                                 [placeholder]="locationPlaceHolder" name="location" id="location" [(ngModel)]="locationInput.city" #LocationCtrl="ngModel"
                                 appGooglePlace (setAddress)="placeAutoComplete($event,LocationCtrl)"  (googlePlaceNoLoad)="googlePlaceNoLoad()" (keydown)="keyDownHandler($event)">
                        </mat-form-field>
                          <!-- See table-layout.component.html as a guide -->
                        <table class="table">
                          <caption >Locations</caption>
                          <thead>
                          <tr>
                            <th *ngFor="let locationType of ['city','province','country']">{{ locationType }}</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr *ngFor="let location of locationList; let i = index"><!-- For each row (or entry) of data  -->

                            <td *ngFor="let locationType of ['city','province','country']">{{ location[locationType]}}</td>
                            <br>

                            <a class="waves-effect waves-light btn right" (click)="deleteLocationRow(i)">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>


                          </tr>
                          </tbody>


                        </table>

                        </span>

                        <mat-form-field class="input-field col-sm-12 ">
                          <mat-select class="col-sm-12" [(ngModel)]="scholarship.education_field" name="education_field" id="education_field" multiple=true
                                      placeholder="Education Field">
                            <mat-option *ngFor="let education_field of EDUCATION_FIELDS" [value]="education_field">{{education_field}} </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <br>
                      </div>




                      <p style="margin-bottom:2%" >Type or copy and paste more details about the scholarship.</p>
                      <div class="row wysiywyg-editor">
                        <!--<div class="col-sm-12" placeholder="Criteria Description" name="criteria_info"  [froalaEditor]="froalaOptions" [(froalaModel)]="scholarship.criteria_info"></div>-->
                        <textarea class="{{editorId + ' col-sm-12'}}"></textarea>
                      </div>
                    </div>


                    <div class="row">
                      <a *ngIf="scholarship.slug" class="waves-effect waves-light btn left" routerLink="/scholarship/edit/{{scholarship.slug}}">Show All Details</a>
                      <a *ngIf="!scholarship.slug" class="waves-effect waves-light btn left" (click)="quickAdd=false; pageNo=0;next()">Show All Details</a>
                      <a class="waves-effect waves-light btn right" (click)="saveScholarship(scholarshipForm,{quickAdd:true})" style="margin-left: 5%">
                        Add Scholarship</a>
                    </div>

                  </div>

                  <ng-template #fullEdit>

                    <div *ngIf="pageNo==1">
                      <h5>General Information {{pageNo}}/3</h5>

                      <fieldset [disabled]="editMode && !isOwner">

                        <!--HTML copy paste formatting for text divs https://stackoverflow.com/questions/8806673/html-how-to-retain-formatting-in-textarea/22353003#22353003-->
                        <!--<label>Paste your HTML in the box below</label>-->
                        <!--<textarea style='display:none' id='htmlTextArea'></textarea>-->
                        <!--<div id='htmlsource' contenteditable style='border:solid 1px black;padding:1em;width:100%;min-height:2em;' ></div>-->

                        <div class="row">
                          <mat-form-field class="col-sm-12">
                            <input class="browser-default" matInput id="name" type="text" required placeholder="Scholarship Name" [(ngModel)]="scholarship.name" name="name">
                          </mat-form-field>
                        </div>
                        <div class="row">
                          <label> Give a short description of the scholarship. You will be able to give more details later.</label><br>
                          <textarea  class="browser-default col-sm-12" matInput id="description" type="text"
                                     required placeholder="Description"  [(ngModel)]="scholarship.description" name="description"></textarea>
                          <!--<span *ngIf="scholarship.description" [ngStyle]="{'color': scholarship.description.length>500? 'red' : 'black'}">-->
                          <span *ngIf="scholarship.description">
                              {{scholarship.description.length}}/500
                            </span>

                        </div>
                        <div class="row">
                          <mat-form-field class="col-sm-12">
                            <input class="browser-default" matInput id="scholarship_url" type=url placeholder="Schlarship URL" [(ngModel)]="scholarship.scholarship_url" name="scholarship_url">
                          </mat-form-field>

                          <mat-form-field class="col-sm-12">
                            <input class="browser-default" matInput id="img_url" type=url placeholder="Scholarship Image URL" [(ngModel)]="scholarship.img_url" name="img_url">
                          </mat-form-field>


                          <mat-form-field class="col-sm-12">
                            <input class="browser-default" matInput id="form_url" type=url placeholder="Application Form URL" [(ngModel)]="scholarship.form_url" name="form_url" (change)="formNeedsParsing()">
                          </mat-form-field>
                          <label for="form_url">To upload a file, see next page</label>

                        </div>

                        <div class="row">

                          <mat-form-field class="col-sm-12"  *ngIf="scholarship.extra_questions && !scholarship.extra_questions.funding_amount_varies">
                            <input class="browser-default" min="0" matInput id="funding_amount" type="number" placeholder="Funding Amount" [(ngModel)]="scholarship.funding_amount" name="funding_amount">
                          </mat-form-field>

                          <div class="col-sm-12" *ngIf="scholarship.extra_questions">
                            <input class="browser-default" id="funding_amount_varies" type="checkbox" [(ngModel)]="scholarship.extra_questions.funding_amount_varies"
                                   name="funding_amount_varies">
                            <label for="funding_amount_varies" data-error="Invalid input">Funding Amount Varies?</label>
                          </div>

                        </div>

                        <div class="row">
                          <mat-form-field class="col-sm-12">
                            <input class="browser-default" matInput id="number_available_scholarships" type="number" placeholder="Number of Available Scholarships" [(ngModel)]="scholarship.number_available_scholarships" name="number_available_scholarships" value="1">
                          </mat-form-field>
                        </div>
                        <div class="row">
                          <mat-form-field class="col-sm-6">
                            <label>Deadline</label>
                            <br/>
                            <input class="browser-default" matInput id="deadline" type="datetime-local"
                                   [(ngModel)]="scholarship.deadline" name="deadline">
                          </mat-form-field>


                          <div *ngIf="scholarship.deadline" class="col-sm-12 col-md-6">
                            <!-- TODO: Wrong time zone offset on deadline -->
                              Deadline: {{ scholarship.deadline | date:'fullDate' }} {{ scholarship.deadline | date:'shortTime' }}

                            <span *ngIf="scholarship.deadline"  style="font-size: smaller">
                              <strong>Note</strong>: Time displayed may be a few hours different due to timezone differences.
                            </span>

                          </div>


                          <div class="col col-sm-12 col-md-6">
                            <input class="browser-default" id="not_open_yet" type="checkbox" [(ngModel)]="scholarship.metadata['not_open_yet']"
                             name="not_open_yet">
                            <label for="not_open_yet" data-error="Invalid input">Scholarship Not Open Yet?</label>
                          </div>

                          <div class="col col-sm-12 col-md-6" *ngIf="scholarship.metadata['not_open_yet']">
                            <label for="open_date"> What date does the scholarship Open?</label>
                            <br/>
                            <input id="open_date" type="date"
                                   [(ngModel)]="scholarship.open_date" name="open_date">
                          </div>


                          <div class="col col-sm-12 col-md-6">
                            <input class="browser-default" id="needs_automation" type="checkbox" [(ngModel)]="scholarship.metadata['needs_automation']"
                                   name="needs_automation">
                            <label for="needs_automation" data-error="Invalid input">Needs Automation?</label>
                          </div>
                        <br>
                        </div>

                        <span class="location-edit-section">
                        <mat-form-field class="col-sm-12 col-md-4">

                          <!-- TODO: Changing Location Creation -->

                          <!--{{ myJson.stringify(locationList) }}-->

                          <!-- <input matInput [(ngModel)]="model.city[0]" name="city" id="city" required placeholder="City"> -->
                          <input class="browser-default" matInput type="text" class="form-control" [disabled]="this.editMode && !this.isOwner" [placeholder]="locationPlaceHolder" name="location" id="location" [(ngModel)]="locationInput.city" #LocationCtrl="ngModel"
                                 appGooglePlace (setAddress)="placeAutoComplete($event,LocationCtrl)"  (googlePlaceNoLoad)="googlePlaceNoLoad()" (keydown)="keyDownHandler($event)">
                        </mat-form-field>
                          <!-- See table-layout.component.html as a guide -->
                        <table class="table">
                          <caption >Locations</caption>
                          <thead>
                          <tr>
                            <th *ngFor="let locationType of ['city','province','country']">{{ locationType }}</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr *ngFor="let location of locationList; let i = index"><!-- For each row (or entry) of data  -->

                            <td *ngFor="let locationType of ['city','province','country']">{{ location[locationType]}}</td>
                            <br>

                            <a class="waves-effect waves-light btn right" (click)="deleteLocationRow(i)">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>


                          </tr>
                          </tbody>


                        </table>

                        </span>

                        <br>
                        <div class="row">
                          <mat-form-field class="input-field col-sm-12 ">
                            <mat-select class="col-sm-12" [(ngModel)]="scholarship.funding_type" name="funding_type" id="funding_type" multiple=true
                                        placeholder="Funding Type">
                              <mat-option *ngFor="let type of FUNDING_TYPES" [value]="type">{{type}} </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <br>
                        <mat-form-field class="input-field col-sm-12 ">
                          <mat-select [(ngModel)]="scholarship.education_level" name="education_level" id="education_level" multiple=true placeholder="Select Your Education Type">
                            <mat-option *ngFor="let level of EDUCATION_LEVEL" [value]="level">{{level}} </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field class="input-field col-sm-12 ">
                          <mat-select class="col-sm-12" [(ngModel)]="scholarship.education_field" name="education_field" id="education_field" multiple=true
                                       placeholder="Education Field">
                            <mat-option *ngFor="let education_field of EDUCATION_FIELDS" [value]="education_field">{{education_field}} </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <br>

                        <div class="row">
                          <div class="col-sm-12">
                            <p> What programs are this scholarship for? (Leave blank for any program)</p>
                            <table>
                              <tr  *ngFor="let program of scholarship.eligible_programs; let i = index">
                                <td> {{program}} </td>
                                <td>
                                  <a class="waves-effect waves-light btn right" (click)="deleteArrayitem(scholarship.eligible_programs, i)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                  </a>
                                </td>
                              </tr>
                            </table>
                          </div>

                          <div class="col-sm-12">
                            <app-typeahead [model]="scholarship.eligible_programs" [dataset]="MAJORS_LIST"
                                           [metadata]="{'placeholder':'What programs are this scholarship for? (Leave blank for any program)', 'key':'major','tabindex':'9'}">
                            </app-typeahead>
                          </div>

                        </div>


                      </fieldset>

                      <div class="row">
                        <a class="waves-effect waves-light btn right" (click)="next()">Next</a>
                        <a *ngIf="editMode" class="waves-effect waves-light btn left"  style="margin-left: 5%;"(click)="saveScholarship(scholarshipForm)">Save</a>
                      </div>
                      <br>
                    </div>
                    <div *ngIf="pageNo==2">
                      <h5>General Information {{pageNo}}/3</h5>
                      <fieldset [disabled]="editMode && !isOwner">

                        <div class="row">
                          <p>Add an application form.</p>
                          <div class="col-sm-6">
                            <label>Upload an application form <span *ngIf="!scholarship.id">Create Scholarship first.</span></label>
                            <input class="browser-default" id="form_url" type="file" placeholder="Application Form" name="form_url" (change)="scholarshipAppFormChangeEvent($event)">
                          </div>
                          <div class="col-sm-6">
                            <button mat-raised-button class="btn white-text" (click)="uploadScholarshipAppForm()">Upload</button>

                            <div  *ngIf="showUploadLoading">
                              Uploading File Please Wait...
                              <div *ngIf="uploadProgress" class="col-md-3 col-sm-12 mb-3">
                                Progress: <p style="font-weight: bold">{{uploadProgress | number:'1.0-0'}}%</p>
                                <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
                              </div>
                            </div>
                            <div *ngIf="scholarship.form_url" class="col-sm-12">
                              <a target="_blank" href="{{scholarship.form_url}}">View Current Application</a>
                            </div>

                            <mat-form-field class="col-sm-12">
                              <input class="browser-default" matInput id="form_url" type=url placeholder="Application Form URL" [(ngModel)]="scholarship.form_url" name="form_url" (change)="formNeedsParsing()">
                            </mat-form-field>
                          </div>
                        </div>



                        <div class="row">
                          <div class="col-sm-12 col-md-6" *ngFor="let entry of Object.keys(autoCompleteLists)">

                            <table>
                              <p style="font-weight: bold">{{prettifyKeys(entry)}}</p>
                              <tr  *ngFor="let item of scholarship[entry]; let i = index" ngDefaultControl>
                                <td>{{item}} </td>
                                <td>
                                  <a class="waves-effect waves-light btn right" (click)="deleteArrayitem( scholarship[entry], i)">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                  </a>
                                </td>
                              </tr>
                            </table>

                            <app-typeahead [model]="scholarship[entry]" [dataset]="autoCompleteLists[entry]"
                                           [metadata]="{'placeholder':prettifyKeys(entry), 'key': entry,'col':'col-sm-6'}">
                            </app-typeahead>
                          </div>

                          <div class="row">

                          <div class="col-sm-12" style="margin-left:  1rem;" *ngFor="let questionKey of ['female_only','international_students_eligible',
                          'no_essay_required','resume_required','cover_letter_required','transcript_required','enrollment_proof_required']">
                            <!--TODO change to dropdown select for all genders?-->
                            <input class="browser-default" id="{{questionKey}}" type="checkbox" [(ngModel)]="scholarship[questionKey]" name="{{questionKey}}">
                            <label for="{{questionKey}}" data-error="Invalid input">{{prettifyKeys(questionKey)}}?</label>
                          </div>
                        </div>

                          <mat-form-field class="col-sm-12">
                            <input class="browser-default" matInput id="reference_letter_required" type="number" [(ngModel)]="scholarship.reference_letter_required" name="reference_letter_required">
                            <label for="reference_letter_required" data-error="Invalid input">Number of reference letters required? (Leave as 0 if reference letter is not required.)</label>
                          </mat-form-field>

                        </div>

                        <p>Any additional Information? </p>
                        <div class="row wysiywyg-editor">
                          <!--<textarea class="col-sm-12" id="criteria_info" type="text" [froalaEditor]="froalaOptions" [(froalaModel)]="scholarship.criteria_info" name="criteria_info"></textarea>-->
                          <textarea [ngClass]="editorId +' col-sm-12'"></textarea>
                        </div>

                      </fieldset>
                      <div class="row">
                        <div class="col-sm-12">
                          <a class="waves-effect waves-light btn left" (click)="back()">Back</a>
                          <a *ngIf="editMode" class="waves-effect waves-light btn left"  style="margin-left: 5%;" (click)="saveScholarship(scholarshipForm)">Save</a>
                          <a class="waves-effect waves-light btn right" (click)="next()">Next</a>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="pageNo==3">
                      <fieldset [disabled]="editMode && !isOwner">
                        <h5>Additional Form Questions {{pageNo}}/3</h5>
                        <ol >
                          <li *ngFor="let question of generateArray(scholarship.extra_questions);let i = index" class="questions row">
                            <div class="col-sm-3">Type: {{question.controlType}}
                            </div>
                            <div class="col-sm-3">Question: {{question.label}}
                            </div>
                            <div class="col-sm-3">Key: {{question.key}}
                            </div>
                            <div class="col-sm-12 m3">
                              <a class="waves-effect waves-light btn left" (click)="edit(question.key)">
                                <i class="fa fa-pencil"></i>
                              </a>
                              <a class="waves-effect waves-light btn right" (click)="delete(question.key)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                              </a>
                            </div>
                          </li>
                        </ol>
                        <div class="row">
                          <div class="col-sm-12">
                            <button class="waves-effect waves-light btn center" (click)="openModal()">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                          </div>
                        </div>
                        <!--  Start Web form details -->
                        <div class="container-fluid"  *ngIf="scholarship.submission_info.application_form_type=='Web'" >
                          <h5>Web Form Questions{{pageNo}}/3</h5>
                          <div class="page-header">
                            <h1>{{ title }}</h1>
                          </div>
                          <table class="table">
                            <h6>Form Parent Description</h6>
                            <tr>
                              <th>Element Type</th>
                              <th>Element Attribute</th>
                              <th>Attribute Value</th>
                            </tr>
                            <tr>
                              <td><input [(ngModel)]="scholarship.submission_info.web_form_parent.element_type" name="web_form_parent.element_type" class="browser-default" placeholder="ex. div"></td>
                              <td><input [(ngModel)]="scholarship.submission_info.web_form_parent.attribute_type" name="web_form_parent.attribute_type" class="browser-default" placeholder="ex. id"></td>
                              <td><input [(ngModel)]="scholarship.submission_info.web_form_parent.attribute_value" name="web_form_parent.attribute_value" class="browser-default" placeholder="ex. myFormId"></td>
                            </tr>
                          </table>
                          <!-- display the web form editing table if appropriate for this scholarship and it is automated -->
                          <my-table [records]="webForms"
                                    [caption]="'Web Form Entries'" (tableEditEvent)="saveTableChanges($event)">
                          </my-table>
                        </div>  <!--  ENDWeb form details -->
                      </fieldset>
                      <div class="row">
                        <div class="col-sm-12">
                          <fieldset [disabled]="editMode && !isOwner">

                            <div class="row">
                              <div class="col-sm-12">
                                <input class="browser-default" id="is_automated" type="checkbox" [(ngModel)]="scholarship.is_automated" name="is_automated">
                                <label for="is_automated" data-error="Invalid input">Can this form be automated by Atila?<a> What is an automatable form?</a></label>
                              </div>
                            </div>
                            <div class="row">
                              <label for="application_form_type" data-error="Invalid input">What type of form is the application?</label>
                              <div class="input-field">
                                <mat-form-field class="col-sm-12">
                                  <mat-select class="col-sm-12" [(ngModel)]="scholarship.submission_info.application_form_type" name="application_form_type" id="application_form_type" placeholder="Application Form Type">
                                    <mat-option *ngFor="let type of APPLICATION_FORM_TYPES" [value]="type">{{type}} </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>

                            <div class="row">
                              <label for="submission_type" data-error="Invalid input">How to submit this application?</label>
                              <div class="input-field">
                                <mat-form-field class="col-sm-12">
                                  <mat-select class="col-sm-12" [(ngModel)]="scholarship.submission_info.submission_type" name="submission_type" id="submission_type" placeholder="Submission Type" (ngModelChange)="configureSubmissionInfo($event)" >
                                    <mat-option *ngFor="let type of APPLICATION_SUBMISSION_TYPES" [value]="type">{{type}} </mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>


                            <div class="row" *ngIf="scholarship.submission_info.submission_type=='Other'">
                              <mat-form-field class="col-sm-12">
                                <input class="browser-default" type="text" matInput [(ngModel)]="scholarship.submission_info.submission_type_other" name="submission_type_other" id="submission_type_other" placeholder="Submission Type (Other)" >
                              </mat-form-field>
                            </div>

                            <div class="row" *ngIf="scholarship.submission_info.submission_type=='Email'">
                              <mat-form-field class="col-sm-12">
                                <input class="browser-default" type="text" matInput placeholder="What email will this application be sent to?"
                                       [(ngModel)]="scholarship.submission_info.email_address" name="submission_info_email_address" id="submission_info_email_address">
                              </mat-form-field>

                              <div class="col-sm-12">
                                <input class="browser-default" id="email_subject_is_custom" type="checkbox" [(ngModel)]="scholarship.submission_info.email_subject_is_custom" name="email_subject_is_custom">
                                <label for="email_subject_is_custom" data-error="Invalid input">Use Custom Subject?</label>
                              </div>
                              <p style="font-size: smaller">
                                Default subject is currently selected. Using each applicant's name as seen below:
                              </p>
                              <mat-form-field class="col-sm-12">
                                <label>What is the email subject?</label>
                                <input class="browser-default" type="text" matInput [(ngModel)]="scholarship.submission_info.email_subject" [disabled]="!scholarship.submission_info.email_subject_is_custom" name="submission_info_email_subject" id="submission_info_email_subject" placeholder="Submission Info Email Subject" >
                              </mat-form-field>

                            </div>

                          </fieldset>

                          <a class="waves-effect waves-light btn left" (click)="back()">Back</a>
                          <a *ngIf="!showFormUpload && !editMode" class="waves-effect waves-light btn right" (click)="saveScholarship(scholarshipForm)">Create</a>
                          <a *ngIf="!showFormUpload && editMode" class="waves-effect waves-light btn right" (click)="saveScholarship(scholarshipForm)">Save</a>
                          <a *ngIf="showFormUpload" class="waves-effect waves-light btn right" (click)="saveScholarship(scholarshipForm)">Save</a>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <p>
                    {{scholarshipErrors}}
                  </p>
                </form>
            </div>
        </div>
    </div>
</div>
