@import '../../../styles';

#description{
    margin: (0,1%);
    height: 10rem;
}

#critera-info{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 10rem;
}

.location-button{
    margin: 1%;
}
.fixed-action-btn {
  right: 87%;
}

.btn-floating{
  font-size: 12px;
}

#criteria_info_preview {
  max-height: 500px;
  overflow-y: scroll;
  padding-left: 5%;
}
