<div class="container" *ngIf="scholarship" style="margin-top: 3%; min-width: 85%">


  <div class="row">

    <div class="col-sm-12 col-md-8 content-container">
      <div class="col-sm-12 mb-3">
        <img class="scholarship-image" [src]="scholarship.img_url" />
      </div>

      <div class="row" style="margin-top: -1%">
        <h3 style="width: 100%; text-align: center; margin-top: 0">{{scholarship.name}}</h3>

        <div class="date-created col col-sm-12 col-md-8">
          <ng-container *ngIf="scholarship.open_date && (scholarship.open_date > scholarship.deadline || scholarship['metadata']['deadline_tbd']);else hasDeadline">
            <strong>Opens:</strong> {{scholarship.open_date | date:'mediumDate' }}
          </ng-container>
          <ng-template #hasDeadline><strong>Deadline:</strong>
            <span *ngIf="!scholarship['metadata']['deadline_tbd']">
            {{scholarship.deadline | date:'longDate'}}</span>
            <span  *ngIf="this.scholarship['metadata']['deadline_tbd']">TBA</span>
          </ng-template>

          <strong>
            <p *ngIf="scholarship.funding_amount > 0">Amount: {{scholarship.funding_amount | currency:'USD':'symbol':'1.0-0'}}</p>
          </strong>

          <div *ngIf="scholarshipOwner">
            Added by: <a routerLink="/profile/{{scholarshipOwner.username}}">{{scholarshipOwner.first_name}} {{scholarshipOwner.last_name}}</a>
          </div>

          <a target="_blank" *ngIf="scholarship.scholarship_url" href="{{scholarship.scholarship_url}}"> Visit Scholarship Website <br></a>
          <a target="_blank" *ngIf="scholarship.form_url" href="{{scholarship.form_url}}"> View Application Form </a>

          <a [routerLink]="['/scholarship/edit', scholarship.slug]"> Edit Scholarship <br></a>
          <!--<a *ngIf="scholarship.owner!=userId" [routerLink]="['/scholarship/edit', scholarship.slug]"> Suggest/View Edits </a><br>-->
          <!--<span class="show-on-small" style="max-height: 0"><br></span>-->

        </div>

        <div  class="col-sm-12 col-md-4 mt-3" style="zoom: 1.3">

          <div>
            <a ngbTooltip="Save Scholarship to get notified when it's due"
               class="btn-floating waves-effect waves-light save-scholarship"
               title="Save Scholarship"
               (click)="addToMyScholarship(scholarship)"
               [ngStyle]="{'background-color': alreadySaved ? '#4080ff' : 'gray'}">
              <i class="material-icons">bookmark</i>
            </a>
            <p>Save Scholarship</p>
          </div>

          <div>
            <app-share-item
                            [item]="{title: scholarship.name,
              url:'https://atila.ca/scholarship/'+scholarship.slug+'/',
              id: scholarship.id, source:'scholarship_detail',type:'scholarship'}"></app-share-item>

            <p>Share Scholarship</p>
          </div>
        </div>


        <div class="col-sm-12">
          <h3 style="margin-top: 1%">Scholarship Description</h3>
          <p style="width: 90%; white-space: pre-line">{{scholarship.description}}</p>
        </div>

        <div class="other-criteria">

          <h3>Other Criteria</h3>

          <!--TODO: How is extra_criteria being generated. How is it different from the autoComplete lists?-->
          <!--<div *ngFor="let key of Object.keys(scholarship.extra_criteria)">-->
          <!--<p><strong>{{prettifyKeys(key)}}:</strong>{{scholarship.extra_criteria[key]}}</p>-->
          <!--</div>-->

          <div *ngFor="let key of autoCompleteLists">
            <ng-container *ngIf="scholarship[key].length>0">
              <p>
                <strong>{{prettifyKeys(key)}} {{key == 'citizenship' ? 'or permanent residency': ''}}:</strong>
                {{scholarship[key]}}</p>
            </ng-container>
          </div>

          <div *ngFor="let locationType of ['city', 'province', 'country']">
            <ng-container *ngIf="scholarship[locationType].length>0">
              <p>
                <strong>{{prettifyKeys(locationType)}}:</strong>
                <ng-container *ngFor="let locationString of scholarship[locationType]; let isLast = last">
                  {{locationString.name}}{{!isLast ? ',' : ''}}
                </ng-container>

              </p>
            </ng-container>
          </div>
          <p *ngIf="scholarship.female_only"><strong>Female Only</strong></p>
          <p *ngIf="scholarship.international_students_eligible"><strong>International Students Eligible</strong></p>

          <br>
        </div>


      </div>

      <div class="row">
        <div class="col-sm-12">
          <hr />

          <div class="inner-html" [innerHTML]="scholarship.criteria_info | safeHtml"></div>

        </div>

        <p> Something Wrong?
          <a routerLink="/contact" [queryParams]="{'atila_ref':'scholarship_detail'}">Tell Us</a>
        </p>

      </div>

    </div>


    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 hide-on-small-and-down sidebar-widgets">

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="ml-3">Related</h5>
        <div class="mx-3">

          <!-- Loading progress circle -->
          <div *ngIf="isLoadingRelatedItems">
            <h5>Loading Related items...</h5>
            <mat-spinner></mat-spinner>
          </div>

          <div  *ngFor="let item of relatedItems; let i = index; first as isFirst;">
            <div (click)="logRelatedItemClick(item)">
              <app-card-generic [item]="item"
                                [titleMaxLength]="60"
                                [imageStyle]="{'max-height': '250px', 'overflow-y': 'hidden'}"> </app-card-generic>
            </div>
          </div>

          <hr/>

          <div *ngIf="scholarship.essay_set && scholarship.essay_set.length>0" class="row">
            <h5>Related Essays</h5>
            <div  *ngFor="let item of scholarship.essay_set ; let i = index; first as isFirst;">
              <div (click)="logRelatedItemClick(item)">
                <app-card-generic [item]="item"
                                  [titleMaxLength]="60"
                                  [imageStyle]="{'max-height': '250px', 'overflow-y': 'hidden'}"> </app-card-generic>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <!--END Sidebar Widgets Column-->

  </div>


  <div *ngIf="relatedItems" class="row">
    <div style="width: 100%; margin-left: 5%"><h5>Related</h5></div>
    <div  *ngFor="let item of relatedItems; let i = index; first as isFirst;" class="col-md-4">
      <div (click)="logRelatedItemClick(item)">
        <app-card-generic [item]="item"
                          [titleMaxLength]="60"
                          [imageStyle]="{'max-height': '240px', 'overflow-y': 'hidden'}">
        </app-card-generic>
      </div>
    </div>
  </div>

  <div *ngIf="scholarship.essay_set && scholarship.essay_set.length>0" class="row">
    <div style="width: 100%; margin-left: 5%"><h5>Related Essays</h5></div>
    <div  *ngFor="let item of scholarship.essay_set; let i = index; first as isFirst;" class="col-md-4">
      <div (click)="logRelatedItemClick(item)">
        <app-card-generic [item]="item"
                          [metadata]="{hideDescription: false}"
                          [titleMaxLength]="60"
                          [imageStyle]="{'max-height': '240px', 'overflow-y': 'hidden'}">
        </app-card-generic>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 forum-box">
      <h5 > Comments </h5>

      <mat-card class="comment-card" *ngIf="userComment" >

        <mat-card-content>
          <input id="comment_title" placeholder="Title" [(ngModel)]="userComment.title">
          <textarea style="height: 5rem" id="comment_body" placeholder="What do you think?" [(ngModel)]="userComment.text">
                        </textarea>
        </mat-card-content>

        <mat-card-actions>
          <button mat-raised-button style="background-color: #184E87;" class="btn white-text" (click)="postComment()">Post</button>
        </mat-card-actions>

      </mat-card>

      <div  *ngFor="let comment of scholarshipComments; i as index; first as isFirst; trackBy:trackByFn" class="forum-comments">
        <app-comment  [comment]="comment" commentType="Forum"> </app-comment>
      </div>

    </div>
  </div>


</div>

<!-- Loading progress circle -->
<div *ngIf="!scholarship" class="preloader-background">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
