<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      {{questions}}
   <div *ngIf="questions.length!=0" >
    <h4>Specific Info</h4>
      <div *ngFor="let question of questions" class="form-row">
        <app-dynamic-form-question  [question]="question" [form]="form" [profileForm]="profileForm"
         [generalData]="generalData" (uploaded)="fileChangeEvent($event)"></app-dynamic-form-question>
      </div>
   </div>
   
      <div class="form-row" style=" margin-top: 1%;">
          <button md-raised-button style="background-color: #184E87;margin-left:1%"class="btn white-text" (click)="uploadUserDocuments()" >Upload Document</button>
          <button md-raised-button style="background-color: #184E87;" class="btn white-text" (click)="saveDocumentsUrls()">Save Documents</button>
          <button md-raised-button style="background-color: #184E87;" class="btn white-text" type="submit" [disabled]="!form.valid">Automate!</button>
        
        <div  *ngIf="showAutomationLoading">
            Automating Engine Running Please Wait...
            <md-progress-bar aria-label="Automating Engine Running Please Wait..." mode="indeterminate"></md-progress-bar>
        </div>

        <a target="_blank" *ngIf="uploadUrl" href="{{uploadUrl}}">View Filled Application</a>
      </div>
    </form>
  
   
    <div *ngIf="payLoad" class="form-row">
      <div>
        <h4>Custom Email for your Application</h4>
        Good Morning,
        <br>
        My name is {{generalData.userProfile.first_name}} {{generalData.userProfile.last_name}}.
        This email contains my application for the {{generalData.scholarship.name}}, please see attatched. Thank you for sponsoring this scholarship.
        <br>
        Regards,
        {{generalData.userProfile.first_name}}

      </div>
      <strong>Saved the following values: </strong><br>{{payLoad}}
    </div>
  </div>