<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      {{myJSON.stringify(questions)}}
   <div *ngIf="questions.length!=0" >
    <h4>Specific Info</h4>
      <div *ngFor="let question of questions" class="form-row">
        <app-dynamic-form-question  [question]="question" [form]="form" [profileForm]="profileForm"
         [generalData]="generalData" (uploaded)="fileChangeEvent($event)"></app-dynamic-form-question>

      </div>
     <mat-progress-bar style="margin-bottom: 1%;" *ngIf="uploadProgress" mode="determinate" [value]="uploadProgress"></mat-progress-bar>
   </div>

      <div class="form-row" style=" margin-top: 1%;">
          <button mat-raised-button style="background-color: #184E87;margin-left:1%"class="btn white-text" (click)="uploadUserDocuments($event)" >Upload Document</button>
          <button mat-raised-button style="background-color: #184E87;" class="btn white-text" (click)="saveApplication($event)">Save Application</button>
          <button mat-raised-button style="background-color: #184E87;" class="btn white-text" type="submit" [disabled]="!form.valid">Automate!</button>

        <div  *ngIf="showAutomationLoading">
            Automating Engine Running Please Wait...
            <mat-progress-bar aria-label="Automating Engine Running Please Wait..." mode="indeterminate"></mat-progress-bar>
        </div>

        <a target="_blank" *ngIf="uploadUrl" href="{{uploadUrl}}">View Filled Application</a>

        <div *ngIf="preAndPostScreenshots">
           <h6> A confirmation screenshot of the automated web form: </h6>


          <div *ngFor="let screenshotConfirmationImage of preAndPostScreenshots" id="screenshotConfirmationFrame" style=" border: solid;overflow: auto; max-width: 100%; max-height: 300px;">
              <!-- Display the image as a base64 string and ensure that it is sanitized. -->
                <!-- https://stackoverflow.com/questions/43141534/angular2-base64-sanitizing-unsafe-url-value -->
                  <a target="_blank" *ngIf="screenshotConfirmationImage" [href]="screenshotConfirmationImage | safeResource">View Confirmation Screenshot</a>
                  <img *ngIf="screenshotConfirmationImage" [src]="screenshotConfirmationImage | safeResource" style="width: 100%;"/>

          </div>

        </div>

      </div>
    </form>

    <div *ngIf="emailBody">
        <h4>Custom Email for your Application</h4>
        <div style="white-space: pre-line" >
          {{emailBody}}
        </div>

        <a target="_blank" href="{{appMailToLink}}">Send Email</a>
        <button  mat-raised-button style="background-color: #184E87;margin:1%"class="btn white-text"
         (click)="saveToClipBoard('email-content')" class="btn btn-success white-text">Copy to Clipboard</button>

        <textarea [(ngModel)]="emailBody" id="email-content" style="height: 15em"></textarea>


      </div>

    <div *ngIf="payLoad" class="form-row">

      <strong>Saved the following values: </strong><br>{{payLoad}}
    </div>
  </div>
