
<div class="container row">


  <div class="row">

    <div class="col-sm-12 col-md-8 offset-md-2">
      <h3>Essays</h3>

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content white-text">
              <a routerLink="/essay/add">
                <button button mat-icon-button class="btn">
                  Add an Essay
                  <mat-icon  class="atila-blue" aria-hidden="true" aria-label="Add a Blog Post" md-colors="{color:'primary'}">
                    add_circle_outline
                  </mat-icon>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6">
          <div class="card b">
            <div class="card-content ">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>


    </div>

  </div>

</div>
