<mat-card class="scholarship-card">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{ 'background-image': 'url( '+ scholarship.img_url +' )' }" class="header-image"></div>
      <mat-card-title><a [routerLink]="['../scholarship-detail', scholarship.slug]" class="card-title">{{scholarship.name | truncate:45}}</a></mat-card-title>
      <mat-card-subtitle class="card-text"  *ngIf="scholarship.extra_questions && !scholarship.extra_questions.funding_amount_varies; else funding_varies">
        {{scholarship.funding_amount | currency:'USD':'symbol':'1.0-0'}}</mat-card-subtitle>
      <ng-template #funding_varies><mat-card-subtitle class="card-text">Varies</mat-card-subtitle></ng-template>
    </mat-card-header>
    <a [routerLink]="['../scholarship-detail', scholarship.slug]">
      <img mat-card-image class="my-mat-card-image" src="{{scholarship.img_url}}">
    </a>
    <mat-card-content>
      <p class="card-text">
        {{scholarship.description | truncate:140}}
      </p>
    </mat-card-content>

  <mat-card-actions>
      <a *ngIf=scholarship.is_automated [routerLink]="['../scholarship-detail', scholarship.slug]" title="Automated Scholarships"><button mat-button><i class="material-icons automate-tag">tag_faces</i></button></a>

      <button mat-fab  (click)="shareItem(scholarship)">
        <mat-icon  class="atila-blue" aria-hidden="true" aria-label="Save">bookmark</mat-icon>
      </button>

      <button mat-fab [matMenuTriggerFor]="shareMenu">
        <mat-icon  class="atila-blue" aria-hidden="true" aria-label="Share">share</mat-icon>
      </button>
      <!-- Dropdown Share Menu -->
      <mat-menu #shareMenu="matMenu" [overlapTrigger]="false">

        <a target="_blank" [href]="'mailto:?body=Have you seen this scholarship from Atila\\?%0A%0Ahttps://atila.ca/scholarship-detail/'+scholarship.slug+'.&subject=Scholarship From Atila - '+ scholarship.name" >
          <button mat-menu-item>
            <mat-icon svgIcon="email"></mat-icon>
          </button>
        </a>
        <a target="_blank" [href]="'http://www.facebook.com/dialog/send?app_id=401124503672116&link=https://atila.ca/scholarship-detail/'+scholarship.slug+'&redirect_uri=https://atila.ca/'">
          <button mat-menu-item>
            <mat-icon svgIcon="facebook-messenger"></mat-icon>
          </button>
        </a>
        <a target="_blank" [href]="'https://www.facebook.com/sharer.php?display=popup&quote=Have you seen this scholarship from Atila? : '+scholarship.name+'+&href=https://atila.ca/scholarship-detail/'+scholarship.slug+'&app_id=401124503672116'" rel="noopener">
          <button mat-menu-item>
            <mat-icon svgIcon="facebook"></mat-icon>
          </button>
        </a>

        <a  target="_blank"[href]="'https://web.whatsapp.com/send?text=https://atila.ca/scholarship-detail/'+scholarship.slug">
          <button mat-menu-item>
            <mat-icon svgIcon="whatsapp"></mat-icon>
          </button>
        </a>
      </mat-menu>
      <!--<a [routerLink]="['../scholarship-detail', scholarship.slug]" ><button mat-button><mat-icon svgIcon="plus-one"></mat-icon></button></a>-->
    </mat-card-actions>

</mat-card>
