@import '../../styles.scss';

mat-card{
  margin-bottom: 7%;
}

mat-card-content{
  height: 100px;
  overflow: hidden;
}

mat-card-title{
  max-height: 3em;
  overflow: hidden;
}

mat-card-header{
  //height: 100px;
}

mat-card-actions{
  padding: 0;
  height: 40px;
}

.scholarship-preview-count{
  opacity:0.75;
  //font-family:FuturaStd-Book;
  font-size:20px;
  color:#000000;
  text-align:center;
  display: inline-block;
}

.registered-title{
  text-align: center;
  max-height: 2.8em;
}
.mat-button{
  min-width: 65px;
}

.btn {
  margin: 10px;
}


.logo-img {
  height: 60px;
}


.scholarship-card {
  margin: 5%;
}


.my-mat-card-image{
  display: block;
  max-width:150px;
  max-height:150px;
  width: auto;
  height: auto;
}

mat-card:hover {
  color: black;
  background-color: #DDD;
  left: .1em;
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: 0px;
  padding-bottom: 0;
}


.header-image {
  background-image: url('https://firebasestorage.googleapis.com/v0/b/atila-7.appspot.com/o/public%2Fatila-scholarship-default-image.jpeg?alt=media&token=cd789758-3400-43d5-9ea7-d2facf709ea2');
  background-size: cover;
}

button:focus, button:hover{
  background-color: #C1BCBC;
}


button.mat-fab.mat-accent {
  background-color: white;
}

.mat-simple-snackbar-action {
  color: $my-lighten;
}

td {
  padding: 0;
}
