<div class="container">
  <div class="row">

    <div class="col s11">
      <h3> {{blogPost.title}} </h3>

      <mat-card class="forum-card">
          
      <mat-card-content>
          <input id="forum_title" placeholder="Title" [(ngModel)]="blogPost.title" (change)="titleToSlug(blogSlugInput)">

        <a (click)="extraBlogOptions = !extraBlogOptions"  href="javascript:undefined">More Settings</a>
        
        <div [hidden]="!extraBlogOptions">

        <div class="row">

            <div class="col s12 l5">
                <label>Paste an image url for blog Post Header Image</label>
              <input [(ngModel)]="blogPost.header_image_url" class="browser-default" id="header_image_url" type="text" placeholder="Paste header image url"
                 #uploadPicInput name="header_image_url">
            </div>
            <div class="col s12 l5">
                <label>Or upload a blog Post Header Image</label>
              <input class="browser-default" id="header_image_url_file" type="file" placeholder="Upload your Header Image"
                 #uploadPicInput name="header_image_url_file">
            </div>
            
            <mat-progress-bar style="margin-bottom: 1%;" *ngIf="uploadProgress" mode="determinate" [value]="uploadProgress"></mat-progress-bar>

            <div class="col s6 l2">
              <button mat-raised-button class="btn white-text" (click)="uploadPicture(uploadPicInput)">Upload</button>
            </div>

        </div>

          <span class="example-tooltip-host" matTooltip="A short preview of your article. Used for social media or search engines." matTooltipPosition="below">
            <mat-icon aria-label="Why add a description">help_outline</mat-icon>
          </span>
          <input id="blog_post_description" class="prefix_input" placeholder="Blog preview" [(ngModel)]="blogPost.description">
          <div><span *ngIf="userProfile" id="url_prefix">atila.ca/blog/{{userProfile.username}}/</span>
            <input class="prefix_input" #blogSlugInput type="text" [(ngModel)]="blogPost.slug" placeholder="Blog URL">
          </div>
        </div>
          
      </mat-card-content>

      <mat-card-actions>
          <button mat-raised-button style="background-color: #184E87;" class="btn white-text" (click)="saveBlog(false)">Save</button>
      </mat-card-actions>
                      
      </mat-card>

    <textarea id="{{editorId}}"></textarea>
    <button mat-raised-button style="background-color: #184E87;" class="btn white-text" (click)="saveBlog(false)">Save</button>
    <button mat-raised-button style="background-color: #184E87;" class="btn white-text" (click)="saveBlog(true)">Publish</button>
    </div>

    <br>
    <div style="margin-top:3%" class="col m8 offset-m2 l8 offset-l2 s11">
      <h5>Preview</h5>
      <h3> {{blogPost.title}} </h3>
      <img [src]="blogPost.header_image_url" style="max-height: 100%;max-width: 100%;"/>
    </div>
    <div [innerHTML]="blogPost.body | safeHtml" class="col m8 offset-m2 l8 offset-l2 s11"></div>
    
  </div>
</div>
