<div class="container">
    <div class="card">
      <div class="row">
        <div class="card-content" *ngIf="userProfile && scholarship">
          
            <h4>{{userProfile.first_name}}'s Application for: <br> {{scholarship.name}}</h4>
            <h6> Application ID #{{application.id}} </h6>
            <br>
            <form  #profileForm="ngForm"  class="col s12">
              <h4>General Info</h4>
              <div class="row">
                <mat-form-field class="col s6">
                  <input class="browser-default" matInput id="first_name" type="text" required minlength="2" placeholder="First name"
                    [(ngModel)]="userProfile.first_name" name="first_name">
                </mat-form-field>
                <mat-form-field class="col s6">
                  <input class="browser-default" matInput id="last_name" type="text" required minlength="2" placeholder="Last Name"
                    [(ngModel)]="userProfile.last_name" name="last_name">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col s12">
                  <input class="browser-default" matInput id="street_address" type="text" required placeholder="Street Address"
                    [(ngModel)]="userProfile.street_address" name="street_address">
                </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col s12">
                  <input class="browser-default" matInput id="postal_code" type="text" required placeholder="Postal Code"
                    [(ngModel)]="userProfile.postal_code" name="postal_code">
                </mat-form-field>
              </div>

                <div class="row">
                  <mat-form-field class="col s12">
                      <input class="browser-default" matInput id="secondary_school" type="text" placeholder="Secondary School"
                        [(ngModel)]="userProfile.secondary_school" name="secondary_school">
                    </mat-form-field>
              </div>
              <div class="row">
                  <mat-form-field class="col s12">
                      <input class="browser-default" matInput id="post_secondary_school" type="text" placeholder="Post Secondary School"
                        [(ngModel)]="userProfile.post_secondary_school" name="post_secondary_school">
                    </mat-form-field>
              </div>
              <div class="row">
                <mat-form-field class="col s12">
                  <input class="browser-default" matInput id="city" type="text" required placeholder="City"
                    [(ngModel)]="locationData.city" name="city">
                </mat-form-field>
              </div>
              <div class="row">
                  <mat-form-field class="col s12">
                      <input class="browser-default" matInput id="province" type="text" required placeholder="Province/State"
                        [(ngModel)]="locationData.province" name="province">
                    </mat-form-field>
              </div>
              <div class="row">
                  <mat-form-field class="col s12">
                      <input class="browser-default" matInput id="country" type="text" required placeholder="Country"
                        [(ngModel)]="locationData.country" name="country">
                    </mat-form-field>
              </div>
              <div class="row">
                  <mat-form-field class="col s12">
                      <input class="browser-default" matInput id="email" type="text" placeholder="Email"
                        [(ngModel)]="userProfile.email" name="email">
                    </mat-form-field>
              </div>
    
              <div class="row">
                 <mat-form-field class="col s12">
                      <input class="browser-default" matInput id="phone_number" type="number" placeholder="Phone Number"
                        [(ngModel)]="userProfile.phone_number" name="phone_number">
                    </mat-form-field>
              </div>

            <div class="row">
              <span  *ngIf="scholarship.resume_required" >
              <div class="col s12">
                  <label>Change Resume</label>
                <input class="browser-default" id="resume" type="file" placeholder="Resume"
                  name="resume" (change)="fileChangeEvent($event)">
              </div>

              <div *ngIf="userProfile.resume" class="col s12">
                  <a class="scholarship-document" name="resume" target="_blank" href="{{userProfile.resume}}"> View Resume </a>
              </div>

              </span>
              <span  *ngIf="scholarship.transcript_required" >
              <div class="col s12">
                  <label>Upload Transcript</label>
                  <input class="browser-default" id="transcript" type="file" placeholder="Transcript"
                    name="transcript" (change)="fileChangeEvent($event)">
                </div>

              <div *ngIf="userProfile.transcript" class="col s12">
                  <!-- Why does this element have so many attributes? TODO: Can we remove them? -->
                  <a  class="scholarship-document"  name="transcript" [attr.data-question-type]="scholarshipDocument" [attr.data-questionkey]="transcript" data-questionkey="transcript" attr.data-questionkey="transcript" target="_blank" href="{{userProfile.transcript}}"> View Transcript </a>
              </div>
              </span>
            </div>
            <div class="row">
              <span  *ngIf="scholarship.reference_letter_required>0" >
                <div class="col s12">
                   <label>Upload Reference Letter </label>
                  <input class="browser-default" id="reference_letter" type="file" placeholder="Reference Letter"
                    name="reference_letter" (change)="fileChangeEvent($event)">
                </div>

                <div *ngIf="userProfile.reference_letter" class="col s12">
                    <a  class="scholarship-document" name="reference_letter" [attr.data-question-type]="scholarshipDocument" [attr.data-question-key]="reference_letter" data-question-key="reference_letter"  target="_blank" href="{{userProfile.reference_letter}}"> View Reference Letter </a>
                </div>
              </span>
              <span *ngIf="scholarship.reference_letter_required>1" >
                <div class="col s12">
                    <label>Upload Alternate Reference Letter</label>
                   <input class="browser-default" id="reference_letter_alternate" type="file" placeholder="Alternate Reference Letter"
                     name="reference_letter_alternate" (change)="fileChangeEvent($event)">
                 </div>

                <div *ngIf="userProfile.reference_letter_alternate" class="col s12">
                    <a  class="scholarship-document" name="reference_letter_alternate" [attr.data-question-type]="scholarshipDocument" [attr.data-question-key]="reference_letter_alternate" data-question-key="reference_letter_alternate"  target="_blank" href="{{userProfile.reference_letter_alternate}}"> View Alternate Reference Letter </a>
                </div>
              </span>
              </div>
              <div class="row">
                  <button mat-raised-button class="btn white-text left s12" (click)="uploadUserDocuments()" style="margin-left:1%">Upload Document</button>
                  <button (click)="saveUserProfile(profileForm)"class="btn btn-success right s12">Save Profile</button>
              </div>
  
             
            
            </form>
            <span *ngIf="dynamicForm">
              
                <app-dynamic-form [generalData]="generalData" [questions]="questions" [profileForm]="profileForm" [form]="dynamicForm"></app-dynamic-form>
            </span>
  
        </div>
      </div>
    </div>
  </div>
  