<div class="container">
    <div class="card">
      <div class="row">
        <div class="card-content" *ngIf="userProfile && scholarship">

            <h4>{{userProfile.first_name}}'s Application for: <br> {{scholarship.name}}</h4>
            <h6> Application ID #{{appId}} </h6>
            <br>
            <form   [formGroup]="profileForm"  class="col s12">
              <h4>General Info</h4>
              {{userProfile.first_name}}
              {{userProfile.secondary_school}}
              <div class="row">
                <div *ngFor="let question of userProfileDynamicQuestions" >
                  <app-dynamic-question-general [form]="profileForm" [question]="question" [responses]="userProfile"></app-dynamic-question-general>
                </div>

                <!--<p>Location responses can only be saved to profile from edit profile.</p>-->
                <div *ngFor="let question of locationQuestions" >
                  <app-dynamic-question-general [form]="profileForm" [question]="question" [responses]="locationData"></app-dynamic-question-general>
                </div>
              </div>

            <div class="row"  *ngIf="scholarship.resume_required || scholarship.transcript_required">
              <span  *ngIf="scholarship.resume_required" >
              <div class="col s12">
                  <label>Change Resume</label>
                <input class="browser-default" id="resume" type="file" placeholder="Resume"
                  name="resume" (change)="fileChangeEvent($event)">
              </div>

              <div *ngIf="userProfile.resume" class="col s12">
                  <a class="scholarship-document" name="resume" target="_blank" href="{{userProfile.resume}}"> View Resume </a>
              </div>

              </span>
              <span  *ngIf="scholarship.transcript_required" >
              <div class="col s12">
                  <label>Upload Transcript</label>
                  <input class="browser-default" id="transcript" type="file" placeholder="Transcript"
                    name="transcript" (change)="fileChangeEvent($event)">
                </div>

              <div *ngIf="userProfile.transcript" class="col s12">
                  <!-- Why does this element have so many attributes? TODO: Can we remove them? -->
                  <a  class="scholarship-document"  name="transcript" [attr.data-question-type]="scholarshipDocument" [attr.data-questionkey]="transcript" data-questionkey="transcript" attr.data-questionkey="transcript" target="_blank" href="{{userProfile.transcript}}"> View Transcript </a>
              </div>
              </span>
            </div>
            <div class="row"  *ngIf="scholarship.reference_letter_required>0">
              <span  *ngIf="scholarship.reference_letter_required>0" >
                <div class="col s12">
                   <label>Upload Reference Letter </label>
                  <input class="browser-default" id="reference_letter" type="file" placeholder="Reference Letter"
                    name="reference_letter" (change)="fileChangeEvent($event)">
                </div>

                <div *ngIf="userProfile.reference_letter" class="col s12">
                    <a  class="scholarship-document" name="reference_letter" [attr.data-question-type]="scholarshipDocument" [attr.data-question-key]="reference_letter" data-question-key="reference_letter"  target="_blank" href="{{userProfile.reference_letter}}"> View Reference Letter </a>
                </div>
              </span>
              <span *ngIf="scholarship.reference_letter_required>1" >
                <div class="col s12">
                    <label>Upload Alternate Reference Letter</label>
                   <input class="browser-default" id="reference_letter_alternate" type="file" placeholder="Alternate Reference Letter"
                     name="reference_letter_alternate" (change)="fileChangeEvent($event)">
                 </div>

                <div *ngIf="userProfile.reference_letter_alternate" class="col s12">
                    <a  class="scholarship-document" name="reference_letter_alternate" [attr.data-question-type]="scholarshipDocument" [attr.data-question-key]="reference_letter_alternate" data-question-key="reference_letter_alternate"  target="_blank" href="{{userProfile.reference_letter_alternate}}"> View Alternate Reference Letter </a>
                </div>
              </span>
              </div>

            <div class="row">
                <button mat-raised-button class="btn white-text left s12" (click)="uploadUserDocuments()" style="margin-left:1%">Upload Document</button>
                <button (click)="saveUserProfile(profileForm)"class="btn btn-success right s12">Save Profile</button>
              <p> Location changes can be saved in <a routerLink="/edit-profile">edit profile</a>.</p>
            </div>
            </form>
            <span *ngIf="dynamicForm">
                <hr>
                <app-dynamic-form [generalData]="generalData" [questions]="questions" [profileForm]="profileForm" [form]="dynamicForm"></app-dynamic-form>
            </span>

        </div>
      </div>
    </div>
  </div>
