<div *ngIf="contentFetched">
    <!--TODO: Why is this line giving me an error. <h5 > You qualify for <strong>{{ scholarships.length}}</strong> Scholarships</h5>-->
    <br/>
    <div *ngIf="form_data">

      <div class="container">
        <div class="row center">

          <h4 class="registered-title">
            <span *ngIf="userProfile">{{userProfile.first_name}}, </span>You can get
            <strong>{{ scholarship_count}}</strong> scholarships<span *ngIf="show_scholarship_funding"> and up to <strong>{{total_funding}}</strong> in funding</span>.
          </h4>

          <h2 *ngIf="scholarship_count!=0 && !isLoggedIn" class="scholarship-preview-count"> You can get <strong>{{scholarship_count}}</strong> scholarships
            <span *ngIf="show_scholarship_funding"> and up to <strong>{{total_funding}}</strong> in funding</span>.</h2>
          <h2 *ngIf="scholarship_count==0" class="scholarship-preview-count"> Unfortunately, you currently qualify for <strong>{{scholarship_count}}</strong> scholarships<span *ngIf="show_scholarship_funding"> and <strong>{{total_funding}}</strong> in funding</span>.
          Try another search.</h2>

        </div>

        <div class="row center" style="text-align: center;margin-bottom: 0px;">
          <p style="font-size: medium" class="col-sm-6">Subscribe to get updates on new scholarships, blog posts and new product features.

            <span *ngIf="subscriber.response" style="color: green">
                  <br>
                  {{subscriber.response}}
            </span>
          </p>


          <mat-form-field class="browser-default col-sm-3 ">
            <!-- <input matInput [(ngModel)]="model.city[0]" name="city" id="city" required placeholder="City"> -->
            <input matInput type="email" class="form-control" style="padding-bottom: 0; margin-bottom: 0"  name="email" id="emailid"
                   placeholder="Email Address" email [(ngModel)]="subscriber.email" (keyup.enter)="addSubscriber($event)">
          </mat-form-field>
          <a class="waves-effect waves-light btn browser-default col-sm-2" style="background-color:#4080ff; " (click)="addSubscriber()">Subscribe</a>


        </div>

        <div class="row">

          <a class=" col-sm-6 waves-effect waves-light btn " routerLink="/applications/demo">Try The Live Demo</a>

          <mat-form-field class="col-sm-5 right">
            <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
            <mat-select  [(ngModel)]="form_data.sort_by"  id="sort_by" name="sort_by" placeholder="Sort By:" (change)="getScholarshipPreview()">
              <mat-option *ngFor="let sortType of ['relevance','deadline','surprise_me','only_automated']" [value]="sortType">{{prettifyKeys(sortType)}} </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <br>

        <!--Unregistered user content -->
        <div *ngIf="!isLoggedIn; else registeredContent">

          <div class="row">
            <div *ngFor="let scholarship of scholarships;  let i=index" class="col-sm-12 col-md-10">
              <ng-template [ngIf]="i<3">
                <app-scholarship-card [scholarship]="scholarship" [userProfile]="userProfile"></app-scholarship-card>
              </ng-template>
            </div>
          </div>

          <div class="center col-sm-8 offset-sm-2 offset-md-1">

            <a *ngIf="scholarship_count!=0" class="waves-effect waves-light btn" routerLink="/register">Register here to view the rest of the scholarships</a>
            <a *ngIf="scholarship_count==0" class="waves-effect waves-light btn" routerLink="/register">Register here to start qualifying for scholarships</a>

          </div>

          <div class="row center">
            <p class="text-align-center col-sm--3">Are we missing a scholarship you want? You can easily <a routerLink="/add-scholarship" title="Add Scholarship">Add a Scholarship </a> to Atila or
              <a href="https://docs.google.com/spreadsheets/d/13YshWzg38Au-tPkGyDfY4hJHGJDWl_7vUpXNXkf5afM/edit?usp=sharing"
                 target="_blank" title="Scholarship Spreadsheet">Tell us the link</a> and we'll automate it for you.</p>
          </div>
        </div>


        <!--Registered user content -->
        <ng-template #registeredContent>
          <div class="container">
            <div class="row">

              <div *ngFor="let scholarship of scholarships;  let i=index"class="col-sm-12 col-md-10" style="margin-bottom: -5%">
                <app-scholarship-card [scholarship]="scholarship" [userProfile]="userProfile"></app-scholarship-card>
              </div>

            </div>
            <div class="row nav-buttons">
              <p class="text-align-center col-sm-12">Are we missing a scholarship you want? You can easily <a routerLink="/add-scholarship" title="Add Scholarship">Add a Scholarship </a> to Atila or
                <a href="https://docs.google.com/spreadsheets/d/13YshWzg38Au-tPkGyDfY4hJHGJDWl_7vUpXNXkf5afM/edit?usp=sharing"
                   target="_blank" title="Scholarship Spreadsheet">Tell us the link</a> and we'll automate it for you.</p>

              <div class="col-sm-12 center">
                <a class="waves-effect waves-light btn scholarship-btn" (click)="previousPage()" [ngClass]="{'hidden': pageNo == '1'}"><i class="fa fa-caret-left" aria-hidden="true"></i>  Previous</a>
                <button mat-button (click)="nextPage()" disabled="true">{{pageNo}}</button>
                <a class="waves-effect waves-light btn scholarship-btn" (click)="nextPage()" [ngClass]="{'hidden': pageNo == pageLen}">Next  <i class="fa fa-caret-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </ng-template>

    </div>


    </div>

</div>


<!-- Loading progress circle -->
<div *ngIf="isLoading" class="preloader-background">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<ng-template *ngIf="contentFetched && scholarship_count==0">
  <div class="container">
    <h2 class="scholarship-preview-count my-dark-blue-text">No available scholarships for the specified profile.</h2>
    <!--TODO: Add page for scholarship advice-->

    <h4 class="scholarship-preview-count my-dark-blue-text"><a routerLink="/register">Learn how to qualify for more scholarships.</a></h4>
  </div>
</ng-template>
