<div *ngIf="contentFetched">
    <!--TODO: Why is this line giving me an error. <h5 > You qualify for <strong>{{ scholarships.length}}</strong> Scholarships</h5>-->
    <br/>
    <div *ngIf="form_data">
      <div class="container" *ngIf="!isLoggedIn; else registeredContent">
        <!--Unregistered user content -->
        <div class="row center">
          <h2 *ngIf="scholarship_count!=0" class="scholarship-preview-count"> You can get <strong>{{scholarship_count}}</strong> scholarships
            <span *ngIf="show_scholarship_funding"> and up to <strong>{{total_funding}}</strong> in funding</span>.</h2>
          <h2 *ngIf="scholarship_count==0" class="scholarship-preview-count"> Unfortunately, you currently qualify for <strong>{{scholarship_count}}</strong> scholarships<span *ngIf="show_scholarship_funding"> and <strong>{{total_funding}}</strong> in funding</span>.</h2>

        </div>

        <div class="row center" style="text-align: center;margin-bottom: 0px;">
          <p style="font-size: medium" class="col s6">Get updates on new scholarships, blog posts and new product features.

            <span *ngIf="subscriber.response" style="color: green">
                  <br>
                  {{subscriber.response}}
                </span>
          </p>

          <mat-form-field class="browser-default col s3 ">
            <!-- <input matInput [(ngModel)]="model.city[0]" name="city" id="city" required placeholder="City"> -->
            <input matInput type="email" class="form-control" style="padding-bottom: 0; margin-bottom: 0"  name="email" id="emailid"
                   placeholder="Email Address" email [(ngModel)]="subscriber.email" >
          </mat-form-field>
          <a class="waves-effect waves-light btn browser-default col s2" style="background-color:#4080ff; " (click)="addSubscriber()">Submit</a>


        </div>

        <div class="row">
            <p class="text-align-center col s-3"><i class="material-icons automate-tag">tag_faces</i> = Automated scholarships.</p>
            <p class="text-align-center col s-3"><mat-icon svgIcon="plus-one"></mat-icon> = One-Click Scholarships.</p>
          <p class="text-align-center col s-3">Are we missing a scholarship you want? You can easily <a routerLink="/add-scholarship" title="Add Scholarship">Add a Scholarship </a> to Atila or
              <a href="https://docs.google.com/spreadsheets/d/13YshWzg38Au-tPkGyDfY4hJHGJDWl_7vUpXNXkf5afM/edit?usp=sharing"
            target="_blank" title="Scholarship Spreadsheet">Tell us the link</a> and we'll automate it for you.</p>
        </div>
        <br>
        <div class="row">
            <div *ngFor="let scholarship of scholarships;  let i=index" class="col s12 m6 l4">
                <ng-template [ngIf]="i<3">
                  <mat-card class="scholarship-card">
                    <mat-card-header>
                      <div mat-card-avatar [ngStyle]="{ 'background-image': 'url( '+ scholarship.img_url +' )' }" class="header-image"></div>
                      <mat-card-title><a [routerLink]="['../scholarship-detail', scholarship.slug]" class="card-title">{{scholarship.name | truncate:45}}</a></mat-card-title>
                      <mat-card-subtitle class="card-text">{{scholarship.funding_amount | currency:'USD':'symbol':'1.0-0'}}</mat-card-subtitle>
                    </mat-card-header>
                    <a [routerLink]="['../scholarship-detail', scholarship.slug]">
                    <img mat-card-image class="my-mat-card-image" src="{{scholarship.img_url}}">
                    </a>
                    <mat-card-content>
                        <p class="card-text">
                          {{scholarship.description | truncate:140}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <a *ngIf=scholarship.is_automated [routerLink]="['../scholarship-detail', scholarship.slug]" title="Automated Scholarships"><button mat-button><i class="material-icons automate-tag">tag_faces</i></button></a>
                      <a [routerLink]="['../scholarship-detail', scholarship.slug]" ><button mat-button><mat-icon svgIcon="plus-one"></mat-icon></button></a>
                      </mat-card-actions>
                  </mat-card>
                </ng-template>
            </div>
        </div>

        <div class="row center">
            <a *ngIf="scholarship_count!=0"class="waves-effect waves-light btn scholarship-btn" routerLink="/register">Register here to view the rest of the scholarships</a>
          <a *ngIf="scholarship_count==0"class="waves-effect waves-light btn scholarship-btn" routerLink="/register">Register here to start qualifying for scholarships</a>
        </div>



    </div>

    <!--Registered user content -->
    <ng-template #registeredContent>
      <div class="container">
        <h4 class="registered-title">
          <span *ngIf="userProfile">{{userProfile.first_name}}, </span>You can get
          <strong>{{ scholarship_count}}</strong> scholarships<span *ngIf="show_scholarship_funding"> and up to <strong>{{total_funding}}</strong> in funding</span>.
        </h4>
        <div class="row">

          <!-- <div class="sort-container pull-right">
            <p>Sort by </p>
            <mat-select [(ngModel)]="sortVal" name="sort" id="sort">
              <mat-option [value]=1>Relevance</mat-option>
              <mat-option [value]=2>Funding</mat-option>
              <mat-option [value]=3>Rating</mat-option>
            </mat-select>
          </div> -->

          <div class="row">
          <p class="text-align-center col s-3"><i class="material-icons automate-tag">tag_faces</i> = Automated scholarships.</p>
          <p class="text-align-center col s-3"><mat-icon svgIcon="plus-one"></mat-icon> = One-Click Scholarships.</p>
            <p class="text-align-center col s-12" style="font-size: large">Are we missing a scholarship you want? <br>
              You can easily <a routerLink="/add-scholarship" title="Add Scholarship">Add a Scholarship </a> to Atila or
              <a href="https://docs.google.com/spreadsheets/d/13YshWzg38Au-tPkGyDfY4hJHGJDWl_7vUpXNXkf5afM/edit?usp=sharing"
                 target="_blank" title="Scholarship Spreadsheet">Tell us the link</a> and we'll automate it for you.</p>
        </div>
      </div>
        <div class="row">
          <div *ngFor="let scholarship of scholarships;  let i=index" class="col s12 m6 l4">
              <mat-card class="scholarship-card">
                  <mat-card-header>
                    <div mat-card-avatar [ngStyle]="{ 'background-image': 'url( '+ scholarship.img_url +' )' }" class="header-image"></div>
                    <mat-card-title><a [routerLink]="['../scholarship-detail', scholarship.slug]" class="card-title">{{scholarship.name | truncate:45}}</a></mat-card-title>
                    <mat-card-subtitle class="card-text">{{scholarship.funding_amount | currency:'USD':'symbol':'1.0-0'}}</mat-card-subtitle>
                  </mat-card-header>
                  <a [routerLink]="['../scholarship-detail', scholarship.slug]">
                  <img mat-card-image class="my-mat-card-image" src="{{scholarship.img_url}}">
                  </a>
                  <mat-card-content>
                      <p class="card-text">
                        {{scholarship.description | truncate:140}}
                      </p>
                  </mat-card-content>
                  <mat-card-actions>
                      <a *ngIf=scholarship.is_automated [routerLink]="['../scholarship-detail', scholarship.slug]" title="Automated Scholarships"><button mat-button><i class="material-icons automate-tag">tag_faces</i></button></a>
                      <a [routerLink]="['../scholarship-detail', scholarship.slug]" ><button mat-button><mat-icon svgIcon="plus-one"></mat-icon></button></a>
                    </mat-card-actions>
                </mat-card>
          </div>
        </div>
        <div class="row nav-buttons">
          <div class="col s12 center">
            <a class="waves-effect waves-light btn scholarship-btn" (click)="previousPage()" [ngClass]="{'hidden': pageNo == '1'}"><i class="fa fa-caret-left" aria-hidden="true"></i>  Previous</a>
            <button mat-button (click)="nextPage()" disabled="true">{{pageNo}}</button>
            <a class="waves-effect waves-light btn scholarship-btn" (click)="nextPage()" [ngClass]="{'hidden': pageNo == pageLen}">Next  <i class="fa fa-caret-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </ng-template>

</div>

</div>


<!-- Loading progress circle -->
<div *ngIf="isLoading" class="preloader-background">
  <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>

<ng-template *ngIf="contentFetched && scholarship_count==0">
  <div class="container">
    <h2 class="scholarship-preview-count my-dark-blue-text">No available scholarships for the specified profile.</h2>
    <!--TODO: Add page for scholarship advice-->

    <h4 class="scholarship-preview-count my-dark-blue-text"><a routerLink="/register">Learn how to qualify for more scholarships.</a></h4>
  </div>
</ng-template>
