<div [ngbPopover]="popContent" popoverTitle="Try Search" #trySearch="ngbPopover"
     placement="bottom" triggers="manual" class="popover-anchor" style="width: 100%">
</div>

<ng-template #popContent >Try
  <a routerLink="/search" [queryParams]="{q_cta: 'popover',q_source:'scholarships_list'}"><b> Search</b></a>.
  Enter your term and find matching scholarships. <a (click)="toggleSearchModal({'toggle':true})">Close</a>
</ng-template>

<div *ngIf="contentFetched">

    <!--TODO: Why is this line giving me an error. <h5 > You qualify for <strong>{{ scholarships.length}}</strong> Scholarships</h5>-->
    <br/>

    <div *ngIf="form_data">

        <div class="center container">

          <h1 *ngIf="scholarshipQuery" class="registered-title">
            Scholarships for {{prettifyKeys(scholarshipQuery)}}
          </h1>
          <h4 class="registered-title">
            <span *ngIf="viewAsUser" style="font-size: larger; color: green">Viewing As: {{viewAsUser.first_name}}</span>
            <ng-container *ngIf="userProfile && !viewAsUser">{{userProfile.first_name}}, </ng-container>
            <ng-container *ngIf="scholarship_count>0; else zeroScholarshipCount">
              You can get
              <strong>{{ scholarship_count}}</strong> scholarships<span *ngIf="show_scholarship_funding"> and up to <strong>{{total_funding}}</strong> in funding.</span>
            </ng-container>

            <ng-template #zeroScholarshipCount class="scholarship-preview-count">
              Unfortunately, you currently qualify for <strong>{{scholarship_count}}</strong> scholarships<span *ngIf="show_scholarship_funding">
              and <strong>{{total_funding}}</strong> in funding</span>.
              <br>
              <div style="font-size: smaller; margin-top: 1%">
                Try <a routerLink="/search">search</a> to find more scholarships.
              </div>
            </ng-template>

            <br>
            <span *ngIf="form_data && form_data.featuredScholarshipsMode">No Information Submitted. Showing Scholarships Open to all users</span>
          </h4>

        </div>


        <div class="row filter-div">


          <mat-form-field class="col-sm-6 col-md-3">
            <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
            <mat-select  [(ngModel)]="form_data.filter_by_user"  id="filter_by_user" name="filter_by_user" placeholder="Filter By:" (change)="getScholarshipPreview()">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let filterType of filterTypes" [value]="filterType">{{prettifyKeys(filterType)}} </mat-option>
            </mat-select>

          </mat-form-field>
          <mat-form-field class="col-sm-6 col-md-3">
            <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
            <mat-select  [(ngModel)]="form_data.sort_by"  id="sort_by" name="sort_by" placeholder="Sort By:" (change)="getScholarshipPreview(1,{'change_sort_by':true})">
              <ng-container  *ngIf="isLoggedIn; else unRegisteredSortOptions" >
                <mat-option *ngFor="let sortType of ['relevance_new','relevance','deadline','surprise_me','only_automated','currently_open']" [value]="sortType">
                  {{prettifyKeys(sortType)}}
                </mat-option>
              </ng-container>

              <ng-template #unRegisteredSortOptions>
                <mat-option *ngFor="let sortType of ['relevance','deadline','surprise_me','only_automated','currently_open']" [value]="sortType">{{prettifyKeys(sortType)}} </mat-option>
              </ng-template>

            </mat-select>
          </mat-form-field>
          <div class="col-sm-6 col-md-3" *ngIf="form_data.filter_by_user">
            <input class="browser-default" id="filter_by_user_show_eligible_only" type="checkbox" [(ngModel)]="form_data.filter_by_user_show_eligible_only" name="filter_by_user_show_eligible_only"  (change)="getScholarshipPreview()">
            <label for="filter_by_user_show_eligible_only" data-error="Invalid input">Only Show Eligible Scholarships?</label>
          </div>
          form_data.filter_by_user
          {{form_data.filter_by_user | json}}
          <p *ngIf="transformFilterDisplay(form_data.filter_by_user) && transformFilterDisplay(form_data.filter_by_user).length != 0;
           else tryFilter" class="col-sm-12 col-md-6"> Showing Scholarships for:
            <span style="font-weight: bold">{{transformFilterDisplay(form_data.filter_by_user) | json}}</span>
            <span *ngIf="!isLoggedIn">(<a routerLink="/login">Login</a> to use your actual {{prettifyKeys(form_data.filter_by_user)}})</span>
          </p>



          <ng-template #tryFilter>
            <p class="col-sm-12 col-md-6" style="font-size: larger" *ngIf="form_data.filter_by_user && !userProfile[form_data.filter_by_user]"> Your {{form_data.filter_by_user}} is blank.
              <a routerLink="/profile/edit">Edit your Profile</a> to add it now.</p>
          </ng-template>


        </div>

        <!--<div class="row filter-div" *ngIf="!environment.production || userProfile.is_atila_admin">-->
          <!--<mat-slide-toggle [checked]="userProfile.is_debug_mode" (change)="userProfile.is_debug_mode=!userProfile.is_debug_mode;-->
          <!--toggleDebugMode($event)">Debug Mode </mat-slide-toggle>-->
           <!--{{userProfile.is_debug_mode}}-->
        <!--</div>-->
        <br>

        <div class="offset-md-2">

          <div class="offset-1">
            <strong>

            <p *ngIf="isLoggedIn && (!userProfile.major || !userProfile.post_secondary_school)">
              Your account is incomplete. School or program information is missing:
              <a (click)="editProfileModal({'forceOpen': true})">Complete Profile</a>
            </p>
            </strong>
            <!---->
            <!--<p>Did you find a scholarship? Help others and <a routerLink="/scholarship/add">add a scholarship</a> in less than 15 seconds.</p>-->

          </div>
        </div>
        <br>

        <div class="offset-md-2" *ngIf="userProfile && userProfile.is_atila_admin">

          <a class=" col-sm-12 col-md-6 waves-effect waves-light btn demo-btn" (click)="getScholarshipPreview(pageNo,{'view_as_user':viewAs.value})">View As</a>

          <mat-form-field class="col-sm-12 col-md-6">
            <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
            <input #viewAs matInput class="form-control" style="padding-bottom: 0; margin-bottom: 0"  name="view_as" id="view_as"
                   placeholder="View As..." (keyup.enter)="getScholarshipPreview(pageNo,{'view_as_user':viewAs.value})">
          </mat-form-field>

          <p *ngIf="viewAsUser">Viewing As: {{viewAsUser.first_name}}</p>
        </div>
        <br>

        <!--Unregistered user content -->
        <div *ngIf="!isLoggedIn; else registeredContent">

          <div class="row">
            <div *ngFor="let scholarship of scholarships;  let i=index" class="col-sm-12 col-md-10  offset-md-1" style="margin-bottom: -5%">
              <ng-container *ngIf="i<3">
                <app-scholarship-card [scholarship]="scholarship" [userProfile]="userProfile"
                                      [metadata]="{'form_data':form_data}"></app-scholarship-card>
              </ng-container>
            </div>
          </div>

          <div class="center col-sm-8 offset-sm-2 offset-md-2">

            <a *ngIf="scholarship_count!=0" class="waves-effect waves-light btn register-btn" routerLink="/register">Register to See More Scholarships</a>
            <a *ngIf="scholarship_count==0" class="waves-effect waves-light btn register-btn" routerLink="/register">Register to qualify for more scholarships</a>
            <!--Remove for now to simiplify-->
            <a   *ngIf="!isLoggedIn" class=" col-sm-12 col-md-6 waves-effect waves-light btn demo-btn" routerLink="/applications/demo">Try The Live Demo</a>

          </div>


          <!-- TODO: Should we ask the user occasionally to subscribe? Even if already logged in? -->
          <div *ngIf="!isLoggedIn" class="row center" style="text-align: center;margin-bottom: 0px;">
            <p style="font-size: medium" class="col-sm-6">Subscribe to get updates on new <a routerLink="/">scholarships</a>, <a routerLink="/blog">blogs</a>,
              <a routerLink="/forum">forum posts</a>, <a routerLink="/essay">essays</a>, and new product features.

              <span *ngIf="subscriber.response" style="color: green">
                  <br>
                  {{subscriber.response}}
            </span>
            </p>


            <mat-form-field class="browser-default col-sm-3 ">
              <!-- <input matInput [(ngModel)]="model.city[0]" name="city" id="city" required placeholder="City"> -->
              <input matInput type="email" class="form-control" style="padding-bottom: 0; margin-bottom: 0"  name="email" id="emailid"
                     placeholder="Email Address" email [(ngModel)]="subscriber.email" (keyup.enter)="addSubscriber($event)">
            </mat-form-field>
            <a class="waves-effect waves-light btn browser-default col-sm-2 register-btn" style="background-color:#4080ff; " (click)="addSubscriber()">Subscribe</a>


          </div>

          <!--<div class="row center">-->
            <!--<p class="text-align-center offset-md-2">Are we missing a scholarship you want? You can easily <a routerLink="/scholarship/add" title="Add Scholarship">Add a Scholarship </a> to Atila or-->
              <!--<a href="https://docs.google.com/spreadsheets/d/13YshWzg38Au-tPkGyDfY4hJHGJDWl_7vUpXNXkf5afM/edit?usp=sharing"-->
                 <!--target="_blank" title="Scholarship Spreadsheet">Tell us the link</a> and we'll automate it for you.</p>-->
          <!--</div>-->
        </div>


        <!--Registered user content -->
        <ng-template #registeredContent>
          <div class="container">
            <div class="row">

              <div *ngFor="let scholarship of scholarships;  let i=index" class="col-sm-12 col-md-10 offset-md-1" style="margin-bottom: -5%">
                <app-scholarship-card [scholarship]="scholarship" [userProfile]="userProfile"
                                      [metadata]="{'form_data':form_data,'page_no':pageNo}" (handleClick)="handleScholarshipClick($event)"></app-scholarship-card>
              </div>

            </div>
            <div class="row nav-buttons">
              <!--<p class="col-sm-12 center">-->
                <!--You can give back to the Atila community and <a routerLink="/scholarship/add" title="Add Scholarship">Add a Scholarship</a>.-->
                <!--&lt;!&ndash;or <a href="https://docs.google.com/spreadsheets/d/13YshWzg38Au-tPkGyDfY4hJHGJDWl_7vUpXNXkf5afM/edit?usp=sharing"&ndash;&gt;-->
                   <!--&lt;!&ndash;target="_blank" title="Scholarship Spreadsheet">Tell us the link</a> and we'll automate it for you.&ndash;&gt;-->
              <!--</p>-->

              <div class="col-sm-12 center">
                <!--todo fix error with waves-light staying white, looks like be button is disabled-->
                <a class="waves-effect btn scholarship-btn" (click)="nextPage()"
                   *ngIf="scholarship_count>0 && pageNo<pageLen">
                  Show More
                </a>

                <div *ngIf="pageNo <= pageLen">
                  <p style="font-size: x-large;">
                    All caught up! 😃 Check back later for more scholarships.
                  </p>
                </div>
                <!-- Loading progress circle -->
                <div *ngIf="isLoading" class="preloader-background">
                  <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <p class="col-sm-12 center">
                Something Wrong?
                <a routerLink="/contact" title="Contact" [queryParams]="{'atila_ref':'scholarships_list'}">Tell Us</a>
              </p>
            </div>
          </div>
        </ng-template>

    </div>

</div>

<div *ngIf="inCompleteProfile && userProfile" class="container">
  <div class="container">

    <h4 class="registered-title">
      {{userProfile.first_name}}, You can get
      <!--<strong>🤔</strong> scholarships and up to <strong>🤔</strong> in funding.-->
      <strong>🤷</strong> scholarships and up to <strong>🤷</strong> in funding.
    </h4>
    <br>

    <h2 class="scholarship-preview-count">Complete profile to see all eligible scholarships.</h2>

  </div>

  <form *ngIf="userProfile" #completeProfileForm="ngForm" class="col-sm-12"  (keydown.enter)="$event.preventDefault()">
  <div class="row">

    <mat-form-field class="col-sm-12">
      <input tabindex="5" class="browser-default" matInput id="first_name" type="text" required minlength="2" placeholder="First name"
             [(ngModel)]="userProfile.first_name" name="first_name">
    </mat-form-field>
    <mat-form-field class="col-sm-12">
      <input tabindex="6" class="browser-default" matInput id="last_name" type="text" required minlength="2" placeholder="Last Name"
             [(ngModel)]="userProfile.last_name" name="last_name">
    </mat-form-field>
    <mat-form-field class="col-sm-12">
      <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
      <mat-select tabindex="6" [(ngModel)]="userProfile.gender"  id="gender" name="gender" placeholder="Gender" required >
        <mat-option *ngFor="let gender of ['Male','Female','Other']" [value]="gender">{{gender}} </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="col-sm-12">
      <input class="browser-default" id="is_international_student" type="checkbox" [(ngModel)]="userProfile.is_international_student" name="is_international_student">
      <label for="is_international_student" data-error="Invalid input">International Student?</label>
    </div>

  </div>

  <!-- fake fields to prevent chrome from autofilling location since we have Google Autocomplete -->
  <input autocomplete="false" style="display:none" type="text" name="city" />
  <input autocomplete="false" style="display:none" type="text" name="province"/>
  <input autocomplete="false" style="display:none" type="text" name="country"/>

  <div class="row">

    <!-- Try using Google Maps Places Autocomplete API: https://developers.google.com/maps/documentation/javascript/places-autocomplete#address_forms -->
    <!-- https://stackoverflow.com/questions/42341930/google-places-autocomplete-angular2 -->
    <mat-form-field class="col-sm-12 location-div">
      <!--Prevent Chrome Autofill-->
      <label>Ci<span style="display: none">w.com/questions/4234</span>ty*</label>
      <!-- <input matInput [(ngModel)]="model.city[0]" name="city" id="city" required placeholder="City"> -->
      <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
      <input tabindex="7" matInput type="text" class="browser-default " style="padding-bottom: 0" required name="ignore-this-autofill-please"
             autocomplete="disabled"
             [(ngModel)]="locationData.city" #LocationCtrl="ngModel" appGooglePlace (setAddress)="placeAutoComplete($event,LocationCtrl)"
             (keydown)="keyDownHandler($event)">
    </mat-form-field>

  </div>
  <div class="row">
    <mat-form-field class="col-sm-12">
      <input class="browser-default" matInput id="province" type="text" required placeholder="Province/State"
             [(ngModel)]="locationData.province" name="province"  appGooglePlace (setAddress)="placeAutoComplete($event,{'name': 'province'})"
             (keydown)="keyDownHandler($event)" autocomplete="false">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="col-sm-12">
      <input class="browser-default" matInput id="country" type="text" required placeholder="Country"
             [(ngModel)]="locationData.country" name="country"  appGooglePlace (setAddress)="placeAutoComplete($event,{'name': 'country'})"
             (keydown)="keyDownHandler($event)" autocomplete="false">
    </mat-form-field>
  </div>

  <div class="row">
    <mat-form-field class="col-sm-12">
      <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
      <mat-select tabindex="8" [(ngModel)]="userProfile.education_level"   name="education_level"  id="education_level" multiple=true placeholder="Education Type" required >
        <mat-option *ngFor="let level of EDUCATION_LEVEL" [value]="level">{{level}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

    <div class="row">
      <mat-form-field class="col-sm-12">
        <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
        <mat-select tabindex="8" [(ngModel)]="userProfile.grade_level"   name="grade_level"  id="grade_level" placeholder="Grade Level" required >
          <mat-option *ngFor="let level of GRADE_LEVELS" [value]="level">{{level}} </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="col-sm-12">
        <input  placeholder="If Other grade level, enter here"
                class="browser-default" id="grade_level_other" [(ngModel)]="userProfile.grade_level" name="grade_level">
      </div>

    </div>
  <br>
  <div class="row">

    <mat-form-field class="col-sm-12">
      <!-- TODO: Add a Modal or hover info explaining the diff. between Art and STEM -->
      <mat-select tabindex="9" [(ngModel)]="userProfile.education_field"  name="education_field"  id="education_field" multiple=true required placeholder="Education Field">
        <mat-option *ngFor="let field of EDUCATION_FIELD" [value]="field" ngDefaultControl>{{field}} </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="autocomplete-form">

      <div class="row">
        <div class="col-sm-12">

          <p> What is your major?
            <br>

            <strong>{{userProfile.major}}</strong>
          </p>
        </div>
        <div class="col-sm-12">
          <app-typeahead [model]="userProfile.major" [dataset]="MAJORS_LIST"
                         (typeaheadSelectedEvent)="typeaheadEvent($event)"
                         [metadata]="{'placeholder':'Major e.g. Engineering, Biology, Business, Electrician, Political Science',
                                  'key':'major','tabindex':'9'}">
          </app-typeahead>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p> What Other programs are you interested in?</p>
          <table>
            <tr  *ngFor="let program of userProfile.eligible_programs; let i = index">
              <td> {{program}} </td>
              <td>
                <a class="waves-effect waves-light btn right" (click)="userProfile.eligible_programs.splice(i,1)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </table>
        </div>

        <div class="col-sm-12">
          <app-typeahead [model]="userProfile.eligible_programs" [dataset]="MAJORS_LIST"
                         [metadata]="{'placeholder':'What Other programs are you interested in?', 'key':'major','tabindex':'9'}">
          </app-typeahead>
        </div>

      </div>

      <div class="row">
        <div class="col-sm-12">
          <p> What schools are you interested in?</p>
          <table>
            <tr  *ngFor="let school of userProfile.eligible_schools; let i = index" ngDefaultControl>
              <td>{{school}} </td>
              <td>
                <a class="waves-effect waves-light btn right" (click)="userProfile.eligible_schools.splice(i,1)">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-12">
          <app-typeahead [model]="userProfile.eligible_schools" [dataset]="SCHOOLS_LIST"
                         [metadata]="{'placeholder':'Schools e.g. Mcmaster University, Sheridan College', 'key':'major','tabindex':'9'}">
          </app-typeahead>
        </div>
      </div>

      <p style="font-weight: bold">Planning on Studying in a foreign Country?</p>
      <div class="location-edit-section">
          <mat-form-field class="col-sm-12 col-md-6">

            <label style="font-size: larger"> Where else would you like to study? (Country) </label><br>
            <input class="form-control" matInput type="text" name="location" id="location" [(ngModel)]="extraLocationInput.country" #LocationCtrl="ngModel"
                 appGooglePlace (setAddress)="placeAutoComplete($event,{object_key: 'extraLocationInput'})" (keydown)="keyDownHandler($event)">
          </mat-form-field>
          <!-- See table-layout.component.html as a guide -->
          <table class="table">
            <caption >Locations</caption>
            <thead>
            <tr>
              <th>Country</th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="let location of userProfile.country_extra; let i = index"><!-- For each row (or entry) of data  -->
              <td>{{location}}</td>
              <br>

              <a class="waves-effect waves-light btn right" (click)="userProfile.country_extra.splice(i,1)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </a>


            </tr>
            </tbody>


          </table>

        </div>
    </div>

  </div>


    <div class="row">


      <div class="col-sm-6 button-container">
        <button tabindex="10" class="waves-effect waves-light btn right btn-submit"
                (click)="saveUser(completeProfileForm,{updateUser:true})">Complete Profile</button>
      </div>
    </div>
  </form>


</div>

<!-- Loading progress circle -->
<div *ngIf="isLoading" class="col-sm-12 ng-star-inserted"
     style="margin-top: 5%;margin-bottom: 5%;">
  <h3 class="center">
    Loading Scholarships...
  </h3>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<ng-container *ngIf="contentFetched && scholarship_count==0">
  <div class="container">
    <h2 class="scholarship-preview-count my-dark-blue-text">No available scholarships for the specified profile.</h2>
    <!--TODO: Add page for scholarship advice-->

    <h4 class="scholarship-preview-count my-dark-blue-text"><a routerLink="/register">Learn how to qualify for more scholarships.</a></h4>
  </div>
</ng-container>

<div *ngIf="scholarshipError" class="col-sm-12 ng-star-inserted"
     style="margin-top: 5%;margin-bottom: 5%;">
  <h1 class="center" style="font-size: 2.9rem">
    Uh oh. Error getting Scholarships
    <ng-container *ngIf="scholarshipQuery">for <strong>{{prettifyKeys(scholarshipQuery)}}</strong></ng-container>😕
    <br>
    Please try again Later.
  </h1>
  <h4 class="center" *ngIf="scholarshipQuery">
    <strong>Tip:</strong> Try Searching for<a routerLink="/search" [queryParams]="{'q':scholarshipQuery}">
    {{prettifyKeys(scholarshipQuery)}}</a>
  </h4>
  <h4 class="center"><a routerLink="/contact">Contact us</a> if you have questions
  </h4>
</div>



