<div class="container">
  <div class="card">
    <div class="row">
      <div class="card-content">


      <form #profileForm="ngForm" (ngSubmit)="saveProfile(profileForm)" class="col-sm-12">



        <div class="fixed-action-btn">
          <a class="btn-floating btn-large" (click)="saveProfile(profileForm)">
            Save
          </a>
        </div>

        <div [ngClass]='{hidden: !profileInfo}'>
          <h4>Edit <span *ngIf="userProfile.first_name">{{userProfile.first_name}}'s</span> Profile</h4>
          <span>
          <a [routerLink]="['/profile', userProfile.username]" >View Profile</a>
          </span>


          <div *ngIf="!environment.production || !userProfile.is_verified">
            <p> <br>
              Your account is <span style="color: red">unverified</span> 😢. <a class="waves-effect waves-light btn btn-link" (click)="verifyAccount()" style="margin-bottom: 3%">Verify Account</a>
              <br>
              {{verificationResponse}}
            </p>
          </div>

          <div *ngIf="userProfile.is_verified">
            <p> <br>
            Your account is <span style="color: green">verified</span> 😄.
            </p>
          </div>


          <div style="font-size: larger">
            Your Referral code is <code>{{userProfile.username}}</code>
            <span [ngbPopover]="referralInfoPopover"
                  triggers="mouseenter" popoverTitle="Refer a Friend">
            <mat-icon aria-label="Refer a friend. Tell them to enter the code when registering. Get Atila Points!.">help_outline</mat-icon>
          </span>
          </div>


          <ng-template #referralInfoPopover>Refer a friend. Tell them to enter the code when registering.
            Get
            <a  routerLink="/blog/atila/what-is-atila" fragment="atila-points">Atila Points 😄!</a></ng-template>

          <button class="waves-effect waves-light btn right" (click)="switchPage()" style="margin-left:1%">Next Page</button>
          <div class="row">
            <mat-form-field class="col-sm-6">
              <input class="browser-default" matInput id="first_name" type="text" required minlength="2" placeholder="First name"
                [(ngModel)]="userProfile.first_name" name="first_name">
            </mat-form-field>
            <mat-form-field class="col-sm-6">
              <input class="browser-default" matInput id="last_name" type="text" required minlength="2" placeholder="Last Name"
                [(ngModel)]="userProfile.last_name" name="last_name">
            </mat-form-field>
          </div>
          <!--<div class="row">-->
            <!--<mat-form-field class="col-sm-12">-->
              <!--<input class="browser-default" matInput id="street_address" type="text" placeholder="Street Address"-->
                <!--[(ngModel)]="userProfile.street_address" name="street_address">-->
            <!--</mat-form-field>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<mat-form-field class="col-sm-12">-->
              <!--<input class="browser-default" matInput id="postal_code" type="text" placeholder="Postal Code"-->
                <!--[(ngModel)]="userProfile.postal_code" name="postal_code">-->
            <!--</mat-form-field>-->
          <!--</div>-->

          <!-- fake fields to prevent chrome from autofilling location since we have Google Places Autocomplete -->
          <input autocomplete="false" style="display:none" type="text" name="city" />
          <input autocomplete="false" style="display:none" type="text" name="province"/>
          <input autocomplete="false" style="display:none" type="text" name="country"/>

          <div class="row">

            <!-- Try using Google Maps Places Autocomplete API: https://developers.google.com/maps/documentation/javascript/places-autocomplete#address_forms -->
            <!-- https://stackoverflow.com/questions/42341930/google-places-autocomplete-angular2 -->
            <mat-form-field class="col-sm-12 location-div">
              <!--Prevent Chrome Autofill-->
              <label>Ci<span style="display: none">w.com/questions/4234</span>ty</label>
              <!-- <input matInput [(ngModel)]="model.city[0]" name="city" id="city" required placeholder="City"> -->
              <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
              <input matInput type="text" class="browser-default " style="padding-bottom: 0" required name="ignore-this-autofill-please"
                     autocomplete="disabled"  tabindex="1"
                     [(ngModel)]="locationData.city" #LocationCtrl="ngModel"
                     appGooglePlace (setAddress)="placeAutoComplete($event,LocationCtrl)"  (googlePlaceNoLoad)="googlePlaceNoLoad()"
                     (keydown)="keyDownHandler($event)"  >
            </mat-form-field>

          </div>
          <div class="row">
            <mat-form-field class="col-sm-12">
              <input class="browser-default" matInput id="province" type="text" required placeholder="Province/State"
                     [(ngModel)]="locationData.province" name="province" (change)="locationData.province=toTitleCase(locationData.province)" autocomplete="false">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-sm-12">
              <input class="browser-default" matInput id="country" type="text" required placeholder="Country"
                     [(ngModel)]="locationData.country" name="country" (change)="locationData.country=toTitleCase(locationData.country)" autocomplete="false">
            </mat-form-field>
          </div>
          <!--<div class="row">-->
              <!--<mat-form-field class="col-sm-12">-->
                    <!--<input tabindex="2" class="browser-default" matInput id="phone_number" type="number" placeholder="Phone Number"-->
                      <!--[(ngModel)]="userProfile.phone_number" name="phone_number">-->
                  <!--</mat-form-field>-->
            <!--</div>-->
          <div class="row">
              <mat-form-field class="col-sm-12">
                  <input class="browser-default" matInput id="email" type="text" placeholder="Email"
                    [(ngModel)]="userProfile.email" name="email">
                </mat-form-field>
          </div>
          <div class="row">
              <mat-form-field class="col-sm-12">
                  <input class="browser-default" matInput id="secondary_school" type="text" placeholder="Secondary School"
                    [(ngModel)]="userProfile.secondary_school" name="secondary_school">
                </mat-form-field>
          </div>
          <div class="row">
            <strong>{{userProfile.post_secondary_school}}</strong>
              <div class="col-sm-12">
                <app-typeahead [model]="userProfile.post_secondary_school" [dataset]="SCHOOLS_LIST"
                               (typeaheadSelectedEvent)="typeaheadEvent($event)"
                               [metadata]="{'placeholder':'Post Secondary School',
                                  'key':'post_secondary_school'}">
                </app-typeahead>
                </div>
          </div>
          <!--<div class="row">-->
            <!--<mat-form-field class="col-sm-12">-->
              <!--<label>Birth Date</label>-->
              <!--<br/>-->
              <!--<input class="browser-default" matInput id="birth_date" type="date"-->
                <!--[(ngModel)]="userProfile.birth_date" name="birth_date">-->
            <!--</mat-form-field>-->
          <!--</div>-->
          <div class="row">

            <mat-form-field class="col-sm-12">
              <mat-select class="col-sm-12" [(ngModel)]="userProfile.education_level"  name="education_level"  id="education_level" multiple=true placeholder="Education Type" required >
                <mat-option *ngFor="let level of EDUCATION_LEVEL" [value]="level">{{level}} </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-sm-12">
              <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
              <mat-select tabindex="8" [(ngModel)]="userProfile.grade_level"   name="grade_level"  id="grade_level" placeholder="Grade Level" required >
                <mat-option *ngFor="let level of GRADE_LEVELS" [value]="level">{{level}} </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-sm-12">
              <input  placeholder="If Other grade level, enter here"
                      class="browser-default" id="grade_level_other" [(ngModel)]="userProfile.grade_level" name="grade_level">
            </div>
          </div>


          <br>

          <div class="row">

          <mat-form-field class="col-sm-12">
              <!-- TODO: Add a Modal or hover info explaining the diff. between Art and STEM -->
              <mat-select class="col-sm-12" [(ngModel)]="userProfile.education_field"  name="education_field"  id="education_field" multiple=true required placeholder="Education Field">
                <mat-option *ngFor="let field of EDUCATION_FIELD" [value]="field">{{field}} </mat-option>
              </mat-select>
          </mat-form-field>
          </div>
          <br>
            <div class="autocomplete-form">

              <div class="row">
                <div class="col-sm-12">

                  <p> What is your major?
                    <br>

                    <strong>{{userProfile.major}}</strong>
                  </p>
                </div>
                <div class="col-sm-12">
                  <app-typeahead [model]="userProfile.major" [dataset]="MAJORS_LIST"
                                 (typeaheadSelectedEvent)="typeaheadEvent($event)"
                                 [metadata]="{'placeholder':'Major e.g. Engineering, Biology, Business, Political Science',
                                  'key':'major','tabindex':'9'}">
                  </app-typeahead>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12">
                  <p> What Other programs are you interested in?</p>
                  <table>
                    <tr  *ngFor="let program of userProfile.eligible_programs; let i = index">
                      <td> {{program}} </td>
                      <td>
                        <a class="waves-effect waves-light btn right" (click)="deleteArrayitem(userProfile.eligible_programs, i)">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="col-sm-12">
                  <app-typeahead [model]="userProfile.eligible_programs" [dataset]="MAJORS_LIST"
                                 [metadata]="{'placeholder':'What Other programs are you interested in?', 'key':'major','tabindex':'9'}">
                  </app-typeahead>
                </div>

              </div>

              <div class="row">
                <div class="col-sm-12">
                  <p> What schools are you interested in?</p>
                  <table>
                    <tr  *ngFor="let school of userProfile.eligible_schools; let i = index" ngDefaultControl>
                      <td>{{school}} </td>
                      <td>
                        <a class="waves-effect waves-light btn right" (click)="deleteArrayitem(userProfile.eligible_schools, i)">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-sm-12">
                  <app-typeahead [model]="userProfile.eligible_schools" [dataset]="SCHOOLS_LIST"
                                 [metadata]="{'placeholder':'Schools e.g. Mcmaster University, Sheridan College', 'key':'major','tabindex':'9'}">
                  </app-typeahead>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6" *ngFor="let entry of Object.keys(autoCompleteLists)">

                  <table>
                    <p style="font-weight: bold">{{prettifyKeys(entry)}}</p>
                    <tr  *ngFor="let item of userProfile[entry]; let i = index" ngDefaultControl>
                      <td>{{item}} </td>
                      <td>
                        <a class="waves-effect waves-light btn right" (click)="deleteArrayitem( userProfile[entry], i)">
                          <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                      </td>
                    </tr>
                  </table>

                  <app-typeahead [model]="userProfile[entry]" [dataset]="autoCompleteLists[entry]"
                                 [metadata]="{'placeholder':prettifyKeys(entry), 'key': entry,'col':'col-sm-6'}">
                  </app-typeahead>
                </div>
              </div>

            </div>

          <br>
          <!-- TODO: Do we need to explain this? Perhaps do some A/B Testing? -->

            <!-- TODO: Do we need to explain this? Perhaps do some A/B Testing? -->
            <div class="row">
                <div class="col-sm-6">
                  <!-- TODO: Get real % of scholarships asking for alternate rerefence letters. -->
                  <h5> Additional Documents </h5>
                  <p>Click upload once for each time you choose a file.</p>
                  <!--<a placement="bottom" [ngbTooltip]="tipContent">Why do I need this?</a>-->
                  <!--<ng-template #tipContent><b>{{documentScholarshipsPercent}}%</b> of scholarships require either a resume, transcript or reference_letter.-->
                  <!--These documents allow us to automate the application process.</ng-template>-->
                </div>
              </div>
              <div class="row">
                  <div class="row col-sm-12 col-md-6">
                      <label>Upload Transcript</label>
                     <input class="browser-default" id="transcript" type="file" placeholder="Transcript"
                       name="transcript" (change)="fileChangeEvent($event)">
                   </div>

                  <div *ngIf="userProfile.transcript" class="row col-sm-12 col-md-6">
                      <a target="_blank" href="{{userProfile.transcript}}"> View Transcript </a>
                  </div>

                  <div class="row col-sm-12 col-md-6">
                    <label>Upload Resume</label>
                    <input class="browser-default" id="resume" type="file" placeholder="Resume"
                           name="resume" (change)="fileChangeEvent($event)">
                  </div>

                  <div *ngIf="userProfile.resume" class="row col-sm-12 col-md-6">
                    <a target="_blank" href="{{userProfile.resume}}"> View Resume </a>
                  </div>

                <div class="row col-sm-12 col-md-6">
                  <label>Upload Cover Letter</label>
                  <input class="browser-default" id="cover_letter" type="file" placeholder="Cover Letter"
                         name="cover_letter" (change)="fileChangeEvent($event)">
                </div>

                <div *ngIf="userProfile.cover_letter" class="row col-sm-12 col-md-6">
                  <a target="_blank" href="{{userProfile.cover_letter}}"> View Cover Letter </a>
                </div>

                <div class="row col-sm-12 col-md-6">
                  <label>Upload Enrollment Proof</label>
                  <input class="browser-default" id="enrollment_proof" type="file" placeholder="Enrollment Proof"
                         name="enrollment_proof" (change)="fileChangeEvent($event)">
                </div>

                <div *ngIf="userProfile.enrollment_proof" class="row col-sm-12 col-md-6">
                  <a target="_blank" href="{{userProfile.enrollment_proof}}"> View Enrollment Proof </a>
                </div>


                  </div>

              <!-- Probably not best practice but I added a row class to all the col classes to get more space in-between input elements.-->
              <div class="row">
                  <div class="row col-sm-12 col-md-6">
                     <label>Upload Reference Letter </label>
                    <input class="browser-default" id="reference_letter" type="file" placeholder="Reference Letter"
                      name="reference_letter" (change)="fileChangeEvent($event)">
                  </div>

                  <div *ngIf="userProfile.reference_letter" class="row col-sm-12 col-md-6">
                      <a target="_blank" href="{{userProfile.reference_letter}}"> View Reference Letter </a>
                  </div>
                  <div class="row col-sm-12 col-md-6">
                      <label>Upload Alternate Reference Letter</label>
                     <input class="browser-default" id="reference_letter_alternate" type="file" placeholder="Alternate Reference Letter"
                       name="reference_letter_alternate" (change)="fileChangeEvent($event)">
                   </div>

                  <div *ngIf="userProfile.reference_letter_alternate" class="row col-sm-12 col-md-6">
                      <a target="_blank" href="{{userProfile.reference_letter_alternate}}"> View Alternate Reference Letter </a>
                  </div>
                </div>
                <div class="row">
                  <div *ngIf="uploadProgress" class="col-md-3 col-sm-12 mb-3">
                    Progress: <p style="font-weight: bold">{{uploadProgress | number:'1.0-0'}}%</p>
                    <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
                  </div>
                    <button type="button" mat-raised-button class="btn white-text" (click)="uploadUserDocuments()" style="margin-left:1%">Upload Document</button>
                    <button type="submit" class="btn btn-success left" style="margin-left:1%">Save Profile</button>
                    <button type="button" class="waves-effect waves-light btn right" (click)="switchPage()" style="margin-left:1%">Next</button>
                </div>
        </div>
        <div [ngClass]='{hidden: profileInfo}'>

            <div class="row">
                  <!-- TODO: Get real % of scholarships asking for alternate rerefence letters. -->
                  <h5> Long Answer Questions </h5>
                  <!--<p>You can answer these questions later. But remember, <b>{{documentScholarshipsPercent}}%</b> of scholarships ask at least one of these questions.-->
                    <!--<br>So the more questions you answer, the more scholarships we can automate for you.</p>-->
                    <!--<br><a >Need Help Answering these Questions?</a>-->
              </div>
          <div class="row">
            <label> Describe your school related activities and identify your significant contributions both to school and
                community.(500 Words or less) </label><br>
              <textarea class="browser-default" matInput id="extracurricular_description" type="text"
              placeholder="Type here..." [(ngModel)]="userProfile.extracurricular_description" name="extracurricular_description"></textarea>
          </div>

          <div class="row">
              <label> Describe your academic and career goals. (500 Words or less)</label><br>
                <textarea class="browser-default" matInput id="academic_career_goals" type="text"
                placeholder="Type here..." [(ngModel)]="userProfile.academic_career_goals" name="academic_career_goals"></textarea>
            </div>


          <span class="location-edit-section">
                        <mat-form-field class="col-sm-12 col-md-4">

                          <label style="font-size: larger"> Where else would you like to study? (Country) </label><br>
                          <input class="browser-default" matInput type="text" class="form-control"  [placeholder]="locationPlaceHolder" name="location" id="location" [(ngModel)]="extraLocationInput.country" #LocationCtrl="ngModel"
                                 appGooglePlace (setAddress)="placeAutoComplete($event,LocationCtrl,{object_key: 'extraLocationInput'})"  (googlePlaceNoLoad)="googlePlaceNoLoad()" (keydown)="keyDownHandler($event)">
                        </mat-form-field>
            <!-- See table-layout.component.html as a guide -->
                        <table class="table">
                          <caption >Locations</caption>
                          <thead>
                          <tr>
                            <th>Country</th>
                          </tr>
                          </thead>
                          <tbody>

                          <tr *ngFor="let location of userProfile.country_extra; let i = index"><!-- For each row (or entry) of data  -->
                            <td>{{location}}</td>
                            <br>

                            <a class="waves-effect waves-light btn right" (click)="userProfile.country_extra.splice(i,1)">
                              <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>


                          </tr>
                          </tbody>


                        </table>

                        </span>

          <div class="row">
            <a class="waves-effect waves-light btn left" (click)="switchPage()">Back</a>
            <button type="submit" class="btn btn-success right">Save Profile</button>
          </div>
        </div>

        </form>
      </div>
    </div>
  </div>
</div>
