@import '~materialize-css/sass/components/color';
@import './custom-theme';

$secondary-color: #194F87;
$roboto-font-path: "/assets/fonts/roboto/";
@import "~materialize-css/sass/materialize.scss";

$primary: #194F87;
$secondary: #FEFEFE;
$tertiary: #326396;
$my-lighten:#5096D4;

textarea {
    border: 1px solid $primary;
    height: 15rem;
    line-height: 30px;
}