@import '../../styles.scss';


.btn {
  background-color: $my-lighten;
  color: white;
}

.card {
  padding: 1%;
}

.card.small{
  height: auto;
}

.card-content{
  padding: 1%;
}

.card-image {
  width: 50%;
}

//button.mat-fab.mat-accent:focus, button.mat-fab.mat-accent:hover{
//  background-color: #C1BCBC;
//}


button.mat-fab.mat-accent {
  :hover, :focus{
    background-color: #C1BCBC;
  }
  background-color: white;
}


