<div class="container">
    <div class=" card row">
      <mat-form-field class="col-sm-8">
      <input tabindex="1" matInput class="browser-default" id="search" type="text"
             required [(ngModel)]="query" name="search" placeholder="Enter to search" (keyup.enter)="search(query, {q:query,q_source:'keyup_enter'})">
      </mat-form-field>

      <a tabindex="2"  class="waves-effect waves-light btn col-sm-3" (click)="search(query, {q:query,q_source:'button_click'})">
        <i class="material-icons automate-tag">search</i>
      </a>

      <div  *ngIf="isSearching" class="col-sm-10">
        <p style="font-size: large">Searching...</p>
        <mat-progress-bar aria-label="Searching..." mode="indeterminate"></mat-progress-bar>
      </div>

    </div>

    <!--Scholarship Results -->
    <div class="card row">
      <h4>Scholarships</h4>

      <div class="row">
        <div *ngFor=" let scholarship of searchResults.scholarships" class="col-sm-12 col-md-10">
          <div class="card small">
            <div class="card-title">
              <a (click)="saveQueryClick(scholarship,'scholarship')" [routerLink]="['/scholarship', scholarship.slug]">
                {{scholarship.name}}</a>
            </div>
            <div class="card-content">
              <p>{{scholarship.description | truncate:280}}</p>

              <button mat-fab  (click)="addToMyScholarships(scholarship)">
                <mat-icon [ngStyle]="{'color': scholarship.alreadySaved ? '#4080ff' : ''}"    class="atila-blue" aria-hidden="true" aria-label="Save">bookmark</mat-icon>
              </button>
            </div>

          </div>
        </div>
      </div>

      <div class="row center"  *ngIf="!isLoggedIn && searchResults.scholarships">
        <p>Some results may be omitted, <a routerLink="/register">register</a>  to see all results</p>
        <a class="waves-effect waves-light btn scholarship-btn" routerLink="/register">Register</a>
      </div>

      <div class="row center"  *ngIf="isLoggedIn && searchResults.metadata && searchResults.metadata.scholarships && searchResults.metadata.scholarships.omit_results">
        <p>There are more results, try a more specific search.</p>
      </div>
    </div>

  <!--Blog Results -->
  <div class=" card row">
    <h4>Blogs</h4>

    <div class="row">
      <div *ngFor=" let blogPost of searchResults.blogPosts" class="col-sm-12 col-md-10">
        <div class="card small">
          <div class="card-title">
            <a (click)="saveQueryClick(blogPost,'blog')" routerLink="/blog/{{blogPost.user.username}}/{{blogPost.slug}}"> {{blogPost.title}}</a>
          </div>
          <div class="card-image">
            <a (click)="saveQueryClick(blogPost,'blog')" routerLink="/blog/{{blogPost.user.username}}/{{blogPost.slug}}">
              <img [src]="blogPost.header_image_url" >
            </a>

          </div>
          <div class="card-content">
            <p class="card-text" *ngIf="blogPost.description">
              {{((blogPost.description.length>140)? (blogPost.description | slice:0:140)+'...':(blogPost.description) )}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row center"  *ngIf="!isLoggedIn && searchResults.blogPosts" >
      <p>Some results may be omitted, <a routerLink="/register">register</a>  to see all results</p>
      <a class="waves-effect waves-light btn scholarship-btn" routerLink="/register">Register</a>
    </div>

    <div class="row center"  *ngIf="isLoggedIn && searchResults.metadata && searchResults.metadata.blogPosts && searchResults.metadata.blogPosts.omit_results">
      <p>There are more results, try a more specific search.</p>
    </div>

  </div>

  <!--Essay Results -->
  <div class=" card row">
    <h4>Essay</h4>

    <div class="row">
      <div *ngFor=" let essay of searchResults.essays" class="col-sm-12 col-md-10">
        <div class="card small">
          <div class="card-title">
            <a (click)="saveQueryClick(essay,'essay')" routerLink="/essay/{{essay.user.username}}/{{essay.slug}}"> {{essay.title}}</a>
          </div>
          <div class="card-content">
            <p class="card-text" *ngIf="essay.description">
              {{((essay.description.length>140)? (essay.description | slice:0:140)+'...':(essay.description) )}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row center"  *ngIf="!isLoggedIn && searchResults.blogPosts" >
      <p>Some results may be omitted, <a routerLink="/register">register</a>  to see all results</p>
      <a class="waves-effect waves-light btn scholarship-btn" routerLink="/register">Register</a>
    </div>

    <div class="row center"  *ngIf="isLoggedIn && searchResults.metadata && searchResults.metadata.blogPosts && searchResults.metadata.blogPosts.omit_results">
      <p>There are more results, try a more specific search.</p>
    </div>

  </div>

    <!--Forum Results -->
    <div class=" card row">
    <h4>Forums</h4>

    <div class="row">
      <div class="col-sm-12 col-md-10" *ngFor="let forum of searchResults.forums; let i = index">
        <div class="card ">
          <div class="card-content ">
            <span class="card-title"><a (click)="saveQueryClick(forum,'forum')" routerLink="/forum/{{forum.slug}}">{{forum.title | truncate:50}}</a></span>
            <p>{{forum.starting_comment.text | truncate:280}}</p>
          </div>
          <div class="card-action">
            <a (click)="saveQueryClick(forum,'forum')" routerLink="/forum/{{forum.slug}}" style="color: #039be5">See Forum</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row center"  *ngIf="!isLoggedIn && searchResults.forums">
      <p>Some results may be omitted, <a routerLink="/register">register</a>  to see all results</p>
      <a class="waves-effect waves-light btn scholarship-btn" routerLink="/register">Register</a>
    </div>


    <div class="row center"  *ngIf="isLoggedIn && searchResults.metadata && searchResults.metadata.forums &&  searchResults.metadata.forums.omit_results">
      <p>There are more results, try a more specific search.</p>
    </div>
  </div>

</div>
