<div class="container">
  <div class="center search-title" *ngIf="query">
    <h1>Results for {{query}}</h1>
  </div>

    <div class=" card row">
      <div class="col-sm-8">
      <app-typeahead [(model)]="query" [dataset]="MASTER_LIST_EVERYTHING"
                     [metadata]="{placeholder:query||'Enter to search', key: 'searchString',
                     matInput: true}"
                     (typeaheadSelectedEvent)="search($event)">
      </app-typeahead>
      </div>

      <a tabindex="2"  class="waves-effect waves-light btn col-sm-3" (click)="search(query, {q:query,q_source:'button_click'})">
        <i class="material-icons automate-tag">search</i>
      </a>

      <div  *ngIf="isSearching" class="col-sm-10">
        <p style="font-size: large">Searching...</p>
        <mat-progress-bar aria-label="Searching..." mode="indeterminate"></mat-progress-bar>
      </div>

    </div>

    <!--Scholarship Results -->
    <div class="card row">
      <h4>Scholarships</h4>

      <div class="row scholarship-results">
        <div *ngFor=" let scholarship of searchResults.scholarships" class="col-sm-12 col-md-10">
          <app-scholarship-card [scholarship]="scholarship" [userProfile]="userProfile" [showExtraCriteria]="false">

          </app-scholarship-card>
        </div>
      </div>

      <div class="row center"  *ngIf="!isLoggedIn && searchResults.scholarships">
        <p>Some results may be omitted, <a routerLink="/register">register</a>  to see all results</p>
        <a class="waves-effect waves-light btn scholarship-btn" routerLink="/register">Register</a>
      </div>

      <div class="row center"  *ngIf="isLoggedIn && searchResults.metadata && searchResults.metadata.scholarships && searchResults.metadata.scholarships.omit_results">
        <p>There are more results, try a more specific search.</p>
      </div>
    </div>

  <!--Blog Results -->
  <div class=" card row">
    <h4>Blogs</h4>

    <div class="row blog-results">
      <div *ngFor=" let blogPost of searchResults.blogPosts" class="col-sm-12 col-md-10">
        <div class="card small">
          <div class="card-title">
            <a (click)="saveQueryClick(blogPost,'blog')" routerLink="/blog/{{blogPost.user.username}}/{{blogPost.slug}}"> {{blogPost.title}}</a>
          </div>
          <div class="card-image">
            <a (click)="saveQueryClick(blogPost,'blog')" routerLink="/blog/{{blogPost.user.username}}/{{blogPost.slug}}">
              <img [src]="blogPost.header_image_url" >
            </a>

          </div>
          <div class="card-content">
            <p class="card-text" *ngIf="blogPost.description">
              {{((blogPost.description.length>140)? (blogPost.description | slice:0:140)+'...':(blogPost.description) )}}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row center"  *ngIf="!isLoggedIn && searchResults.blogs" >
      <p>Some results may be omitted, <a routerLink="/register">register</a>  to see all results</p>
      <a class="waves-effect waves-light btn scholarship-btn" routerLink="/register">Register</a>
    </div>

    <div class="row center"  *ngIf="isLoggedIn && searchResults.metadata && searchResults.metadata.blogs && searchResults.metadata.blogs.omit_results">
      <p>There are more results, try a more specific search.</p>
    </div>

  </div>

  <!--Essay Results -->
  <div class=" card row">
    <h4>Essay</h4>

    <div class="row essay-results">
      <div  *ngFor="let essay of essays; let i = index; first as isFirst;" class="col-md-12">
        <!--<ng-container (click)="saveQueryClick(essay,'essay')" [routerLink]="essay.slug">-->
        <app-card-generic [item]="essay"
                          [metadata]="{hideDescription: false, showImageInPreviewMode: true,showEssayImage: true}"
                          [imageStyle]="{'max-height': '200px', width: 'auto', 'margin-left': '20%'}"
                          [cardStyle]="{'height': '550px', 'overflow-y': 'hidden'}"
                          [cardTitleStyle]="{height: '100px'}"> </app-card-generic>
        <!--</ng-container>-->
      </div>
    </div>

  </div>

</div>
