<div class="container row" >
  <!--xmlns:https="http://www.w3.org/1999/xhtml"-->
  <mat-card class="profile-header col s6 offset-s3">
    <mat-card-header class="row">
      <!-- NOTE Mat card header text is hidden in css -->
      <div class=" header-image" mat-card-avatar style="background-image: url('https://firebasestorage.googleapis.com/v0/b/atila-7.appspot.com/o/user-profiles%2F1%2Fprofile-pictures%2Ffacebook-profile-picture.jpg?alt=media&token=143797ab-ef34-4a67-91d1-f55504f5b726')"
           ></div>

      <div  style="margin-left:5%">
        <mat-card-title><h4>Tomiwa Ademidun </h4></mat-card-title>
        <mat-card-subtitle class="title"><h5>Founder</h5></mat-card-subtitle>
        <a routerLink="/profile/tomiwa" class="btn white-text" href="javascript:undefined">Profile</a>
        <br>
        <a style="margin-top: 3%" class="btn btn-link" href="http://tomiwa.ca/">My Website</a>
      </div>
    </mat-card-header>

    <mat-card-content>
    <p style="font-size: larger">
      Tomiwa is the founder and <s>VP of Engineering</s> <s>only engineer</s> only employee at Atila.
      He's currently in a dual degree in software engineering and business at Ivey Business School in Canada.
      He enjoys playing soccer in his free time and is a big Arsenal F.C. fan.
    </p>
    </mat-card-content>
  </mat-card>

  <p style="font-size: larger" class="col s6 offset-s3">
    If you would like to join the team or help out in some way,
    <a  href="mailto:info@atila.ca">send an email </a> to <a  href="mailto:info@atila.ca">info@atila.ca</a> with your resume and links to cool stuff you've done.

    <br>
    <!--Also, Briefly mention why you would like to join and how you would like to add value to the team.-->

    <br>
    Coding experience is preferred but anyone who can add value is welcome.
  </p>
</div>
