@import '../../styles.scss';

// .preview-questions{
//   margin-bottom: 0px;
// }
// .mat-form-field-wrapper {
//   padding-bottom:  0px 
// }
.background-image {
    background: url('../../assets/img/bg-preview-3.jpg') center / cover;
    height: 450px;
    width: 100%; 
  }

  md-select {
    width: 90%;
  }
  
  :host /deep/ .mat-select-value-text {
    color: $tertiary ;
  }

  .scholarship-btn{
    margin: 1%;
  }

  
  :host /deep/ .mat-select-underline {
    background-color: $tertiary !important;
  }

  md-input-container{
    color: $tertiary ;
  }
  
  :host /deep/ .mat-input-underline {
    background-color: transparent !important;
  }
  
  :host /deep/ .mat-select-arrow {
    color: $tertiary !important;
  }
  
  :host /deep/ .mat-select-placeholder {
      color: $tertiary;
      font-size: 1.3em;
  }

  .subheader {
    font-size: 3.2em;
    color:#FFFFFF;
    width: 45%;
    padding: 50px 0px;
  }
  
  
  .preview-form {
    background: #FAF7F7; 
    padding: 1px 0 50px 0;
  }
  
  .form-header {
    text-align: center;
    font-size:28px;
    color:$tertiary;
  }
