<div class="background-image">
        <div class="container">
          <div class="subheader">Get Your Education  <br />Funded</div>
        </div>
      </div>

      <div class="preview-form">
          <div class="container">
            <h3 class="form-header">Tell us a bit about Yourself</h3>
            <form #previewForm="ngForm" (ngSubmit)="onSubmit(previewForm)">
              <div class="row preview-questions">
                <div class="form-group input-field col s12 m4">
                  <md-select [(ngModel)]="model.city" name="city" id="city" required placeholder="City">
                    <md-option *ngFor="let city of CITY_CHOICES" [value]="city">{{city}} </md-option>
                  </md-select>
                </div>
        
                <div class="form-group input-field col s12 m4">
                  <md-select [(ngModel)]="model.level" name="level" id="level" multiple=true required placeholder="Type">
                    <md-option *ngFor="let level of EDUCATION_LEVEL" [value]="level">{{level}} </md-option>
                  </md-select>
                </div>
        
                <div class="form-group input-field col s12 m4">
                  <md-select [(ngModel)]="model.field" name="field" id="field" multiple=true required placeholder="Field">
                    <md-option *ngFor="let field of EDUCATION_FIELD" [value]="field">{{field}} </md-option>
                  </md-select>
                </div>
              </div>
              <br>
              <div class="row center">
                  <button class="waves-effect waves-light btn scholarship-btn" type="submit">Get Funded</button>
                  </div>
            </form>
            <p *ngIf="diagnostic"> {{diagnostic}} </p>
          </div>
</div>