<div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="card">
      <div class="card-content">
        <form #registerForm="ngForm" class="col s12">
          <h4>Register</h4>
          <div *ngIf="pageNo==1">
            <div class="row">
              <mat-form-field class="col s12">
                <input tabindex="1" matInput class="browser-default" id="username" type="text"
                       required [(ngModel)]="model.username" name="username" placeholder="Username" autocomplete="username">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col s12">
                <input tabindex="2" matInput class="browser-default" id="email" type="email" required
                       [(ngModel)]="model.email" name="email" placeholder="Email" email autocomplete="username email">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col s12">
                <input tabindex="3" matInput class="browser-default" id="password" type="password" required
                       [(ngModel)]="model.password" name="password" placeholder="Password" autocomplete="new-password" (change)="checkPassword()">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col s12">
                <input tabindex="3" matInput class="browser-default" id="confirm-password" type="password" required (change)="checkPassword()"
                       [(ngModel)]="model.confirmPassword" name="confirm-password" placeholder="Confirm Password" autocomplete="new-password">
              </mat-form-field>
              <p *ngIf="differentPassword">Your passwords do not match</p>
            </div>

            <div class="col s12 button-container">
              <a class="waves-effect waves-light btn lef" routerLink="/login">Log In</a>
              <button tabindex="4" class="waves-effect waves-light btn right" (click)="nextPage()">Next</button>
            </div>
          </div>

          <div *ngIf="pageNo==2">

            <p *ngIf="differentPassword">Your passwords do not match</p>
            <mat-form-field class="col s6">
              <input tabindex="5" class="browser-default" matInput id="first_name" type="text" required minlength="2" placeholder="First name"
                     [(ngModel)]="userProfile.first_name" name="first_name">
            </mat-form-field>
            <mat-form-field class="col s6">
              <input tabindex="6" class="browser-default" matInput id="last_name" type="text" required minlength="2" placeholder="Last Name"
                     [(ngModel)]="userProfile.last_name" name="last_name">
            </mat-form-field>

            <!-- fake fields to prevent chrome from autofilling location since we have Google Autocomplete -->
            <input autocomplete="false" style="display:none" type="text" name="city" />
            <input autocomplete="false" style="display:none" type="text" name="province"/>
            <input autocomplete="false" style="display:none" type="text" name="country"/>

            <div class="row">

              <!-- Try using Google Maps Places Autocomplete API: https://developers.google.com/maps/documentation/javascript/places-autocomplete#address_forms -->
              <!-- https://stackoverflow.com/questions/42341930/google-places-autocomplete-angular2 -->
              <mat-form-field class="col s12 location-div">
                <!--Prevent Chrome Autofill-->
                <label>Ci<span style="display: none">w.com/questions/4234</span>ty</label>
                <!-- <input matInput [(ngModel)]="model.city[0]" name="city" id="city" required placeholder="City"> -->
                <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
                <input tabindex="7" matInput type="text" class="browser-default " style="padding-bottom: 0" required name="ignore-this-autofill-please"
                       autocomplete="disabled"
                       [(ngModel)]="locationData.city" #LocationCtrl="ngModel"
                       appGooglePlace (setAddress)="placeAutoComplete($event,LocationCtrl)"  (googlePlaceNoLoad)="googlePlaceNoLoad()"
                       (keydown)="keyDownHandler($event)"  >
              </mat-form-field>

            </div>
            <div class="row">
              <mat-form-field class="col s12">
                <input class="browser-default" matInput id="province" type="text" required placeholder="Province/State"
                       [(ngModel)]="locationData.province" name="province" (change)="locationData.province=toTitleCase(locationData.province)" autocomplete="false">
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field class="col s12">
                <input class="browser-default" matInput id="country" type="text" required placeholder="Country"
                       [(ngModel)]="locationData.country" name="country" (change)="locationData.country=toTitleCase(locationData.country)" autocomplete="false">
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field class="col s12">
                <!--use tabIndex to allow location data to be populated if Tab is pressed on Google Autocomplete-->
                <mat-select tabindex="8" [(ngModel)]="userProfile.education_level"   name="education_level"  id="education_level" multiple=true placeholder="Education Type" required >
                  <mat-option *ngFor="let level of EDUCATION_LEVEL" [value]="level">{{level}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <br>
            <div class="row">
              <mat-form-field class="col s12">
                <!-- TODO: Add a Modal or hover info explaining the diff. between Art and STEM -->
                <mat-select tabindex="9" [(ngModel)]="userProfile.education_field"  name="education_field"  id="education_field" multiple=true required placeholder="Education Field">
                  <mat-option *ngFor="let field of EDUCATION_FIELD" [value]="field">{{field}} </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="row">
              <!--<mat-checkbox class="col s12" [(ngModel)]="isAgreeTerms" name="isAgreeTerms">-->
              <!--I agree to the <a  routerLink="/terms-and-conditions">Terms and Conditions</a>.-->
              <!--</mat-checkbox>-->
              By clicking register you agree to the <a routerLink="/terms-and-conditions">Terms and Conditions</a>.
            </div>
            <div>
              {{isAgreeTerms}}
            </div>
            <div class="row">

              <p *ngIf="registrationResponse" style="font-size: large; margin-bottom: 1%; color: green">
                <!--emoji (putting this here so I can command f to find the emoji.-->
                Registration successful 😄. Your verification email has been sent, please check your inbox (or your spam folder 🙄).
                <br>
                You will be redirected in 7 seconds, please wait.
                <br>
                Or Start <a routerLink="/scholarships-list">exploring Atila</a>
              </p>

              <div class="col s6 button-container">
                <a class="waves-effect waves-light btn left" (click)="prevPage()">Previous</a>
              </div>
              <div class="col s6 button-container">
                <button tabindex="10" class="waves-effect waves-light btn right btn-submit" (click)="registerUser(registerForm)" [disabled]="disableRegistrationButton">Register</button>
              </div>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
