@import '../../styles.scss';

.popover-header{
    font-size: 15px;
}

.popover-body{
    font-size: 10px;
}

.btn-submit:focus {
  border: $my-lighten solid 3.5px;
}

table {
  font-weight: bold;
}

.btn {
  color: white;
}
a.disabled {
  pointer-events: none;
  color: #ccc;
}
