<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="card">
    <div class="card-content">
      <form *ngIf="userProfile" #registerForm="ngForm" class="col-sm-12"  (keydown.enter)="$event.preventDefault()">
        <h4>Register</h4>
          <div class="row">


            <mat-form-field class="col-sm-12">
              <input tabindex="1" class="browser-default" matInput id="first_name" type="text" required minlength="2" placeholder="First name"
                     [(ngModel)]="userProfile.first_name" name="first_name">
            </mat-form-field>
            <mat-form-field class="col-sm-12">
              <input tabindex="1" class="browser-default" matInput id="last_name" type="text" required minlength="2" placeholder="Last Name"
                     [(ngModel)]="userProfile.last_name" name="last_name">
            </mat-form-field>

            <mat-form-field class="col-sm-12">
              <input tabindex="1" matInput class="browser-default" id="username" type="text"
                     required [(ngModel)]="model.username" name="username" placeholder="Username" autocomplete="username">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-sm-12">
              <input tabindex="2" matInput class="browser-default" id="email" type="email" required
                     [(ngModel)]="model.email" name="email" placeholder="Email" email autocomplete="username email">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col-sm-12">
              <input tabindex="3" matInput class="browser-default" id="password" type="password" required
                     [(ngModel)]="model.password" name="password" placeholder="Password" autocomplete="new-password" (change)="checkPassword()">
            </mat-form-field>
          </div>

          <div class="row">
            <mat-form-field class="col-sm-12">
              <input tabindex="3" matInput class="browser-default" id="confirm-password" type="password" required (change)="checkPassword()"
                     [(ngModel)]="model.confirmPassword" name="confirm-password" placeholder="Confirm Password" autocomplete="new-password">
            </mat-form-field>
            <p *ngIf="differentPassword">Your passwords do not match</p>
          </div>
        <a (click)="showReferral = !showReferral" style="margin-left: 0.55rem;">Enter Referral Code</a>
          <div class="row" *ngIf="showReferral">
            <mat-form-field class="col-sm-12">
              <input tabindex="1" class="browser-default" matInput id="referred_by" type="text" placeholder="Referred By (Enter Username)"
                     [(ngModel)]="userProfile.referred_by" name="referred_by">
            </mat-form-field>
            <p *ngIf="userProfile.referred_by==model.username">You can not Refer Yourself</p>
          </div>

          <div class="row">

            <input class="browser-default" id="agree_terms_conditions" type="checkbox" [(ngModel)]="agreeTermsConditions"
                   name="agree_terms_conditions">
            <label for="agree_terms_conditions" data-error="Invalid input" style="margin-top:  .75rem; margin-left: 1.25rem;">
              I agree to the <a routerLink="/terms-and-conditions" target="_blank"> Terms and Conditions</a>.
            </label>



            <!--<mat-checkbox [(ngModel)]="agreeTermsConditions" required="required" color="primary">-->
              <!--I agree to the <a routerLink="/terms-and-conditions"> Terms and Conditions</a>.-->
            <!--</mat-checkbox>-->


          </div>
          <div>
            {{isAgreeTerms}}
          </div>
          <div class="row">
            <!--<span *ngIf="true" style="font-size: large; margin-bottom: 1%; color: green">-->
            <span *ngIf="registrationResponse" style="font-size: large; margin-bottom: 1%; color: green">
              <!--emoji (putting this here so I can command f to find the emoji.-->
              Registration successful 😄.
              <br>
              Your verification email has been sent, please check your inbox (or your spam folder 🙄).

            <h4>Next Steps:</h4>
            <ul class="browser-default">
              <li>
                Visit<a routerLink="/scholarship" [queryParams]="{'utm_campaign':'register_1','utm_source':'atila', 'utm_medium':'registration_form', 'utm_content':'scholarships_list'}"> My Scholarships</a>
                <br>
              </li>
              <li>
                Visit<a routerLink="/blog" [queryParams]="{'utm_campaign':'register_1','utm_source':'atila', 'utm_medium':'registration_form', 'utm_content':'scholarships_list'}"> Blogs</a>
                <br>
              </li>
              <li>
                Visit<a routerLink="/forum" [queryParams]="{'utm_campaign':'register_1','utm_source':'atila', 'utm_medium':'registration_form', 'utm_content':'forum'}"> Forums</a>
              </li>
            </ul>

            </span>
          </div>

          <div class="col-sm-12 button-container">
            <a class="waves-effect waves-light btn left" routerLink="/login">Log In</a>

            <button class="waves-effect waves-light btn btn-submit show-on-small" (click)="registerUser(registerForm)" style="margin-top: 3%"
               [disabled]="disableRegistrationButton || userProfile.referred_by==model.username || !agreeTermsConditions">Register</button>

            <button class="waves-effect waves-light btn right btn-submit hide-on-small-and-down" (click)="registerUser(registerForm)"
               [disabled]="disableRegistrationButton || userProfile.referred_by==model.username || !agreeTermsConditions">Register</button>
            <!--<a tabindex="4" class="waves-effect waves-light btn right" (click)="nextPage()">Next</a>-->
          </div>
      </form>
    </div>
  </div>
</div>
