<div class="scholarship-edit-suggestion card">

  <p>Edit by: <a [routerLink]="'/profile/'+edit.user.username">{{edit.user.username}}</a></p> <br>
  Date: {{ edit.timestamp | date:'fullDate' }} {{ edit.timestamp | date:'shortTime' }} <br>
  <p class="card-title">Changes: </p><br>
  <div *ngFor="let change of Object.keys(edit.changes)" class="card-panel">

    <strong style="font-size: medium">{{change}}</strong><br>
    <li><strong>Current:</strong>{{edit.changes[change]['current'] | json}}</li><br>
    <li><strong>Suggestion:</strong>{{edit.changes[change]['suggested'] | json}}</li><br>

    <li><strong>Status:</strong>

      <div [ngSwitch]="edit.changes[change].status">
        <span *ngSwitchCase="'PENDING'" style="color: #194F87">{{edit.changes[change].status}}</span>
        <span *ngSwitchCase="'ACCEPTED'" style="color: green">{{edit.changes[change].status}}</span>
        <span *ngSwitchCase="'REJECTED'" style="color: red">{{edit.changes[change].status}}</span>
        <span *ngSwitchDefault>{{edit.changes[change].status}}</span>
      </div>

      <div class="card-action atila-blue">
        <a (click)="changeEditStatus(change,'ACCEPTED')" ngbTooltip="Accept Change">
          <i class="material-icons">check</i></a>
        <a (click)="changeEditStatus(change,'REJECTED')" ngbTooltip="Reject Change">
          <i class="material-icons">cancel</i></a>
        <a *ngIf="edit.changes[change].status!='PENDING'" (click)="changeEditStatus(change,'PENDING')"
           ngbTooltip="Restore Suggestion"><i class="material-icons">restore</i></a>
      </div>


      <div class="card-action atila-blue">
        <a (click)="voteForChange(change,'upvotes')" ngbTooltip="Upvote Suggestion">
          <i class="material-icons">keyboard_arrow_up</i> ({{edit.changes[change].upvotes.length}}) </a>
        <a (click)="voteForChange(change,'downvotes')" ngbTooltip="Downvote Change">
          <i class="material-icons">keyboard_arrow_down</i> ({{edit.changes[change].downvotes.length}}) </a>
      </div>




    </li><br>

  </div>
</div>

