
<div class="card " *ngIf="!comment['isDeleted']">
  <div class="card-content " *ngIf="!comment['editMode']">
    <span class="card-title" *ngIf="!metaData['hideTitle']">{{comment.title | truncate:140}}</span>
    <span *ngIf="comment.user"><a routerLink="/profile/{{comment.user.username}}">
          <div class="chip">
            <img [src]="comment.user.profile_pic_url"
                 alt="Author">
            <a routerLink="/profile/{{comment.user.username}}">
            {{comment.user.first_name}} {{comment.user.last_name}}
            </a>
          </div>
          </a>

          </span>
    <span style="white-space: pre-line">
      <p *ngIf="trimText">{{comment.text| truncate:300}}</p>
      <p *ngIf="!trimText">{{comment.text}}</p>
      <a *ngIf="comment.text.length > 300 && !metaData['titleComment']" (click)="trimText=!trimText; logSeeMoreClick()">{{trimText ? 'See More': 'See Less'}}</a>
    </span>
  </div>


  <div class="card-content " *ngIf="comment['editMode']">
    <input id="forum_title" placeholder="Title" [(ngModel)]="comment.title">
    <textarea *ngIf="!metaData['titleComment']" id="forum_comment_text"  style="height: 5rem" placeholder="What do you think?" [(ngModel)]="comment.text">
    </textarea>
    <textarea *ngIf="metaData['titleComment']" id="forum_comment_text"  style="height: 5rem" placeholder="What do you think?" [(ngModel)]="comment.text">
    </textarea>
    <span  *ngIf="comment['editMode']">

      <p *ngIf="!metaData['titleComment']" style="font-size: smaller">Press Enter+Shift to type on multiple lines. Enter to send.</p>
      <button mat-raised-button style="background-color: #4080FF;" class="btn white-text" (click)="saveComment()">Save</button>
    </span>
  </div>


  <div class="card-action">

    <a (click)="likeComment()" [ngStyle]="{'background-color': comment.alreadyLiked ? '#4080FF' : 'transparent'}"
       class="btn-floating halfway-fab waves-effect waves-light left interactive-btn" style="left: 15px; bottom: 10px">
      <mat-icon class="material-icons interactive-icon md-36"  [ngStyle]="{'color': comment.alreadyLiked ? 'white' : '#4080FF'}"
                svgIcon="thumb-up-outline"></mat-icon></a>
    <a class="btn-floating halfway-fab waves-effect waves-light left" style="left: 70px; bottom: 10px">
      <p class="btn-text white-text">{{comment.up_votes_count}}</p>
      </a>
    <!--Temporarily disable comment deletion-->
    <!--<a *ngIf="isOwner" (click)="deleteComment()"  class="btn-floating halfway-fab waves-effect waves-light left" style="left: 125px; bottom: 10px">-->
      <!--<i class="material-icons md-36">delete</i></a>-->

    <a *ngIf="isOwner" (click)="comment['editMode'] = !comment['editMode']"  class="btn-floating halfway-fab waves-effect waves-light left" style="left: 125px; bottom: 10px">
      <i class="material-icons md-36">edit</i></a>

  </div>
</div>


<!--<mat-card class="comment-card">-->

    <!--<span id="{{comment.id}}">-->
        <!--<mat-card-header>-->
        <!--<mat-card-title><h5>{{comment.title}}</h5></mat-card-title>-->
        <!--<mat-card-subtitle class="card-text">-->
        <!--<small>{{comment.date_created | date:'MMMM d, y, h:mm a'}}</small>-->
        <!--<span *ngIf="comment.user"><a routerLink="/profile/{{comment.user.username}}">{{comment.user.first_name}} {{comment.user.last_name}}</a> </span>-->
        <!--</mat-card-subtitle>-->
      <!--</mat-card-header>-->

      <!--<mat-card-content>-->
          <!--<p class="card-text">-->
              <!--{{comment.text}}-->
          <!--</p>-->
      <!--</mat-card-content>-->

      <!--<mat-card-actions>-->

            <!--<button mat-mini-fab style="background-color: transparent" [disabled]="comment.user_already_upvoted" (click)="commentVote('upVote')">-->
                    <!--<mat-icon class="md-24" aria-label="Like the comment">thumb_up</mat-icon>-->
                  <!--</button>{{comment.up_votes_count}}-->

                  <!--<button mat-mini-fab style="background-color: transparent" [disabled]="comment.user_already_downvoted" (click)="commentVote('downVote')">-->
                    <!--<mat-icon class="md-24" aria-label="Dislike the comment">thumb_down</mat-icon>-->
                  <!--</button>{{comment.down_votes_count}}-->

        <!--</mat-card-actions>-->
    <!--</span>-->

  <!--</mat-card>-->
