@import '../../styles.scss';
.comment-card{
    margin-top: 3%;
    margin-bottom: 3%;
}

.btn-floating {
  left: 15px;
  bottom: 10px;
  background-color: $my-lighten;
}

.btn-text {
  font-size: larger;
  padding-left: 30%;
  margin-top: 0;
}

.interactive-icon {
  margin-left: 9px;
  margin-top: 6px;

}

.interactive-btn {
  border: 1px solid $my-lighten;
}
